pipeline/Copy_UltimoPlan_Sharepoint_Blob_to_SQL.json
{
	"name": "Copy_UltimoPlan_Sharepoint_Blob_to_SQL",
	"properties": {
		"activities": [
			{
				"name": "Drop Supply Chain Shipping tables",
				"description": "Drop existing Supply Chain Excel tables in DWH",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SqlServerArgent",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "DROP TABLE IF EXISTS [RAW].[SC.Shipping2023UK]\nDROP TABLE IF EXISTS [RAW].[SC.Shipping2022UK]\nDROP TABLE IF EXISTS [RAW].[SC.ShippingNL]",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Copy Shipping 2023 UK",
				"description": "Copy Supply Chain UK Shipping 2023 Excel sheet to DWH",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Drop Supply Chain Shipping tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Blob_SC_Shipping_UK2023_Excel",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_Sharepoint_Data_Tables",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "SC.Shipping2023UK"
						}
					}
				]
			},
			{
				"name": "Copy Shipping 2022 UK",
				"description": "Copy Supply Chain UK Shipping 2022 Excel sheet to DWH",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Drop Supply Chain Shipping tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Blob_SC_Shipping_UK2022_Excel",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_Sharepoint_Data_Tables",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "SC.Shipping2022UK"
						}
					}
				]
			},
			{
				"name": "Copy Shipping NL",
				"description": "Copy Supply Chain NL Shipping Excel sheet to DWH",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Drop Supply Chain Shipping tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Blob_SC_Shipping_NL_Excel",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_Sharepoint_Data_Tables",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "SC.ShippingNL"
						}
					}
				]
			},
			{
				"name": "Lookup Supply Chain Tables",
				"description": "Return the names of the sheets/tables in the Supply Chain data wallet.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Drop Supply Chain Shipping tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "Blob_SC_DataWallet",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Each sheet",
				"description": "Copies each sheet in the lookup sheet to a separate SQL table.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Supply Chain Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Supply Chain Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Data Wallet",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Drop",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Blob_SC_DataWallet_Sheets",
									"type": "DatasetReference",
									"parameters": {
										"SheetName": "@item().SheetName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SQL_Sharepoint_Data_Tables",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "@item().TableName"
									}
								}
							]
						},
						{
							"name": "Drop",
							"description": "Drop existing Supply Chain Excel tables",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SqlServerArgent",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "DROP TABLE IF EXISTS [RAW].[@{item().TableName}]",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Supply Chain"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-14T16:24:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}