pipeline/Copy_StndCostsSpread_Sharepoint_To_BLOB.json
{
	"name": "Copy_StndCostsSpread_Sharepoint_To_BLOB",
	"properties": {
		"description": "Copies Standard Costs and Spread Excel files from the SharePoint site, \"PowerBI data\", to the Azure Blob Storage.",
		"activities": [
			{
				"name": "Sharepoint_token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://accounts.accesscontrol.windows.net/723124e0-74e9-482b-a731-4f534e16e043/tokens/OAuth/2",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&client_id=2de0db9a-9127-408d-a1b4-f79f8da14b07@723124e0-74e9-482b-a731-4f534e16e043&client_secret=nN48Q~nbL5MuWJfZooYV2bW1EuY~Kh_hRMcjJc_J&resource=00000003-0000-0ff1-ce00-000000000000/argentenergyltd.sharepoint.com@723124e0-74e9-482b-a731-4f534e16e043"
				}
			},
			{
				"name": "Copy_Sharepoint_to_Blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Sharepoint_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "Finance%20-%20Standard%20Costs%20and%20Spread')/$value"
					},
					{
						"name": "Destination",
						"value": "standard-costs-files//"
					}
				],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "@{concat('Authorization: Bearer ', activity('Sharepoint_token').output.access_token)}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Sharepoint_StndCostsSpread_ExcelFiles",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Blob_StdCostsSpread_SharepointFiles",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "Finance/Std Costs + Spread"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-11T15:23:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}