pipeline/Excel_Blob_To_SQL_OO.json
{
	"name": "Excel_Blob_To_SQL_OO",
	"properties": {
		"description": "Copies an Excel file with multiple sheets from blob storage to prod environment. Excel file must include sheet/table name tab.",
		"activities": [
			{
				"name": "Excel_tables_lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "Excel_Get_Metadata_OO",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy sheets to tables",
				"description": "Copies each sheet in the lookup sheet to a separate SQL table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Excel_tables_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Excel_tables_lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy from Excel workbook",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Drop",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Excel_Blob_Source_OO",
									"type": "DatasetReference",
									"parameters": {
										"SheetName": "@item().'Sheet Name'"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SQL_Sharepoint_Data_Tables",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "@item().'Table Name'"
									}
								}
							]
						},
						{
							"name": "Drop",
							"description": "Drop existing tables",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SqlServerArgent",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "DROP TABLE IF EXISTS [RAW].[@{item().'Table Name'}]",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-11-14T16:24:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}