pipeline/Finance_AccountBalances_To_BLOB.json
{
	"name": "Finance_AccountBalances_To_BLOB",
	"properties": {
		"description": "Copies data from the Sharepoint site \"PowerBI data\" to the Azure Blob Storage",
		"activities": [
			{
				"name": "Sharepoint_token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": "https://accounts.accesscontrol.windows.net/723124e0-74e9-482b-a731-4f534e16e043/tokens/OAuth/2",
					"body": "grant_type=client_credentials&client_id=2de0db9a-9127-408d-a1b4-f79f8da14b07@723124e0-74e9-482b-a731-4f534e16e043&client_secret=nN48Q~nbL5MuWJfZooYV2bW1EuY~Kh_hRMcjJc_J&resource=00000003-0000-0ff1-ce00-000000000000/argentenergyltd.sharepoint.com@723124e0-74e9-482b-a731-4f534e16e043"
				}
			},
			{
				"name": "Copy_Sharepoint_to_Blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Sharepoint_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "Finance%20DWH%20Excel%20data.xlsx')/$value"
					},
					{
						"name": "Destination",
						"value": "sharepoint-files//@{pipeline().parameters.ExcelName}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "@{concat('Authorization: Bearer ', activity('Sharepoint_token').output.access_token)}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Sharepoint_Finance_AccountBalances",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Blob_Sharepoint_Files",
						"type": "DatasetReference",
						"parameters": {
							"ItemName": {
								"value": "@pipeline().parameters.ExcelName",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"ExcelName": {
				"type": "string",
				"defaultValue": "Finance Manual Account Balancesxlsx"
			}
		},
		"folder": {
			"name": "Finance"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-11T15:23:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}