pipeline/Get_Daily_Settlements.json
{
	"name": "Get_Daily_Settlements",
	"properties": {
		"activities": [
			{
				"name": "Get yesterdays date",
				"description": "Date of pricing",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "YesterdaysDate",
					"value": {
						"value": "@formatDateTime(adddays(utcnow(), -1), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Non weekday check",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get yesterdays date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup Bank Holidays",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(contains(string(activity('Lookup Bank Holidays').output.firstRow), variables('YesterdaysDate')), or(equals(dayOfWeek(variables('YesterdaysDate')), 6), equals(dayOfWeek(variables('YesterdaysDate')), 0)))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "True",
								"value": "Do not run pipeline."
							}
						}
					]
				}
			},
			{
				"name": "Lookup Bank Holidays",
				"description": "Return the most recent England bank holiday.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX([Date]) 'Date'\nFROM [Core].[BankHolidays]\nWHERE [Country] = 'England'\n\tAND [Date] < GETDATE()",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Prod_DB",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "BankHolidays",
							"SchemaName": "Core"
						}
					},
					"firstRowOnly": true
				}
			}
		],
		"variables": {
			"YesterdaysDate": {
				"type": "String"
			},
			"OmjSymbol": {
				"type": "String",
				"defaultValue": "X21-WMR"
			},
			"True": {
				"type": "String"
			},
			"False": {
				"type": "String"
			},
			"LastBankHoliday": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Sales/OMJ"
		},
		"annotations": []
	}
}