pipeline/OMJ_Test.json
{
	"name": "OMJ_Test",
	"properties": {
		"activities": [
			{
				"name": "Get yesterdays date",
				"description": "Date of pricing",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "YesterdaysDate",
					"value": {
						"value": "@formatDateTime(adddays(utcnow(), -1), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy OMJ daily price to BLOB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Symbol",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "OMJ_API_DS",
						"type": "DatasetReference",
						"parameters": {
							"relativeURL": {
								"value": "settlement?date=@{variables('YesterdaysDate')}&instruments=X21-WMR",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "OMJ_API_Sink_DS",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@concat(variables('OmjSymbol'), '_', variables('YesterdaysDate'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Symbol",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get yesterdays date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "OmjSymbol",
					"value": "X21-WMR"
				}
			}
		],
		"variables": {
			"YesterdaysDate": {
				"type": "String"
			},
			"OmjSymbol": {
				"type": "String",
				"defaultValue": "X21-WMR"
			}
		},
		"folder": {
			"name": "Sales/OMJ"
		},
		"annotations": []
	}
}