pipeline/SupplyChain_Sharepoint_To_Blob.json
{
	"name": "SupplyChain_Sharepoint_To_Blob",
	"properties": {
		"description": "Copies data from the Supply Chain SharePoint site \"Bulk Import and Export\" to the Azure Blob Storage",
		"activities": [
			{
				"name": "Sharepoint_token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://accounts.accesscontrol.windows.net/723124e0-74e9-482b-a731-4f534e16e043/tokens/OAuth/2",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&client_id=2de0db9a-9127-408d-a1b4-f79f8da14b07@723124e0-74e9-482b-a731-4f534e16e043&client_secret=nN48Q~nbL5MuWJfZooYV2bW1EuY~Kh_hRMcjJc_J&resource=00000003-0000-0ff1-ce00-000000000000/argentenergyltd.sharepoint.com@723124e0-74e9-482b-a731-4f534e16e043"
				}
			},
			{
				"name": "Copy_SharePoint_to_Blob_UK",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Sharepoint_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "Shipping%20planning%20Stanlow.xlsx')/$value"
					},
					{
						"name": "Destination",
						"value": "sharepoint-files//@{pipeline().parameters.ExcelUK}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "@{concat('Authorization: Bearer ', activity('Sharepoint_token').output.access_token)}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SharePoint_SC_UK",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Blob_Sharepoint_Files",
						"type": "DatasetReference",
						"parameters": {
							"ItemName": "@pipeline().parameters.ExcelUK"
						}
					}
				]
			},
			{
				"name": "Copy_SharePoint_to_Blob_NL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Sharepoint_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "Tankopslag%20en%20Planning.xlsx')/$value"
					},
					{
						"name": "Destination",
						"value": "sharepoint-files//@{pipeline().parameters.ExcelNL}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "@{concat('Authorization: Bearer ', activity('Sharepoint_token').output.access_token)}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SharePoint_SC_NL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Blob_Sharepoint_Files",
						"type": "DatasetReference",
						"parameters": {
							"ItemName": "@pipeline().parameters.ExcelNL"
						}
					}
				]
			}
		],
		"parameters": {
			"ExcelUK": {
				"type": "string",
				"defaultValue": "Shipping planning Stanlow.xlsx"
			},
			"ExcelNL": {
				"type": "string",
				"defaultValue": "Tankopslag en Planning.xlsx"
			}
		},
		"folder": {
			"name": "Supply Chain"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-11T15:23:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}