pipeline/TEST_Get_Daily_Prices.json
{
	"name": "TEST_Get_Daily_Prices",
	"properties": {
		"activities": [
			{
				"name": "Get yesterdays date",
				"description": "Date of pricing",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "YesterdaysDate",
					"value": "2024-02-23"
				}
			},
			{
				"name": "Lookup products",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get yesterdays date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [Symbol]\nFROM [RAW].[S.OmjProducts]\nWHERE [Vendor] = 'FT'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OmjPricesTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup products",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup products').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy OMJ daily price to BLOB",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{concat('settlement?date=', variables('YesterdaysDate'), '&instruments=', item().Symbol)}"
								},
								{
									"name": "Destination",
									"value": "omj-daily-prices/@{variables('YesterdaysDate')}/@{concat(concat(item().Symbol, '_', variables('YesterdaysDate')), '.json')}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['id']"
											},
											"sink": {
												"name": "id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['date']"
											},
											"sink": {
												"name": "date",
												"type": "DateTimeOffset"
											}
										},
										{
											"source": {
												"path": "$['contractName']"
											},
											"sink": {
												"name": "contractName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['settlement']"
											},
											"sink": {
												"name": "settlement",
												"type": "Decimal"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "OMJ_API_DS",
									"type": "DatasetReference",
									"parameters": {
										"relativeURL": {
											"value": "settlement?date=@{variables('YesterdaysDate')}&instruments=@{item().Symbol}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "OmjPricesTable",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"YesterdaysDate": {
				"type": "String"
			},
			"OmjSymbol": {
				"type": "String",
				"defaultValue": "X21-WMR"
			}
		},
		"folder": {
			"name": "OMJ"
		},
		"annotations": []
	}
}