pipeline/VesselFinder_PortData.json
{
	"name": "VesselFinder_PortData",
	"properties": {
		"activities": [
			{
				"name": "Lookup IMO",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "VesselFinder_IMOs",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Each IMO",
				"description": "Copies each IMO number in the lookup table to a separate API request.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup IMO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup IMO').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_VesselFinder_To_Blob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "VesselFinder_Ports",
									"type": "DatasetReference",
									"parameters": {
										"IMO": {
											"value": "@string(item().imo)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "VesselFinder_Ports_JSON_Outputs",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Vessel Portcalls JSON Blob Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Each IMO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "VesselFinder_Ports_JSON_Outputs",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "Copy Portcalls",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Vessel Portcalls JSON Blob Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "Stamp",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "VesselFinder_Ports_JSON_Outputs",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_Argent_Database",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "VesselFinderPortCalls"
						}
					}
				]
			}
		],
		"folder": {
			"name": "Supply Chain"
		},
		"annotations": []
	}
}