adf-aeanalytics-prod/linkedTemplates/ArmTemplate_7.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-aeanalytics-prod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Pricing_Data_Trade_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute BLOB To SQL For Pricing Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy_Pricing_Sharepoint_To_BLOB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Pricing_Blob_to_SQL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Data Marks Script",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute BLOB To SQL For Pricing Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Pricing_Data_Marks_Script",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute SQL To BLOB For Trade Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Data Marks Script",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Trade-Tables_To_BLOB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Copy_Pricing_Sharepoint_To_BLOB",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Pricing_Sharepoint_To_BLOB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Send Email Alert",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get the Ticket Number",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://ae-adf-emailnotification.azurewebsites.net:443/api/Argent-Alerting/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=Aso6aks8InhkiT92JgC0HG-J1IvmAhT5B94OpeVK9lo",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n    \"receiver\":\"@{pipeline().parameters.receiver}\",\n    \"title\":\"Pipeline Run Failed\",\n    \"message\":\"Job failed, ticket raised @{variables('TicketNo')}\",\n    \"color\":\"Red\",\n    \"dataFactoryName\":\"@{pipeline().DataFactory}\",\n    \"pipelineName\":\"@{pipeline().Pipeline}\",\n    \"pipelineRunId\":\"@{pipeline().RunId}\",\n    \"time\":\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Raise an Incident",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Execute Data Marks Script",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://eu2api.symphonysummit.com/Argent/REST/Summit_RESTWCF.svc/RESTService/CommonWS_JsonObjCall",
							"method": "POST",
							"headers": {},
							"body": {
								"ServiceName": "IM_LogOrUpdateIncident",
								"objCommonParameters": {
									"_ProxyDetails": {
										"AuthType": "APIKEY",
										"APIKey": "tryDnK94yXfNHDFbDyiy6HltkdY2uvw0f5UtnFfGZiY=",
										"ProxyID": 0,
										"ReturnType": "JSON",
										"OrgID": 1
									},
									"incidentParamsJSON": {
										"IncidentContainerJsonObj": {
											"Updater": "Executive",
											"CI_Key": "hostname",
											"CI_Value": "",
											"Ticket": {
												"IsFromWebService": true,
												"Priority_Name": "P3 - Medium",
												"Classification_Name": "Data or Process in system not working",
												"Sup_Function": "IT",
												"Caller_EmailID": "lyndon.johnson@argentenergy.com",
												"Status": "New",
												"Urgency_Name": "Stops Work",
												"Assigned_WorkGroup_Name": "Argent Reporting Support Team",
												"Medium": "Web",
												"Impact_Name": "Multiple Users",
												"Category_Name": "Argent Reporting",
												"CI_ID": "",
												"SLA_Name": "",
												"OpenCategory_Name": "Argent Reporting",
												"Source": "Person",
												"Description": "@{pipeline().parameters.TicketMessage}",
												"PageName": "TicketDetail"
											},
											"TicketInformation": {
												"Information": "TEST Ticket",
												"InternalLog": "#InternalLog#",
												"UserLog": "",
												"Solution": "#Solution#"
											},
											"CustomFields": []
										}
									},
									"RequestType": "RemoteCall"
								}
							}
						}
					},
					{
						"name": "Get the Ticket Number",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Raise an Incident",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "TicketNo",
							"value": {
								"value": "@string(activity('Raise an Incident').output.TicketNo)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"receiver": {
						"type": "string",
						"defaultValue": "data.mi@argentenergy.com"
					},
					"TicketID": {
						"type": "string"
					},
					"JobMessage": {
						"type": "string",
						"defaultValue": "Azure Data Factory Error"
					},
					"TicketMessage": {
						"type": "string",
						"defaultValue": "Automated message: Data job has failedJob Failed"
					}
				},
				"variables": {
					"TicketNo": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Trade/Pricing"
				},
				"annotations": [],
				"lastPublishTime": "2022-09-14T10:20:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Finance_MainPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy Blob to SQL DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CREATEGL_Script_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CREATEGL_Script_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CREATE_TB_Rec",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CREATEGL_Script_3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CREATE_TB_Rec",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CREATEGL_Script_3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CREATEGL_Script_3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Copy Sharepoint to Blob",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Finance_Sharepoint_To_BLOB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Copy Blob to SQL DB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy Sharepoint to Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Finance_Sharepoint_Blob_to_SQL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_Exceptions",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_CurrencyExposure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Exceptions",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_Subledger_TransactionsList_Blend_CoreTables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CREATE_TB_Rec",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Subledger_TransactionsList_Blend_CoreTables",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_BlendMarginAnalysis",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_Subledger_TransactionsList_Blend_CoreTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_BlendMarginAnalysis",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_CurrencyExposure",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_BlendMarginAnalysis",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_CurrencyExposure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_SubledgerSuppliersCustomers",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_Subledger_TransactionsList_Blend_CoreTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_SubledgerSuppliersCustomers",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_TransactionsList",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_SubledgerSuppliersCustomers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_TransactionsList",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Finance"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-05T10:34:53Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_SupplyChain_Main_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SQL_PurchaseContracts_SalesContracts",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SupplyChain_Blob_to_SQL",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							},
							{
								"activity": "SupplyChain_Sharepoint_To_Blob",
								"dependencyConditions": [
									"Failed",
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_PurchaseContracts_SalesContracts",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_Inventory_OnHandBalance",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_PurchaseContracts_SalesContracts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Inventory_OnHandBalance",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_SalesContracts_Invoices",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_Inventory_OnHandBalance",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_SalesContracts_Invoices",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SupplyChain_Blob_to_SQL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SupplyChain_Sharepoint_To_Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SupplyChain_Blob_to_SQL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_Inventory_QuantityTracker",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_SalesContracts_Invoices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Inventory_QuantityTracker",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_ShippingData",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_TSA_Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_ShippingData",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_GIT_Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_ShippingData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_GIT_Tables",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VesselFinder_GetData",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_GIT_Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VesselFinder_GetData",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_TSA_Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_Inventory_QuantityTracker",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_TSA_Tables",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VesselFinder_PortData",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VesselFinder_GetData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VesselFinder_PortData",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SupplyChain_Sharepoint_To_Blob",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SupplyChain_Sharepoint_To_Blob",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Supply Chain"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/appianPull')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pull BPA Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Total Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Total Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Unit Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Agreement Quantity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Blanket Agreement Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Delivered Quantity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Order Quantity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Order Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Remaining Quantity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Remaining Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Trucks",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Trucks",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Position Now",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Position Now",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Expected Position",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Expected Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeknumbers Contract",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Weeknumbers Contract",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeks Remaining",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Weeks Remaining",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Next Monday",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Next Monday",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Unit Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Transporter Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Transporter Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Unit Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Additional Charges 1 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Additional Charges 1 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Unit Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Additional Charges 2 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Additional Charges 2 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Amount Released Against Agreement",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Amount Released Against Agreement",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR USD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EUR USD",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR GBP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EUR GBP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DateStamp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DateStamp",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Yield Adjusted Volume",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Mid Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Agreement Mid Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Non-Delivered Quantity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Non-Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "testAppian",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/appianPull_Suppliers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pull BPA Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Supplier ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Depot Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Depot_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Party Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Party_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Organization Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Organization_Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supplier Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supplier Inactive Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_Inactive_Date",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Vendor Site ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vendor_Site_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Prc BU ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Prc_BU_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Location ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Location_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_Site_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Purchasing Site Flag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchasing_Site_Flag",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pay Site Flag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pay_Site_Flag",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Terms ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Terms_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site Invoice Currency Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Site_Invoice_Currency_Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site Payment Currency Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Site_Payment_Currency_Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site Inactive Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Site_Inactive_Date",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VIHB Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VIHB_Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Vendor Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vendor_Category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ISCC Cetificate Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ISCC_Cetificate_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ISCC Certificate Expiry Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ISCC_Certificate_Expiry_Date",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site VET ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Site_VET_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "INS Certificate Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "INS_Certificate_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "INS Certificate Expiry Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "INS_Certificate_Expiry_Date",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site Terms Date Basis",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Site_Terms_Date_Basis",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Postal Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Postal_Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IBAN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IBAN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BANK_ACCOUNT_NUM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BANK_ACCOUNT_NUM",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Party ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "partyID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Vendor ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VendorID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Party Site ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ParySiteID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "testAppian_suppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable2_Suppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/appianPull_Suppliers_V2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pull SuppliersData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supplier Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_number",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "Supplier Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BU_bill_to",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BU_bill_to",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BPA_EXISTS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BPA_exists",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_line_1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address Line 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_line_2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address Line 3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_line_3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Postal Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Postal_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "E_mail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Purchasing Site Flag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchasing",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pay",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pay",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site Inactive Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Inactive_date_VET_ID_expiry_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Site VET ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VET_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ISCC Cetificate Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ISCC_certificate_number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ISCC Certificate Expiry Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ISCC_certificate_expiry_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "INS Certificate Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "INS_certificate_number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "INS Certificate Expiry Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "INS_certificate_expiry_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "CERTIFICATION_TYPE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Certification_type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GMP_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GMP_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VIHB Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VIHB_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Vendor Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vendor_category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DEFAULT_PAYMENT_METHOD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Default_payment_method",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Payment terms",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Payment_terms",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site Invoice Currency Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_currency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site Payment Currency Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Payment_currency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BIC_SWIFT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BIC_SWIFT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VAT_NUM_SUP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VAT_number_supplier",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VAT_NUM_SITE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VAT_number_site",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IBAN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IBAN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BANK_ACCOUNT_NUM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Bank_account_number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supplier_creation_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_creation_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "ADDRESS_CREATION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_creation_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SITE_CREATION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Site_creation_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "testAppian_suppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable2_Suppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/appianPull_test_BPA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pull BPA Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Total Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Total Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Unit Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Agreement Quantity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Blanket Agreement Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Delivered Quantity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Order Quantity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Order Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Remaining Quantity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Remaining Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Trucks",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Trucks",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Position Now",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Position Now",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Expected Position",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Expected Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeknumbers Contract",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Weeknumbers Contract",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeks Remaining",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Weeks Remaining",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Next Monday",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Next Monday",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Unit Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Transporter Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Transporter Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Unit Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Additional Charges 1 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Additional Charges 1 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Unit Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Additional Charges 2 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Additional Charges 2 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Amount Released Against Agreement",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Amount Released Against Agreement",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR USD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EUR USD",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR GBP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EUR GBP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DateStamp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DateStamp",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Yield Adjusted Volume",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Mid Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Agreement Mid Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Non-Delivered Quantity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Non-Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "testAppian",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Appian_test_BPA",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/appianPull_test_traceability_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pull traceabilityData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CREATION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CREATION_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BUSINESS_UNIT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BUSINESS_UNIT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORGANIZATION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUBINVENTORY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUBINVENTORY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PHYSICAL_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PHYSICAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DOCUMENT_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DOCUMENT_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_TYPE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "REASON_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "REASON_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WORK_DEFINITION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WORK_DEFINITION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ITEM_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ITEM_DESCRIPTION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UNIT_OF_MEASURE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UNIT_OF_MEASURE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSFER_SUBINVENTORY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSFER_SUBINVENTORY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUPPLIER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUPPLIER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUPPLIER_SITE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUPPLIER_SITE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AGREEMENT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AGREEMENT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EXT_REFERENCE_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EXT_REFERENCE_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIPPING_METHOD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SHIPPING_METHOD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "QUANTITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "QUANTITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TANK_BALANCE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TANK_BALANCE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RUNNING_TOTAL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RUNNING_TOTAL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GRADE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GRADE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOT_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LOT_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSTYPE_REASON",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSTYPE_REASON",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DENSITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DENSITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STD_LTRS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STD_LTRS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Stamp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Stamp",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "testAppian_traceability",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Appian_test_traceability",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/appianPull_traceability')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pull traceabilityData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CREATION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CREATION_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BUSINESS_UNIT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BUSINESS_UNIT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORGANIZATION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUBINVENTORY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUBINVENTORY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PHYSICAL_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PHYSICAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DOCUMENT_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DOCUMENT_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_TYPE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "REASON_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "REASON_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WORK_DEFINITION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WORK_DEFINITION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ITEM_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ITEM_DESCRIPTION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UNIT_OF_MEASURE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UNIT_OF_MEASURE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSFER_SUBINVENTORY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSFER_SUBINVENTORY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUPPLIER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUPPLIER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUPPLIER_SITE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUPPLIER_SITE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AGREEMENT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AGREEMENT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EXT_REFERENCE_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EXT_REFERENCE_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIPPING_METHOD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SHIPPING_METHOD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "QUANTITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "QUANTITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TANK_BALANCE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TANK_BALANCE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RUNNING_TOTAL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RUNNING_TOTAL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GRADE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GRADE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOT_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LOT_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSTYPE_REASON",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSTYPE_REASON",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DENSITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DENSITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STD_LTRS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STD_LTRS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Stamp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Stamp",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "testAppian_traceability",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable2_traceability",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/appian_test_Pull_Suppliers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pull SuppliersData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supplier Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_number",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "Supplier Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BU_bill_to",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BU_bill_to",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BPA_EXISTS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BPA_exists",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_line_1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address Line 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_line_2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address Line 3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_line_3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Postal Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Postal_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "E_mail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Purchasing Site Flag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchasing",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pay",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pay",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site Inactive Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Inactive_date_VET_ID_expiry_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Site VET ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VET_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ISCC Cetificate Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ISCC_certificate_number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ISCC Certificate Expiry Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ISCC_certificate_expiry_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "INS Certificate Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "INS_certificate_number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "INS Certificate Expiry Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "INS_certificate_expiry_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "CERTIFICATION_TYPE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Certification_type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GMP_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GMP_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VIHB Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VIHB_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Vendor Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vendor_category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DEFAULT_PAYMENT_METHOD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Default_payment_method",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Payment terms",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Payment_terms",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site Invoice Currency Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_currency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site Payment Currency Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Payment_currency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BIC_SWIFT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BIC_SWIFT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VAT_NUM_SUP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VAT_number_supplier",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VAT_NUM_SITE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VAT_number_site",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IBAN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IBAN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BANK_ACCOUNT_NUM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Bank_account_number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supplier_creation_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_creation_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "ADDRESS_CREATION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_creation_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SITE_CREATION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Site_creation_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "testAppian_suppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AppianTest",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GL_Trigger_Afternoon')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SQL_Create_GL_TB_AfternoonRun",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2023-06-14T15:00:00",
						"timeZone": "GMT Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Update Appian Production')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Clear Prod Staging Tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[prc_AppianClearStaging]"
						},
						"linkedServiceName": {
							"referenceName": "Appian_prod",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Populate BPA Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Clear Prod Staging Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Appian BPA Pull  Prod",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Populate Suppliers Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Populate BPA Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Appian Suppliers Pull Prod",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Populate Traceability Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Populate Suppliers Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Appian Traceability Pull Prod",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Appian PipeLine_Prod"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UpdateAppianFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get BPA Data",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DevAppian_BPA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Get Suppliers Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Get BPA Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DevAppian_Suppliers",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Get Traceability Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Get Suppliers Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DevAppian_traceability",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Pull BPA Data - Dev",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Clear Staging Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "appianPull_test_BPA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Pullv Suppliers Data - Dev",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Pull BPA Data - Dev",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "appianPull_Suppliers_V2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Pull Traceability Data - Dev",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Pullv Suppliers Data - Dev",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "appianPull_traceability",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Clear Staging Tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Get Traceability Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[prc_AppianClearStaging]"
						},
						"linkedServiceName": {
							"referenceName": "appDev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Clear Main",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Pull Traceability Data - Dev",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[prc_AppianClearMain]"
						},
						"linkedServiceName": {
							"referenceName": "appDev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Move Staging To Main",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Clear Main",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[prc_AppianPopulateMain]"
						},
						"linkedServiceName": {
							"referenceName": "appDev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Appian PipeLine_Prod"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/appianPull_test_BPA')]",
				"[concat(variables('factoryId'), '/pipelines/appianPull_Suppliers_V2')]",
				"[concat(variables('factoryId'), '/pipelines/appianPull_traceability')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ARGENT_Exp_And_Pos_TRADE_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Oracle_Data_Trade_Pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2023-05-18T01:30:00",
						"timeZone": "GMT Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ARGENT_Pricing_TRADE_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Pricing_Data_Trade_Pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-07-21T09:14:00",
						"timeZone": "W. Europe Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								10
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Pricing_Data_Trade_Pipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ARGENT_SupplyChain_MainPipeline')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SQL_SupplyChain_Main_Pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2023-05-18T06:00:00",
						"timeZone": "GMT Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SQL_SupplyChain_Main_Pipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ARGENT_Trade_Afternoon_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Oracle_Data_Trade_Pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2023-05-25T12:00:00",
						"timeZone": "GMT Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GL_TRIGGER')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SQL_Finance_MainPipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2023-05-23T04:00:00",
						"timeZone": "GMT Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SQL_Finance_MainPipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_Dev_Release')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This Pipeline populates the Deve environment for Appian",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "UpdateAppianFiles",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-08-15T22:00:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								22
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/UpdateAppianFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_Prod')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Update Appian Production",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 15,
						"startTime": "2023-08-18T00:32:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								23
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Update Appian Production')]"
			]
		}
	]
}