adf-aeanalytics-prod/linkedTemplates/ArmTemplate_9.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-aeanalytics-prod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AppianProdSuppliers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Appian_prod",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Supplier_Name",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_number",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Supplier_type",
						"type": "nvarchar"
					},
					{
						"name": "BU_bill_to",
						"type": "nvarchar"
					},
					{
						"name": "BPA_exists",
						"type": "nvarchar"
					},
					{
						"name": "Category_name",
						"type": "nvarchar"
					},
					{
						"name": "Address_name",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_1",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_2",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_3",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_4",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "Postal_code",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "E_mail",
						"type": "nvarchar"
					},
					{
						"name": "Site_name",
						"type": "nvarchar"
					},
					{
						"name": "Purchasing",
						"type": "nvarchar"
					},
					{
						"name": "Pay",
						"type": "nvarchar"
					},
					{
						"name": "Inactive_date_VET_ID_expiry_date",
						"type": "date"
					},
					{
						"name": "VET_ID",
						"type": "nvarchar"
					},
					{
						"name": "ISCC_certificate_number",
						"type": "nvarchar"
					},
					{
						"name": "ISCC_certificate_expiry_date",
						"type": "date"
					},
					{
						"name": "INS_certificate_number",
						"type": "nvarchar"
					},
					{
						"name": "INS_certificate_expiry_date",
						"type": "date"
					},
					{
						"name": "Certification_type",
						"type": "nvarchar"
					},
					{
						"name": "GMP_ID",
						"type": "nvarchar"
					},
					{
						"name": "VIHB_code",
						"type": "nvarchar"
					},
					{
						"name": "Vendor_category",
						"type": "nvarchar"
					},
					{
						"name": "Default_payment_method",
						"type": "nvarchar"
					},
					{
						"name": "Payment_terms",
						"type": "nvarchar"
					},
					{
						"name": "Invoice_currency",
						"type": "nvarchar"
					},
					{
						"name": "Payment_currency",
						"type": "nvarchar"
					},
					{
						"name": "BIC_SWIFT",
						"type": "nvarchar"
					},
					{
						"name": "VAT_number_supplier",
						"type": "nvarchar"
					},
					{
						"name": "VAT_number_site",
						"type": "nvarchar"
					},
					{
						"name": "IBAN",
						"type": "nvarchar"
					},
					{
						"name": "Bank_account_number",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_creation_date",
						"type": "date"
					},
					{
						"name": "Address_creation_date",
						"type": "date"
					},
					{
						"name": "Site_creation_date",
						"type": "date"
					},
					{
						"name": "Site_created_by",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "SuppliersReport_Suppliers"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AppianTest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Appian_Test",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Supplier_Name",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_number",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Supplier_type",
						"type": "nvarchar"
					},
					{
						"name": "BU_bill_to",
						"type": "nvarchar"
					},
					{
						"name": "BPA_exists",
						"type": "nvarchar"
					},
					{
						"name": "Category_name",
						"type": "nvarchar"
					},
					{
						"name": "Address_name",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_1",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_2",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_3",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_4",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "Postal_code",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "E_mail",
						"type": "nvarchar"
					},
					{
						"name": "Site_name",
						"type": "nvarchar"
					},
					{
						"name": "Purchasing",
						"type": "nvarchar"
					},
					{
						"name": "Pay",
						"type": "nvarchar"
					},
					{
						"name": "Inactive_date_VET_ID_expiry_date",
						"type": "date"
					},
					{
						"name": "VET_ID",
						"type": "nvarchar"
					},
					{
						"name": "ISCC_certificate_number",
						"type": "nvarchar"
					},
					{
						"name": "ISCC_certificate_expiry_date",
						"type": "date"
					},
					{
						"name": "INS_certificate_number",
						"type": "nvarchar"
					},
					{
						"name": "INS_certificate_expiry_date",
						"type": "date"
					},
					{
						"name": "Certification_type",
						"type": "nvarchar"
					},
					{
						"name": "GMP_ID",
						"type": "nvarchar"
					},
					{
						"name": "VIHB_code",
						"type": "nvarchar"
					},
					{
						"name": "Vendor_category",
						"type": "nvarchar"
					},
					{
						"name": "Default_payment_method",
						"type": "nvarchar"
					},
					{
						"name": "Payment_terms",
						"type": "nvarchar"
					},
					{
						"name": "Invoice_currency",
						"type": "nvarchar"
					},
					{
						"name": "Payment_currency",
						"type": "nvarchar"
					},
					{
						"name": "BIC_SWIFT",
						"type": "nvarchar"
					},
					{
						"name": "VAT_number_supplier",
						"type": "nvarchar"
					},
					{
						"name": "VAT_number_site",
						"type": "nvarchar"
					},
					{
						"name": "IBAN",
						"type": "nvarchar"
					},
					{
						"name": "Bank_account_number",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_creation_date",
						"type": "date"
					},
					{
						"name": "Address_creation_date",
						"type": "date"
					},
					{
						"name": "Site_creation_date",
						"type": "date"
					},
					{
						"name": "Site_created_by",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "SuppliersReport_Suppliers"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_Prod')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Appian_prod",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "Staging",
					"table": "AppianBPA"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_Prod_Traceablity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Appian_prod",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CREATION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "BUSINESS_UNIT",
						"type": "nvarchar"
					},
					{
						"name": "ORGANIZATION",
						"type": "nvarchar"
					},
					{
						"name": "SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "PHYSICAL_DATE",
						"type": "nvarchar"
					},
					{
						"name": "DOCUMENT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "REASON_NAME",
						"type": "nvarchar"
					},
					{
						"name": "WORK_DEFINITION",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_CODE",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "UNIT_OF_MEASURE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSFER_SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER_SITE",
						"type": "nvarchar"
					},
					{
						"name": "AGREEMENT",
						"type": "nvarchar"
					},
					{
						"name": "EXT_REFERENCE_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "SHIPPING_METHOD",
						"type": "nvarchar"
					},
					{
						"name": "QUANTITY",
						"type": "nvarchar"
					},
					{
						"name": "TANK_BALANCE",
						"type": "nvarchar"
					},
					{
						"name": "RUNNING_TOTAL",
						"type": "nvarchar"
					},
					{
						"name": "GRADE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_ID",
						"type": "nvarchar"
					},
					{
						"name": "LOT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSTYPE_REASON",
						"type": "nvarchar"
					},
					{
						"name": "DENSITY",
						"type": "nvarchar"
					},
					{
						"name": "STD_LTRS",
						"type": "nvarchar"
					},
					{
						"name": "Stamp",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "traceabilityReport"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_test_BPA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Appian_Test",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Business Unit Name",
						"type": "varchar"
					},
					{
						"name": "Blanket Purchase Agreement Number",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Status",
						"type": "varchar"
					},
					{
						"name": "Supplier Name",
						"type": "varchar"
					},
					{
						"name": "Supplier Site Name",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Description",
						"type": "varchar"
					},
					{
						"name": "Item Code",
						"type": "varchar"
					},
					{
						"name": "Item Name",
						"type": "varchar"
					},
					{
						"name": "Item Description",
						"type": "varchar"
					},
					{
						"name": "Category Code",
						"type": "varchar"
					},
					{
						"name": "Total Price",
						"type": "varchar"
					},
					{
						"name": "Unit Price",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Currency",
						"type": "varchar"
					},
					{
						"name": "Blanket Agreement Quantity",
						"type": "varchar"
					},
					{
						"name": "UOM Code",
						"type": "varchar"
					},
					{
						"name": "Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Order Quantity",
						"type": "varchar"
					},
					{
						"name": "Remaining Quantity",
						"type": "varchar"
					},
					{
						"name": "Trucks",
						"type": "varchar"
					},
					{
						"name": "Position Now",
						"type": "varchar"
					},
					{
						"name": "Expected Position",
						"type": "varchar"
					},
					{
						"name": "Weeknumbers Contract",
						"type": "varchar"
					},
					{
						"name": "Weeks Remaining",
						"type": "varchar"
					},
					{
						"name": "Next Monday",
						"type": "varchar"
					},
					{
						"name": "Agreement Start Date",
						"type": "varchar"
					},
					{
						"name": "Agreement End Date",
						"type": "varchar"
					},
					{
						"name": "Shipping Method",
						"type": "varchar"
					},
					{
						"name": "Incoterm",
						"type": "varchar"
					},
					{
						"name": "Transporter Name",
						"type": "varchar"
					},
					{
						"name": "Transporter Unit Price",
						"type": "varchar"
					},
					{
						"name": "Transporter Amount",
						"type": "varchar"
					},
					{
						"name": "Transporter Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Currency",
						"type": "varchar"
					},
					{
						"name": "Buyer",
						"type": "varchar"
					},
					{
						"name": "Sustainability Position",
						"type": "varchar"
					},
					{
						"name": "Supplier Item",
						"type": "varchar"
					},
					{
						"name": "Deal Date",
						"type": "varchar"
					},
					{
						"name": "Agreement Amount",
						"type": "varchar"
					},
					{
						"name": "Amount Released Against Agreement",
						"type": "varchar"
					},
					{
						"name": "Note To Vendor",
						"type": "varchar"
					},
					{
						"name": "FFA Spec",
						"type": "varchar"
					},
					{
						"name": "Line Status",
						"type": "varchar"
					},
					{
						"name": "EUR USD",
						"type": "varchar"
					},
					{
						"name": "EUR GBP",
						"type": "varchar"
					},
					{
						"name": "Updated Contract Status",
						"type": "varchar"
					},
					{
						"name": "DateStamp",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume",
						"type": "varchar"
					},
					{
						"name": "Agreement Mid Date",
						"type": "varchar"
					},
					{
						"name": "Non-Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume Non-Delivered",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "AppianBPA"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_test_traceability')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Appian_Test",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CREATION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "BUSINESS_UNIT",
						"type": "nvarchar"
					},
					{
						"name": "ORGANIZATION",
						"type": "nvarchar"
					},
					{
						"name": "SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "PHYSICAL_DATE",
						"type": "nvarchar"
					},
					{
						"name": "DOCUMENT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "REASON_NAME",
						"type": "nvarchar"
					},
					{
						"name": "WORK_DEFINITION",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_CODE",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "UNIT_OF_MEASURE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSFER_SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER_SITE",
						"type": "nvarchar"
					},
					{
						"name": "AGREEMENT",
						"type": "nvarchar"
					},
					{
						"name": "EXT_REFERENCE_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "SHIPPING_METHOD",
						"type": "nvarchar"
					},
					{
						"name": "QUANTITY",
						"type": "nvarchar"
					},
					{
						"name": "TANK_BALANCE",
						"type": "nvarchar"
					},
					{
						"name": "RUNNING_TOTAL",
						"type": "nvarchar"
					},
					{
						"name": "GRADE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_ID",
						"type": "nvarchar"
					},
					{
						"name": "LOT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSTYPE_REASON",
						"type": "nvarchar"
					},
					{
						"name": "DENSITY",
						"type": "nvarchar"
					},
					{
						"name": "STD_LTRS",
						"type": "nvarchar"
					},
					{
						"name": "Stamp",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "traceabilityReport"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "appDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Business Unit Name",
						"type": "varchar"
					},
					{
						"name": "Blanket Purchase Agreement Number",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Status",
						"type": "varchar"
					},
					{
						"name": "Supplier Name",
						"type": "varchar"
					},
					{
						"name": "Supplier Site Name",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Description",
						"type": "varchar"
					},
					{
						"name": "Item Code",
						"type": "varchar"
					},
					{
						"name": "Item Name",
						"type": "varchar"
					},
					{
						"name": "Item Description",
						"type": "varchar"
					},
					{
						"name": "Category Code",
						"type": "varchar"
					},
					{
						"name": "Total Price",
						"type": "varchar"
					},
					{
						"name": "Unit Price",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Currency",
						"type": "varchar"
					},
					{
						"name": "Blanket Agreement Quantity",
						"type": "varchar"
					},
					{
						"name": "UOM Code",
						"type": "varchar"
					},
					{
						"name": "Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Order Quantity",
						"type": "varchar"
					},
					{
						"name": "Remaining Quantity",
						"type": "varchar"
					},
					{
						"name": "Trucks",
						"type": "varchar"
					},
					{
						"name": "Position Now",
						"type": "varchar"
					},
					{
						"name": "Expected Position",
						"type": "varchar"
					},
					{
						"name": "Weeknumbers Contract",
						"type": "varchar"
					},
					{
						"name": "Weeks Remaining",
						"type": "varchar"
					},
					{
						"name": "Next Monday",
						"type": "varchar"
					},
					{
						"name": "Agreement Start Date",
						"type": "varchar"
					},
					{
						"name": "Agreement End Date",
						"type": "varchar"
					},
					{
						"name": "Shipping Method",
						"type": "varchar"
					},
					{
						"name": "Incoterm",
						"type": "varchar"
					},
					{
						"name": "Transporter Name",
						"type": "varchar"
					},
					{
						"name": "Transporter Unit Price",
						"type": "varchar"
					},
					{
						"name": "Transporter Amount",
						"type": "varchar"
					},
					{
						"name": "Transporter Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Currency",
						"type": "varchar"
					},
					{
						"name": "Buyer",
						"type": "varchar"
					},
					{
						"name": "Sustainability Position",
						"type": "varchar"
					},
					{
						"name": "Supplier Item",
						"type": "varchar"
					},
					{
						"name": "Deal Date",
						"type": "varchar"
					},
					{
						"name": "Agreement Amount",
						"type": "varchar"
					},
					{
						"name": "Amount Released Against Agreement",
						"type": "varchar"
					},
					{
						"name": "Note To Vendor",
						"type": "varchar"
					},
					{
						"name": "FFA Spec",
						"type": "varchar"
					},
					{
						"name": "Line Status",
						"type": "varchar"
					},
					{
						"name": "EUR USD",
						"type": "varchar"
					},
					{
						"name": "EUR GBP",
						"type": "varchar"
					},
					{
						"name": "Updated Contract Status",
						"type": "varchar"
					},
					{
						"name": "DateStamp",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume",
						"type": "varchar"
					},
					{
						"name": "Agreement Mid Date",
						"type": "varchar"
					},
					{
						"name": "Non-Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume Non-Delivered",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "AppianBPA"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "appDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Business Unit Name",
						"type": "varchar"
					},
					{
						"name": "Blanket Purchase Agreement Number",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Status",
						"type": "varchar"
					},
					{
						"name": "Supplier Name",
						"type": "varchar"
					},
					{
						"name": "Supplier Site Name",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Description",
						"type": "varchar"
					},
					{
						"name": "Item Code",
						"type": "varchar"
					},
					{
						"name": "Item Name",
						"type": "varchar"
					},
					{
						"name": "Item Description",
						"type": "varchar"
					},
					{
						"name": "Category Code",
						"type": "varchar"
					},
					{
						"name": "Total Price",
						"type": "varchar"
					},
					{
						"name": "Unit Price",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Currency",
						"type": "varchar"
					},
					{
						"name": "Blanket Agreement Quantity",
						"type": "varchar"
					},
					{
						"name": "UOM Code",
						"type": "varchar"
					},
					{
						"name": "Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Order Quantity",
						"type": "varchar"
					},
					{
						"name": "Remaining Quantity",
						"type": "varchar"
					},
					{
						"name": "Trucks",
						"type": "varchar"
					},
					{
						"name": "Position Now",
						"type": "varchar"
					},
					{
						"name": "Expected Position",
						"type": "varchar"
					},
					{
						"name": "Weeknumbers Contract",
						"type": "varchar"
					},
					{
						"name": "Weeks Remaining",
						"type": "varchar"
					},
					{
						"name": "Next Monday",
						"type": "varchar"
					},
					{
						"name": "Agreement Start Date",
						"type": "varchar"
					},
					{
						"name": "Agreement End Date",
						"type": "varchar"
					},
					{
						"name": "Shipping Method",
						"type": "varchar"
					},
					{
						"name": "Incoterm",
						"type": "varchar"
					},
					{
						"name": "Transporter Name",
						"type": "varchar"
					},
					{
						"name": "Transporter Unit Price",
						"type": "varchar"
					},
					{
						"name": "Transporter Amount",
						"type": "varchar"
					},
					{
						"name": "Transporter Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Currency",
						"type": "varchar"
					},
					{
						"name": "Buyer",
						"type": "varchar"
					},
					{
						"name": "Sustainability Position",
						"type": "varchar"
					},
					{
						"name": "Supplier Item",
						"type": "varchar"
					},
					{
						"name": "Deal Date",
						"type": "varchar"
					},
					{
						"name": "Agreement Amount",
						"type": "varchar"
					},
					{
						"name": "Amount Released Against Agreement",
						"type": "varchar"
					},
					{
						"name": "Note To Vendor",
						"type": "varchar"
					},
					{
						"name": "FFA Spec",
						"type": "varchar"
					},
					{
						"name": "Line Status",
						"type": "varchar"
					},
					{
						"name": "EUR USD",
						"type": "varchar"
					},
					{
						"name": "EUR GBP",
						"type": "varchar"
					},
					{
						"name": "Updated Contract Status",
						"type": "varchar"
					},
					{
						"name": "DateStamp",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume",
						"type": "varchar"
					},
					{
						"name": "Agreement Mid Date",
						"type": "varchar"
					},
					{
						"name": "Non-Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume Non-Delivered",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "AppianBPA"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable2_Suppliers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "appDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Supplier_Name",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_number",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Supplier_type",
						"type": "nvarchar"
					},
					{
						"name": "BU_bill_to",
						"type": "nvarchar"
					},
					{
						"name": "BPA_exists",
						"type": "nvarchar"
					},
					{
						"name": "Category_name",
						"type": "nvarchar"
					},
					{
						"name": "Address_name",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_1",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_2",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_3",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_4",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "Postal_code",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "E_mail",
						"type": "nvarchar"
					},
					{
						"name": "Site_name",
						"type": "nvarchar"
					},
					{
						"name": "Purchasing",
						"type": "nvarchar"
					},
					{
						"name": "Pay",
						"type": "nvarchar"
					},
					{
						"name": "Inactive_date_VET_ID_expiry_date",
						"type": "date"
					},
					{
						"name": "VET_ID",
						"type": "nvarchar"
					},
					{
						"name": "ISCC_certificate_number",
						"type": "nvarchar"
					},
					{
						"name": "ISCC_certificate_expiry_date",
						"type": "date"
					},
					{
						"name": "INS_certificate_number",
						"type": "nvarchar"
					},
					{
						"name": "INS_certificate_expiry_date",
						"type": "date"
					},
					{
						"name": "Certification_type",
						"type": "nvarchar"
					},
					{
						"name": "GMP_ID",
						"type": "nvarchar"
					},
					{
						"name": "VIHB_code",
						"type": "nvarchar"
					},
					{
						"name": "Vendor_category",
						"type": "nvarchar"
					},
					{
						"name": "Default_payment_method",
						"type": "nvarchar"
					},
					{
						"name": "Payment_terms",
						"type": "nvarchar"
					},
					{
						"name": "Invoice_currency",
						"type": "nvarchar"
					},
					{
						"name": "Payment_currency",
						"type": "nvarchar"
					},
					{
						"name": "BIC_SWIFT",
						"type": "nvarchar"
					},
					{
						"name": "VAT_number_supplier",
						"type": "nvarchar"
					},
					{
						"name": "VAT_number_site",
						"type": "nvarchar"
					},
					{
						"name": "IBAN",
						"type": "nvarchar"
					},
					{
						"name": "Bank_account_number",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_creation_date",
						"type": "date"
					},
					{
						"name": "Address_creation_date",
						"type": "date"
					},
					{
						"name": "Site_creation_date",
						"type": "date"
					},
					{
						"name": "Site_created_by",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "SuppliersReport_Suppliers"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable2_traceability')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "appDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CREATION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "BUSINESS_UNIT",
						"type": "nvarchar"
					},
					{
						"name": "ORGANIZATION",
						"type": "nvarchar"
					},
					{
						"name": "SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "PHYSICAL_DATE",
						"type": "nvarchar"
					},
					{
						"name": "DOCUMENT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "REASON_NAME",
						"type": "nvarchar"
					},
					{
						"name": "WORK_DEFINITION",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_CODE",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "UNIT_OF_MEASURE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSFER_SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER_SITE",
						"type": "nvarchar"
					},
					{
						"name": "AGREEMENT",
						"type": "nvarchar"
					},
					{
						"name": "EXT_REFERENCE_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "SHIPPING_METHOD",
						"type": "nvarchar"
					},
					{
						"name": "QUANTITY",
						"type": "nvarchar"
					},
					{
						"name": "TANK_BALANCE",
						"type": "nvarchar"
					},
					{
						"name": "RUNNING_TOTAL",
						"type": "nvarchar"
					},
					{
						"name": "GRADE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_ID",
						"type": "nvarchar"
					},
					{
						"name": "LOT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSTYPE_REASON",
						"type": "nvarchar"
					},
					{
						"name": "DENSITY",
						"type": "nvarchar"
					},
					{
						"name": "STD_LTRS",
						"type": "nvarchar"
					},
					{
						"name": "Stamp",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "traceabilityReport"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AuditDaily_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is daily trigger for the Audit Job to run. This must run afer the Oracle Jobs that populate the tables ",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "audit_pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-09-05T14:01:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								8
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Operations_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Trigger the main operations pipeline\n",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SQL_Operations_MainPipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-01-15T05:00:00",
						"timeZone": "GMT Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TL_CostAccounting_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SQL_TransactionList_CostAccounting",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-01-16T22:30:00",
						"timeZone": "GMT Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian BPA Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Appian BPA Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[Prc_AppianBPADetails]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "TestBlob",
									"type": "LinkedServiceReference"
								},
								"path": "appian"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Total Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Total Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Agreement Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Blanket Agreement Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Order Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Order Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Remaining Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Remaining Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Trucks",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Trucks",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Position Now",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Position Now",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Expected Position",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Expected Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeknumbers Contract",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeknumbers Contract",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeks Remaining",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeks Remaining",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Next Monday",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Next Monday",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 2 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Amount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Additional Charges 2 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Amount Released Against Agreement",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Amount Released Against Agreement",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR USD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR USD",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR GBP",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR GBP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DateStamp",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "DateStamp",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Mid Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Agreement Mid Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Non-Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Non-Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AppianDataSuppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian BPA Data_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Appian BPA Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[Prc_AppianBPADetails]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Total Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Total Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Agreement Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Blanket Agreement Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Order Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Order Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Remaining Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Remaining Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Trucks",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Trucks",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Position Now",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Position Now",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Expected Position",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Expected Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeknumbers Contract",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeknumbers Contract",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeks Remaining",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeks Remaining",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Next Monday",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Next Monday",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 2 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Amount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Additional Charges 2 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Amount Released Against Agreement",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Amount Released Against Agreement",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR USD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR USD",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR GBP",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR GBP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DateStamp",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "DateStamp",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Mid Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Agreement Mid Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Non-Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Non-Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AppianDataSuppliers_copy1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian BPA Pull  Prod')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Prod Appian BPA Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "TestBlob",
									"type": "LinkedServiceReference"
								},
								"path": "appian"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Total Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Total Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Agreement Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Blanket Agreement Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Order Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Order Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Remaining Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Remaining Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Trucks",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Trucks",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Position Now",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Position Now",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Expected Position",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Expected Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeknumbers Contract",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeknumbers Contract",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeks Remaining",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeks Remaining",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Next Monday",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Next Monday",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 2 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Amount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Additional Charges 2 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Amount Released Against Agreement",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Amount Released Against Agreement",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR USD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR USD",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR GBP",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR GBP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DateStamp",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "DateStamp",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Mid Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Agreement Mid Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Non-Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Non-Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "testAppian",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Appian_Prod",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Appian PipeLine_Prod"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Appian_Prod')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian Suppliers Pull Prod')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pull SuppliersData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supplier Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_number",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "Supplier Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BU_bill_to",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BU_bill_to",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BPA_EXISTS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BPA_exists",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_line_1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address Line 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_line_2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address Line 3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_line_3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Postal Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Postal_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "E_mail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Purchasing Site Flag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchasing",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pay",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pay",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site Inactive Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Inactive_date_VET_ID_expiry_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Site VET ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VET_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ISCC Cetificate Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ISCC_certificate_number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ISCC Certificate Expiry Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ISCC_certificate_expiry_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "INS Certificate Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "INS_certificate_number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "INS Certificate Expiry Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "INS_certificate_expiry_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "CERTIFICATION_TYPE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Certification_type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GMP_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GMP_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VIHB Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VIHB_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Vendor Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vendor_category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DEFAULT_PAYMENT_METHOD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Default_payment_method",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Payment terms",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Payment_terms",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site Invoice Currency Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_currency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site Payment Currency Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Payment_currency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BIC_SWIFT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BIC_SWIFT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VAT_NUM_SUP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VAT_number_supplier",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VAT_NUM_SITE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VAT_number_site",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IBAN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IBAN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BANK_ACCOUNT_NUM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Bank_account_number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supplier_creation_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_creation_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "ADDRESS_CREATION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_creation_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SITE_CREATION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Site_creation_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "testAppian_suppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AppianProdSuppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Appian PipeLine_Prod"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AppianProdSuppliers')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian Traceability Pull Prod')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pull traceabilityData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CREATION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CREATION_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BUSINESS_UNIT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BUSINESS_UNIT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORGANIZATION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUBINVENTORY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUBINVENTORY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PHYSICAL_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PHYSICAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DOCUMENT_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DOCUMENT_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_TYPE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "REASON_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "REASON_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WORK_DEFINITION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WORK_DEFINITION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ITEM_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ITEM_DESCRIPTION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UNIT_OF_MEASURE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UNIT_OF_MEASURE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSFER_SUBINVENTORY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSFER_SUBINVENTORY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUPPLIER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUPPLIER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUPPLIER_SITE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUPPLIER_SITE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AGREEMENT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AGREEMENT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EXT_REFERENCE_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EXT_REFERENCE_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIPPING_METHOD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SHIPPING_METHOD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "QUANTITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "QUANTITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TANK_BALANCE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TANK_BALANCE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RUNNING_TOTAL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RUNNING_TOTAL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GRADE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GRADE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOT_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LOT_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSTYPE_REASON",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSTYPE_REASON",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DENSITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DENSITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STD_LTRS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STD_LTRS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Stamp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Stamp",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "testAppian_traceability",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Appian_Prod_Traceablity",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Appian PipeLine_Prod"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Appian_Prod_Traceablity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Get_Daily_Settlements')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get yesterdays date",
						"description": "Date of pricing",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "YesterdaysDate",
							"value": {
								"value": "@formatDateTime(adddays(utcnow(), -1), 'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Non weekday check",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get yesterdays date",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Lookup Bank Holidays",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(contains(string(activity('Lookup Bank Holidays').output.firstRow), variables('YesterdaysDate')), or(equals(dayOfWeek(variables('YesterdaysDate')), 6), equals(dayOfWeek(variables('YesterdaysDate')), 0)))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Execute FX Rates",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Get_Daily_FxRates",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "Execute Prices",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Execute FX Rates",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Get_Daily_Prices",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							]
						}
					},
					{
						"name": "Lookup Bank Holidays",
						"description": "Return the most recent England bank holiday.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT MAX([Date]) 'Date'\nFROM [Core].[BankHolidays]\nWHERE [Country] = 'England'\n\tAND [Date] < GETDATE()",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_Prod_DB",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "BankHolidays",
									"SchemaName": "Core"
								}
							},
							"firstRowOnly": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"YesterdaysDate": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Sales/OMJ"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Oracle_Data_Trade_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Oracle To BLOB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Drop RAW GL Tables Script",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Oracle_To_BLOB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute BLOB To SQL For Oracle Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Oracle To BLOB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLOB_To_SQL_Oracle_Data_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Data Marks Script",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_Exp_And_Pos_Core_Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Exp_And_Pos_Data_Marks_Script",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute SQL To Blob For Trade Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Drop RAW Tables Script",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Trade-Tables_To_BLOB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Drop RAW Tables Script",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Data Marks Script",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Exp_And_Pos_Drop_RAW_Script",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Drop RAW GL Tables Script",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Trade_Blob_to_SQL",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_GL_Drop_RAW_Script",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_Exp_And_Pos_Core_Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute BLOB To SQL For Oracle Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Exp_And_Pos_Core_Tables",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Trade_SharePoint_To_Blob",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Trade_SharePoint_To_Blob",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Trade_Blob_to_SQL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Trade_SharePoint_To_Blob",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Trade_Blob_to_SQL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Trade"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-10T11:15:02Z"
			},
			"dependsOn": []
		}
	]
}