adf-aeanalytics-prod/linkedTemplates/ArmTemplate_10.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-aeanalytics-prod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Appian_test_BPA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Appian_Test",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Business Unit Name",
						"type": "varchar"
					},
					{
						"name": "Blanket Purchase Agreement Number",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Status",
						"type": "varchar"
					},
					{
						"name": "Supplier Name",
						"type": "varchar"
					},
					{
						"name": "Supplier Site Name",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Description",
						"type": "varchar"
					},
					{
						"name": "Item Code",
						"type": "varchar"
					},
					{
						"name": "Item Name",
						"type": "varchar"
					},
					{
						"name": "Item Description",
						"type": "varchar"
					},
					{
						"name": "Category Code",
						"type": "varchar"
					},
					{
						"name": "Total Price",
						"type": "varchar"
					},
					{
						"name": "Unit Price",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Currency",
						"type": "varchar"
					},
					{
						"name": "Blanket Agreement Quantity",
						"type": "varchar"
					},
					{
						"name": "UOM Code",
						"type": "varchar"
					},
					{
						"name": "Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Order Quantity",
						"type": "varchar"
					},
					{
						"name": "Remaining Quantity",
						"type": "varchar"
					},
					{
						"name": "Trucks",
						"type": "varchar"
					},
					{
						"name": "Position Now",
						"type": "varchar"
					},
					{
						"name": "Expected Position",
						"type": "varchar"
					},
					{
						"name": "Weeknumbers Contract",
						"type": "varchar"
					},
					{
						"name": "Weeks Remaining",
						"type": "varchar"
					},
					{
						"name": "Next Monday",
						"type": "varchar"
					},
					{
						"name": "Agreement Start Date",
						"type": "varchar"
					},
					{
						"name": "Agreement End Date",
						"type": "varchar"
					},
					{
						"name": "Shipping Method",
						"type": "varchar"
					},
					{
						"name": "Incoterm",
						"type": "varchar"
					},
					{
						"name": "Transporter Name",
						"type": "varchar"
					},
					{
						"name": "Transporter Unit Price",
						"type": "varchar"
					},
					{
						"name": "Transporter Amount",
						"type": "varchar"
					},
					{
						"name": "Transporter Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Currency",
						"type": "varchar"
					},
					{
						"name": "Buyer",
						"type": "varchar"
					},
					{
						"name": "Sustainability Position",
						"type": "varchar"
					},
					{
						"name": "Supplier Item",
						"type": "varchar"
					},
					{
						"name": "Deal Date",
						"type": "varchar"
					},
					{
						"name": "Agreement Amount",
						"type": "varchar"
					},
					{
						"name": "Amount Released Against Agreement",
						"type": "varchar"
					},
					{
						"name": "Note To Vendor",
						"type": "varchar"
					},
					{
						"name": "FFA Spec",
						"type": "varchar"
					},
					{
						"name": "Line Status",
						"type": "varchar"
					},
					{
						"name": "EUR USD",
						"type": "varchar"
					},
					{
						"name": "EUR GBP",
						"type": "varchar"
					},
					{
						"name": "Updated Contract Status",
						"type": "varchar"
					},
					{
						"name": "DateStamp",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume",
						"type": "varchar"
					},
					{
						"name": "Agreement Mid Date",
						"type": "varchar"
					},
					{
						"name": "Non-Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume Non-Delivered",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "AppianBPA"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_test_traceability')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Appian_Test",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CREATION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "BUSINESS_UNIT",
						"type": "nvarchar"
					},
					{
						"name": "ORGANIZATION",
						"type": "nvarchar"
					},
					{
						"name": "SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "PHYSICAL_DATE",
						"type": "nvarchar"
					},
					{
						"name": "DOCUMENT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "REASON_NAME",
						"type": "nvarchar"
					},
					{
						"name": "WORK_DEFINITION",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_CODE",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "UNIT_OF_MEASURE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSFER_SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER_SITE",
						"type": "nvarchar"
					},
					{
						"name": "AGREEMENT",
						"type": "nvarchar"
					},
					{
						"name": "EXT_REFERENCE_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "SHIPPING_METHOD",
						"type": "nvarchar"
					},
					{
						"name": "QUANTITY",
						"type": "nvarchar"
					},
					{
						"name": "TANK_BALANCE",
						"type": "nvarchar"
					},
					{
						"name": "RUNNING_TOTAL",
						"type": "nvarchar"
					},
					{
						"name": "GRADE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_ID",
						"type": "nvarchar"
					},
					{
						"name": "LOT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSTYPE_REASON",
						"type": "nvarchar"
					},
					{
						"name": "DENSITY",
						"type": "nvarchar"
					},
					{
						"name": "STD_LTRS",
						"type": "nvarchar"
					},
					{
						"name": "Stamp",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "traceabilityReport"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "appDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Business Unit Name",
						"type": "varchar"
					},
					{
						"name": "Blanket Purchase Agreement Number",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Status",
						"type": "varchar"
					},
					{
						"name": "Supplier Name",
						"type": "varchar"
					},
					{
						"name": "Supplier Site Name",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Description",
						"type": "varchar"
					},
					{
						"name": "Item Code",
						"type": "varchar"
					},
					{
						"name": "Item Name",
						"type": "varchar"
					},
					{
						"name": "Item Description",
						"type": "varchar"
					},
					{
						"name": "Category Code",
						"type": "varchar"
					},
					{
						"name": "Total Price",
						"type": "varchar"
					},
					{
						"name": "Unit Price",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Currency",
						"type": "varchar"
					},
					{
						"name": "Blanket Agreement Quantity",
						"type": "varchar"
					},
					{
						"name": "UOM Code",
						"type": "varchar"
					},
					{
						"name": "Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Order Quantity",
						"type": "varchar"
					},
					{
						"name": "Remaining Quantity",
						"type": "varchar"
					},
					{
						"name": "Trucks",
						"type": "varchar"
					},
					{
						"name": "Position Now",
						"type": "varchar"
					},
					{
						"name": "Expected Position",
						"type": "varchar"
					},
					{
						"name": "Weeknumbers Contract",
						"type": "varchar"
					},
					{
						"name": "Weeks Remaining",
						"type": "varchar"
					},
					{
						"name": "Next Monday",
						"type": "varchar"
					},
					{
						"name": "Agreement Start Date",
						"type": "varchar"
					},
					{
						"name": "Agreement End Date",
						"type": "varchar"
					},
					{
						"name": "Shipping Method",
						"type": "varchar"
					},
					{
						"name": "Incoterm",
						"type": "varchar"
					},
					{
						"name": "Transporter Name",
						"type": "varchar"
					},
					{
						"name": "Transporter Unit Price",
						"type": "varchar"
					},
					{
						"name": "Transporter Amount",
						"type": "varchar"
					},
					{
						"name": "Transporter Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Currency",
						"type": "varchar"
					},
					{
						"name": "Buyer",
						"type": "varchar"
					},
					{
						"name": "Sustainability Position",
						"type": "varchar"
					},
					{
						"name": "Supplier Item",
						"type": "varchar"
					},
					{
						"name": "Deal Date",
						"type": "varchar"
					},
					{
						"name": "Agreement Amount",
						"type": "varchar"
					},
					{
						"name": "Amount Released Against Agreement",
						"type": "varchar"
					},
					{
						"name": "Note To Vendor",
						"type": "varchar"
					},
					{
						"name": "FFA Spec",
						"type": "varchar"
					},
					{
						"name": "Line Status",
						"type": "varchar"
					},
					{
						"name": "EUR USD",
						"type": "varchar"
					},
					{
						"name": "EUR GBP",
						"type": "varchar"
					},
					{
						"name": "Updated Contract Status",
						"type": "varchar"
					},
					{
						"name": "DateStamp",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume",
						"type": "varchar"
					},
					{
						"name": "Agreement Mid Date",
						"type": "varchar"
					},
					{
						"name": "Non-Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume Non-Delivered",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "AppianBPA"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "appDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Business Unit Name",
						"type": "varchar"
					},
					{
						"name": "Blanket Purchase Agreement Number",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Status",
						"type": "varchar"
					},
					{
						"name": "Supplier Name",
						"type": "varchar"
					},
					{
						"name": "Supplier Site Name",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Description",
						"type": "varchar"
					},
					{
						"name": "Item Code",
						"type": "varchar"
					},
					{
						"name": "Item Name",
						"type": "varchar"
					},
					{
						"name": "Item Description",
						"type": "varchar"
					},
					{
						"name": "Category Code",
						"type": "varchar"
					},
					{
						"name": "Total Price",
						"type": "varchar"
					},
					{
						"name": "Unit Price",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Currency",
						"type": "varchar"
					},
					{
						"name": "Blanket Agreement Quantity",
						"type": "varchar"
					},
					{
						"name": "UOM Code",
						"type": "varchar"
					},
					{
						"name": "Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Order Quantity",
						"type": "varchar"
					},
					{
						"name": "Remaining Quantity",
						"type": "varchar"
					},
					{
						"name": "Trucks",
						"type": "varchar"
					},
					{
						"name": "Position Now",
						"type": "varchar"
					},
					{
						"name": "Expected Position",
						"type": "varchar"
					},
					{
						"name": "Weeknumbers Contract",
						"type": "varchar"
					},
					{
						"name": "Weeks Remaining",
						"type": "varchar"
					},
					{
						"name": "Next Monday",
						"type": "varchar"
					},
					{
						"name": "Agreement Start Date",
						"type": "varchar"
					},
					{
						"name": "Agreement End Date",
						"type": "varchar"
					},
					{
						"name": "Shipping Method",
						"type": "varchar"
					},
					{
						"name": "Incoterm",
						"type": "varchar"
					},
					{
						"name": "Transporter Name",
						"type": "varchar"
					},
					{
						"name": "Transporter Unit Price",
						"type": "varchar"
					},
					{
						"name": "Transporter Amount",
						"type": "varchar"
					},
					{
						"name": "Transporter Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Currency",
						"type": "varchar"
					},
					{
						"name": "Buyer",
						"type": "varchar"
					},
					{
						"name": "Sustainability Position",
						"type": "varchar"
					},
					{
						"name": "Supplier Item",
						"type": "varchar"
					},
					{
						"name": "Deal Date",
						"type": "varchar"
					},
					{
						"name": "Agreement Amount",
						"type": "varchar"
					},
					{
						"name": "Amount Released Against Agreement",
						"type": "varchar"
					},
					{
						"name": "Note To Vendor",
						"type": "varchar"
					},
					{
						"name": "FFA Spec",
						"type": "varchar"
					},
					{
						"name": "Line Status",
						"type": "varchar"
					},
					{
						"name": "EUR USD",
						"type": "varchar"
					},
					{
						"name": "EUR GBP",
						"type": "varchar"
					},
					{
						"name": "Updated Contract Status",
						"type": "varchar"
					},
					{
						"name": "DateStamp",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume",
						"type": "varchar"
					},
					{
						"name": "Agreement Mid Date",
						"type": "varchar"
					},
					{
						"name": "Non-Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume Non-Delivered",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "AppianBPA"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable2_Suppliers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "appDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Supplier_Name",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_number",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Supplier_type",
						"type": "nvarchar"
					},
					{
						"name": "BU_bill_to",
						"type": "nvarchar"
					},
					{
						"name": "BPA_exists",
						"type": "nvarchar"
					},
					{
						"name": "Category_name",
						"type": "nvarchar"
					},
					{
						"name": "Address_name",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_1",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_2",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_3",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_4",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "Postal_code",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "E_mail",
						"type": "nvarchar"
					},
					{
						"name": "Site_name",
						"type": "nvarchar"
					},
					{
						"name": "Purchasing",
						"type": "nvarchar"
					},
					{
						"name": "Pay",
						"type": "nvarchar"
					},
					{
						"name": "Inactive_date_VET_ID_expiry_date",
						"type": "date"
					},
					{
						"name": "VET_ID",
						"type": "nvarchar"
					},
					{
						"name": "ISCC_certificate_number",
						"type": "nvarchar"
					},
					{
						"name": "ISCC_certificate_expiry_date",
						"type": "date"
					},
					{
						"name": "INS_certificate_number",
						"type": "nvarchar"
					},
					{
						"name": "INS_certificate_expiry_date",
						"type": "date"
					},
					{
						"name": "Certification_type",
						"type": "nvarchar"
					},
					{
						"name": "GMP_ID",
						"type": "nvarchar"
					},
					{
						"name": "VIHB_code",
						"type": "nvarchar"
					},
					{
						"name": "Vendor_category",
						"type": "nvarchar"
					},
					{
						"name": "Default_payment_method",
						"type": "nvarchar"
					},
					{
						"name": "Payment_terms",
						"type": "nvarchar"
					},
					{
						"name": "Invoice_currency",
						"type": "nvarchar"
					},
					{
						"name": "Payment_currency",
						"type": "nvarchar"
					},
					{
						"name": "BIC_SWIFT",
						"type": "nvarchar"
					},
					{
						"name": "VAT_number_supplier",
						"type": "nvarchar"
					},
					{
						"name": "VAT_number_site",
						"type": "nvarchar"
					},
					{
						"name": "IBAN",
						"type": "nvarchar"
					},
					{
						"name": "Bank_account_number",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_creation_date",
						"type": "date"
					},
					{
						"name": "Address_creation_date",
						"type": "date"
					},
					{
						"name": "Site_creation_date",
						"type": "date"
					},
					{
						"name": "Site_created_by",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "SuppliersReport_Suppliers"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable2_traceability')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "appDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CREATION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "BUSINESS_UNIT",
						"type": "nvarchar"
					},
					{
						"name": "ORGANIZATION",
						"type": "nvarchar"
					},
					{
						"name": "SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "PHYSICAL_DATE",
						"type": "nvarchar"
					},
					{
						"name": "DOCUMENT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "REASON_NAME",
						"type": "nvarchar"
					},
					{
						"name": "WORK_DEFINITION",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_CODE",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "UNIT_OF_MEASURE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSFER_SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER_SITE",
						"type": "nvarchar"
					},
					{
						"name": "AGREEMENT",
						"type": "nvarchar"
					},
					{
						"name": "EXT_REFERENCE_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "SHIPPING_METHOD",
						"type": "nvarchar"
					},
					{
						"name": "QUANTITY",
						"type": "nvarchar"
					},
					{
						"name": "TANK_BALANCE",
						"type": "nvarchar"
					},
					{
						"name": "RUNNING_TOTAL",
						"type": "nvarchar"
					},
					{
						"name": "GRADE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_ID",
						"type": "nvarchar"
					},
					{
						"name": "LOT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSTYPE_REASON",
						"type": "nvarchar"
					},
					{
						"name": "DENSITY",
						"type": "nvarchar"
					},
					{
						"name": "STD_LTRS",
						"type": "nvarchar"
					},
					{
						"name": "Stamp",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "traceabilityReport"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AE_SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "GLLedgeID",
						"type": "nvarchar"
					},
					{
						"name": "Ledger_ID",
						"type": "nvarchar"
					},
					{
						"name": "Code_Combination_id",
						"type": "nvarchar"
					},
					{
						"name": "CURRENCY_CODE",
						"type": "nvarchar"
					},
					{
						"name": "PERIOD_NAME",
						"type": "nvarchar"
					},
					{
						"name": "ACTUAL_FLAG",
						"type": "nvarchar"
					},
					{
						"name": "LAST_UPDATE_DATE",
						"type": "nvarchar"
					},
					{
						"name": "LAST_UPDATED_BY",
						"type": "nvarchar"
					},
					{
						"name": "PERIOD_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "PERIOD_YEAR",
						"type": "nvarchar"
					},
					{
						"name": "PERIOD_NUM",
						"type": "nvarchar"
					},
					{
						"name": "PERIOD_NET_DR",
						"type": "nvarchar"
					},
					{
						"name": "PERIOD_NET_CR",
						"type": "nvarchar"
					},
					{
						"name": "QUARTER_TO_DATE_DR",
						"type": "nvarchar"
					},
					{
						"name": "QUARTER_TO_DATE_CR",
						"type": "nvarchar"
					},
					{
						"name": "PROJECT_TO_DATE_DR",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "PROJECT_TO_DATE_CR",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "BEGIN_BALANCE_DR",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "BEGIN_BALANCE_CR",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "PERIOD_NET_DR_BEQ",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "PERIOD_NET_CR_BEQ",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "BEGIN_BALANCE_DR_BEQ",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "BEGIN_BALANCE_CR_BEQ",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "QUARTER_TO_DATE_DR_BEQ",
						"type": "nvarchar"
					},
					{
						"name": "QUARTER_TO_DATE_CR_BEQ",
						"type": "nvarchar"
					},
					{
						"name": "PROJECT_TO_DATE_DR_BEQ",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "PROJECT_TO_DATE_CR_BEQ",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Stamp",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Staging.factGLBalances"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AuditDaily_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is daily trigger for the Audit Job to run. This must run afer the Oracle Jobs that populate the tables ",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "audit_pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-04-01T00:00:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								8
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Operations_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Trigger the main operations pipeline\n",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SQL_Operations_MainPipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-04-01T00:00:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								4
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TL_CostAccounting_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SQL_TransactionList_CostAccounting",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-04-01T00:00:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								20
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AESQLDB_CashFlow')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AE_SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Account Number",
						"type": "nvarchar"
					},
					{
						"name": "Cash Flow Account Description 5",
						"type": "nvarchar"
					},
					{
						"name": "Cash Flow Account Description 4",
						"type": "nvarchar"
					},
					{
						"name": "Cash Flow Account Description 3",
						"type": "nvarchar"
					},
					{
						"name": "Cash Flow Account Description 2",
						"type": "nvarchar"
					},
					{
						"name": "Cash Flow Account Description 1",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Staging.DimCashflow"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian BPA Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Appian BPA Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[Prc_AppianBPADetails]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "TestBlob",
									"type": "LinkedServiceReference"
								},
								"path": "appian"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Total Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Total Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Agreement Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Blanket Agreement Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Order Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Order Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Remaining Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Remaining Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Trucks",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Trucks",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Position Now",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Position Now",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Expected Position",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Expected Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeknumbers Contract",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeknumbers Contract",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeks Remaining",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeks Remaining",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Next Monday",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Next Monday",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 2 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Amount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Additional Charges 2 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Amount Released Against Agreement",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Amount Released Against Agreement",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR USD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR USD",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR GBP",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR GBP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DateStamp",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "DateStamp",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Mid Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Agreement Mid Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Non-Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Non-Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AppianDataSuppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian BPA Data_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Appian BPA Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[Prc_AppianBPADetails]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Total Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Total Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Agreement Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Blanket Agreement Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Order Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Order Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Remaining Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Remaining Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Trucks",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Trucks",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Position Now",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Position Now",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Expected Position",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Expected Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeknumbers Contract",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeknumbers Contract",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeks Remaining",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeks Remaining",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Next Monday",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Next Monday",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 2 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Amount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Additional Charges 2 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Amount Released Against Agreement",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Amount Released Against Agreement",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR USD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR USD",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR GBP",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR GBP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DateStamp",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "DateStamp",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Mid Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Agreement Mid Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Non-Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Non-Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AppianDataSuppliers_copy1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian BPA Pull  Prod')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Prod Appian BPA Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "TestBlob",
									"type": "LinkedServiceReference"
								},
								"path": "appian"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Total Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Total Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Agreement Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Blanket Agreement Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Order Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Order Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Remaining Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Remaining Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Trucks",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Trucks",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Position Now",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Position Now",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Expected Position",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Expected Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeknumbers Contract",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeknumbers Contract",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeks Remaining",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeks Remaining",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Next Monday",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Next Monday",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 2 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Amount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Additional Charges 2 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Amount Released Against Agreement",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Amount Released Against Agreement",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR USD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR USD",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR GBP",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR GBP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DateStamp",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "DateStamp",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Mid Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Agreement Mid Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Non-Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Non-Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "testAppian",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Appian_Prod",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Appian PipeLine_Prod"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian Suppliers Pull Prod')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pull SuppliersData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supplier Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_number",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "Supplier Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BU_bill_to",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BU_bill_to",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BPA_EXISTS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BPA_exists",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_line_1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address Line 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_line_2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address Line 3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_line_3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Postal Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Postal_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "E_mail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Purchasing Site Flag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchasing",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pay",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pay",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site Inactive Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Inactive_date_VET_ID_expiry_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Site VET ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VET_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ISCC Cetificate Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ISCC_certificate_number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ISCC Certificate Expiry Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ISCC_certificate_expiry_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "INS Certificate Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "INS_certificate_number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "INS Certificate Expiry Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "INS_certificate_expiry_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "CERTIFICATION_TYPE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Certification_type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GMP_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GMP_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VIHB Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VIHB_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Vendor Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vendor_category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DEFAULT_PAYMENT_METHOD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Default_payment_method",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Payment terms",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Payment_terms",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site Invoice Currency Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_currency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site Payment Currency Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Payment_currency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BIC_SWIFT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BIC_SWIFT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VAT_NUM_SUP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VAT_number_supplier",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VAT_NUM_SITE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VAT_number_site",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IBAN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IBAN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BANK_ACCOUNT_NUM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Bank_account_number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supplier_creation_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_creation_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "ADDRESS_CREATION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_creation_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SITE_CREATION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Site_creation_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "testAppian_suppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AppianProdSuppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Appian PipeLine_Prod"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian Traceability Pull Prod')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pull traceabilityData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CREATION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CREATION_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BUSINESS_UNIT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BUSINESS_UNIT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORGANIZATION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUBINVENTORY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUBINVENTORY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PHYSICAL_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PHYSICAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DOCUMENT_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DOCUMENT_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_TYPE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "REASON_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "REASON_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WORK_DEFINITION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WORK_DEFINITION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ITEM_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ITEM_DESCRIPTION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UNIT_OF_MEASURE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UNIT_OF_MEASURE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSFER_SUBINVENTORY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSFER_SUBINVENTORY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUPPLIER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUPPLIER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUPPLIER_SITE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUPPLIER_SITE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AGREEMENT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AGREEMENT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EXT_REFERENCE_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EXT_REFERENCE_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIPPING_METHOD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SHIPPING_METHOD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "QUANTITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "QUANTITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TANK_BALANCE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TANK_BALANCE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RUNNING_TOTAL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RUNNING_TOTAL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GRADE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GRADE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOT_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LOT_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSTYPE_REASON",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSTYPE_REASON",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DENSITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DENSITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STD_LTRS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STD_LTRS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Stamp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Stamp",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "testAppian_traceability",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Appian_Prod_Traceablity",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Appian PipeLine_Prod"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FinanceCube_Staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get FactBalances Data",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[CubeData].[prc_Get_GL_Balances]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GLLedgeID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "GLLedgeID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Ledger_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Ledger_ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Code_Combination_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Code_Combination_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CURRENCY_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CURRENCY_CODE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ACTUAL_FLAG",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ACTUAL_FLAG",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATED_BY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LAST_UPDATED_BY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PERIOD_TYPE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_YEAR",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PERIOD_YEAR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NUM",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PERIOD_NUM",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NET_DR",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PERIOD_NET_DR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NET_CR",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PERIOD_NET_CR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "QUARTER_TO_DATE_DR",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "QUARTER_TO_DATE_DR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "QUARTER_TO_DATE_CR",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "QUARTER_TO_DATE_CR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PROJECT_TO_DATE_DR",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "PROJECT_TO_DATE_DR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PROJECT_TO_DATE_CR",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "PROJECT_TO_DATE_CR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "BEGIN_BALANCE_DR",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "BEGIN_BALANCE_DR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "BEGIN_BALANCE_CR",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "BEGIN_BALANCE_CR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NET_DR_BEQ",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "PERIOD_NET_DR_BEQ",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NET_CR_BEQ",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "PERIOD_NET_CR_BEQ",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "BEGIN_BALANCE_DR_BEQ",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "BEGIN_BALANCE_DR_BEQ",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "BEGIN_BALANCE_CR_BEQ",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "BEGIN_BALANCE_CR_BEQ",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "QUARTER_TO_DATE_DR_BEQ",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "QUARTER_TO_DATE_DR_BEQ",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "QUARTER_TO_DATE_CR_BEQ",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "QUARTER_TO_DATE_CR_BEQ",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PROJECT_TO_DATE_DR_BEQ",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "PROJECT_TO_DATE_DR_BEQ",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PROJECT_TO_DATE_CR_BEQ",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "PROJECT_TO_DATE_CR_BEQ",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Stamp",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Stamp",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AE_SQLDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "financecube",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Put Factbalances in staging",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Get FactBalances Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FinanceCubeImport",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable3",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get FinanceRef data",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Put Factbalances in staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[CubeData].[prc_GetFinance]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AE_SQLDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "getdimfinanceref",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Put DimFinanceRef in staging",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Get FinanceRef data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "getdimfinanceref",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AESQLFinanceRef",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get Codecombinations data",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Put DimFinanceRef in staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[CubeData].[Prc_GetCodeCombinations]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AE_SQLDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "csvDimCodeCombinations",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Put codecombinations into staging",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Get Codecombinations data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "csvCodeCombinations",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AESQL_CodeCombination",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get dim Finance Function",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Put codecombinations into staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[CubeData].[prc_GetFunction]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AE_SQLDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "csvFinanceFunction",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "GtFinanceFunction",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Get dim Finance Function",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "csvFinanceFunction",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AESQL_FinanceFunction",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get FXRates",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GtFinanceFunction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[CubeData].[prc_GetFXRates]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AE_SQLDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "csvFXRates",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Push FXRates to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get FXRates",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "csvFXRates",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AESQLDB_FXRates",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get Cash Flow",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Push FXRates to Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[CubeData].[prc_GetCashFlowLogic]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AE_SQLDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "csvCashFlowLogic",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Push dimCashFlowLogic",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get Cash Flow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "csvCashFlowLogic",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AESQLDB_CashFlow",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "FinanceCube"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable3')]",
				"[concat(variables('factoryId'), '/datasets/AESQLDB_CashFlow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Get_Daily_Settlements')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get yesterdays date",
						"description": "Date of pricing",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "YesterdaysDate",
							"value": {
								"value": "@formatDateTime(adddays(utcnow(), -1), 'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Non weekday check",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get yesterdays date",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Lookup Bank Holidays",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(contains(string(activity('Lookup Bank Holidays').output.firstRow), variables('YesterdaysDate')), or(equals(dayOfWeek(variables('YesterdaysDate')), 6), equals(dayOfWeek(variables('YesterdaysDate')), 0)))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Execute FX Rates",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Get_Daily_FxRates",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "Execute Prices",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Execute FX Rates",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Get_Daily_Prices",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							]
						}
					},
					{
						"name": "Lookup Bank Holidays",
						"description": "Return the most recent England bank holiday.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT MAX([Date]) 'Date'\nFROM [Core].[BankHolidays]\nWHERE [Country] = 'England'\n\tAND [Date] < GETDATE()",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_Prod_DB",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "BankHolidays",
									"SchemaName": "Core"
								}
							},
							"firstRowOnly": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"YesterdaysDate": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Sales/OMJ"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Oracle_Data_Trade_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Oracle To BLOB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Drop RAW GL Tables Script",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Oracle_To_BLOB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute BLOB To SQL For Oracle Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Oracle To BLOB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLOB_To_SQL_Oracle_Data_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Data Marks Script",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_Exp_And_Pos_Core_Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Exp_And_Pos_Data_Marks_Script",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute SQL To Blob For Trade Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Drop RAW Tables Script",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Trade-Tables_To_BLOB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Drop RAW Tables Script",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Data Marks Script",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Exp_And_Pos_Drop_RAW_Script",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Drop RAW GL Tables Script",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Trade_Blob_to_SQL",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_GL_Drop_RAW_Script",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_Exp_And_Pos_Core_Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute BLOB To SQL For Oracle Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Exp_And_Pos_Core_Tables",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Trade_SharePoint_To_Blob",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Trade_SharePoint_To_Blob",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Trade_Blob_to_SQL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Trade_SharePoint_To_Blob",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Trade_Blob_to_SQL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Trade"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-10T11:15:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pricing_Data_Trade_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute BLOB To SQL For Pricing Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy_Pricing_Sharepoint_To_BLOB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Pricing_Blob_to_SQL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Data Marks Script",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute BLOB To SQL For Pricing Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Pricing_Data_Marks_Script",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute SQL To BLOB For Trade Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Data Marks Script",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Trade-Tables_To_BLOB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Copy_Pricing_Sharepoint_To_BLOB",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Pricing_Sharepoint_To_BLOB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Send Email Alert",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get the Ticket Number",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://ae-adf-emailnotification.azurewebsites.net:443/api/Argent-Alerting/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=Aso6aks8InhkiT92JgC0HG-J1IvmAhT5B94OpeVK9lo",
							"body": {
								"value": "{\n    \"receiver\":\"@{pipeline().parameters.receiver}\",\n    \"title\":\"Pipeline Run Failed\",\n    \"message\":\"Job failed, ticket raised @{variables('TicketNo')}\",\n    \"color\":\"Red\",\n    \"dataFactoryName\":\"@{pipeline().DataFactory}\",\n    \"pipelineName\":\"@{pipeline().Pipeline}\",\n    \"pipelineRunId\":\"@{pipeline().RunId}\",\n    \"time\":\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Raise an Incident",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Execute Data Marks Script",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://eu2api.symphonysummit.com/Argent/REST/Summit_RESTWCF.svc/RESTService/CommonWS_JsonObjCall",
							"body": {
								"ServiceName": "IM_LogOrUpdateIncident",
								"objCommonParameters": {
									"_ProxyDetails": {
										"AuthType": "APIKEY",
										"APIKey": "tryDnK94yXfNHDFbDyiy6HltkdY2uvw0f5UtnFfGZiY=",
										"ProxyID": 0,
										"ReturnType": "JSON",
										"OrgID": 1
									},
									"incidentParamsJSON": {
										"IncidentContainerJsonObj": {
											"Updater": "Executive",
											"CI_Key": "hostname",
											"CI_Value": "",
											"Ticket": {
												"IsFromWebService": true,
												"Priority_Name": "P3 - Medium",
												"Classification_Name": "Data or Process in system not working",
												"Sup_Function": "IT",
												"Caller_EmailID": "lyndon.johnson@argentenergy.com",
												"Status": "New",
												"Urgency_Name": "Stops Work",
												"Assigned_WorkGroup_Name": "Argent Reporting Support Team",
												"Medium": "Web",
												"Impact_Name": "Multiple Users",
												"Category_Name": "Argent Reporting",
												"CI_ID": "",
												"SLA_Name": "",
												"OpenCategory_Name": "Argent Reporting",
												"Source": "Person",
												"Description": "@{pipeline().parameters.TicketMessage}",
												"PageName": "TicketDetail"
											},
											"TicketInformation": {
												"Information": "TEST Ticket",
												"InternalLog": "#InternalLog#",
												"UserLog": "",
												"Solution": "#Solution#"
											},
											"CustomFields": []
										}
									},
									"RequestType": "RemoteCall"
								}
							}
						}
					},
					{
						"name": "Get the Ticket Number",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Raise an Incident",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "TicketNo",
							"value": {
								"value": "@string(activity('Raise an Incident').output.TicketNo)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"receiver": {
						"type": "string",
						"defaultValue": "data.mi@argentenergy.com"
					},
					"TicketID": {
						"type": "string"
					},
					"JobMessage": {
						"type": "string",
						"defaultValue": "Azure Data Factory Error"
					},
					"TicketMessage": {
						"type": "string",
						"defaultValue": "Automated message: Data job has failedJob Failed"
					}
				},
				"variables": {
					"TicketNo": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Trade/Pricing"
				},
				"annotations": [],
				"lastPublishTime": "2022-09-14T10:20:07Z"
			},
			"dependsOn": []
		}
	]
}