adf-aeanalytics-prod/linkedTemplates/ArmTemplate_5.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-aeanalytics-prod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Copy_Pricing_Sharepoint_To_BLOB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copies data from the Sharepoint site \"PowerBI data\" to the Azure Blob Storage",
				"activities": [
					{
						"name": "Sharepoint_token",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://accounts.accesscontrol.windows.net/723124e0-74e9-482b-a731-4f534e16e043/tokens/OAuth/2",
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": "grant_type=client_credentials&client_id=2de0db9a-9127-408d-a1b4-f79f8da14b07@723124e0-74e9-482b-a731-4f534e16e043&client_secret=nN48Q~nbL5MuWJfZooYV2bW1EuY~Kh_hRMcjJc_J&resource=00000003-0000-0ff1-ce00-000000000000/argentenergyltd.sharepoint.com@723124e0-74e9-482b-a731-4f534e16e043"
						}
					},
					{
						"name": "Copy_Sharepoint_to_Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Sharepoint_token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "sharepoint-files//Pricing.xlsx"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"additionalHeaders": {
										"value": "@{concat('Authorization: Bearer ', activity('Sharepoint_token').output.access_token)}",
										"type": "Expression"
									},
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Sharepoint_Pricing_Raw",
								"type": "DatasetReference",
								"parameters": {
									"ItemName": "Pricing dataset.xlsx"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Blob_Sharepoint_Files",
								"type": "DatasetReference",
								"parameters": {
									"ItemName": "Pricing dataset.xlsx"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Trade/Pricing"
				},
				"annotations": [],
				"lastPublishTime": "2022-10-25T19:12:48Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DevAppian_Suppliers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Supplier Details",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[prc_AppianGetSuppliers]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AppianDataSuppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "testAppian_suppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OneFilepush')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Finance Reference Tables",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Dailyload",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Argent_Database",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "O.XLA_TRANSACTION_ENTITIES"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Finance"
				},
				"annotations": [],
				"lastPublishTime": "2022-10-13T12:23:42Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Trade-Tables_To_BLOB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Trade Tables",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT Table_schema, table_name from information_schema.tables\nwhere table_type = 'base table' and table_schema = 'Trade'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_Trade_Tables",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Trade Table For Each",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Trade Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Trade Tables').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy Trade Tables",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SQL_Dynamic_Trade_Table",
											"type": "DatasetReference",
											"parameters": {
												"schema": {
													"value": "@item().TABLE_SCHEMA",
													"type": "Expression"
												},
												"table": {
													"value": "@item().TABLE_NAME",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Trade_Tables",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@concat(item().TABLE_SCHEMA,'.',item().TABLE_NAME,'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Trade"
				},
				"annotations": [],
				"lastPublishTime": "2022-09-02T10:47:57Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ShipmentLines_Blob_to_SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Shipment Lines",
						"description": "Copy Shipment Lines Excel sheet to DWH",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Blob_ShipmentLines_Excel",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Sharepoint_Data_Tables",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "TEMP.ShipmentLines"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Supply Chain"
				},
				"annotations": [],
				"lastPublishTime": "2022-11-14T16:24:18Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SupplyChain_Blob_to_SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Drop Supply Chain Shipping tables",
						"description": "Drop existing Supply Chain Excel tables in DWH",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SqlServerArgent",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": {
										"value": "DROP TABLE IF EXISTS [RAW].[SC.Shipping2023UK]\nDROP TABLE IF EXISTS [RAW].[SC.Shipping2022UK]\nDROP TABLE IF EXISTS [RAW].[SC.ShippingNL]",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Copy Shipping 2023 UK",
						"description": "Copy Supply Chain UK Shipping 2023 Excel sheet to DWH",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Drop Supply Chain Shipping tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Blob_SC_Shipping_UK2023_Excel",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Sharepoint_Data_Tables",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "SC.Shipping2023UK"
								}
							}
						]
					},
					{
						"name": "Copy Shipping 2022 UK",
						"description": "Copy Supply Chain UK Shipping 2022 Excel sheet to DWH",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Drop Supply Chain Shipping tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Blob_SC_Shipping_UK2022_Excel",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Sharepoint_Data_Tables",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "SC.Shipping2022UK"
								}
							}
						]
					},
					{
						"name": "Copy Shipping NL",
						"description": "Copy Supply Chain NL Shipping Excel sheet to DWH",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Drop Supply Chain Shipping tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Blob_SC_Shipping_NL_Excel",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Sharepoint_Data_Tables",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "SC.ShippingNL"
								}
							}
						]
					},
					{
						"name": "Lookup Supply Chain Tables",
						"description": "Return the names of the sheets/tables in the Supply Chain data wallet.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Drop Supply Chain Shipping tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "Blob_SC_DataWallet",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Each sheet",
						"description": "Copies each sheet in the lookup sheet to a separate SQL table.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Supply Chain Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Supply Chain Tables').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy Data Wallet",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Drop",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Blob_SC_DataWallet_Sheets",
											"type": "DatasetReference",
											"parameters": {
												"SheetName": "@item().SheetName"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SQL_Sharepoint_Data_Tables",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "@item().TableName"
											}
										}
									]
								},
								{
									"name": "Drop",
									"description": "Drop existing Supply Chain Excel tables",
									"type": "Script",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "SqlServerArgent",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "NonQuery",
												"text": {
													"value": "DROP TABLE IF EXISTS [RAW].[@{item().TableName}]",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Supply Chain"
				},
				"annotations": [],
				"lastPublishTime": "2022-11-14T16:24:18Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SupplyChain_Sharepoint_To_Blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copies the Supply Chain Excel files to Azure blob storage container.",
				"activities": [
					{
						"name": "Sharepoint_token",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://accounts.accesscontrol.windows.net/723124e0-74e9-482b-a731-4f534e16e043/tokens/OAuth/2",
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": "grant_type=client_credentials&client_id=2de0db9a-9127-408d-a1b4-f79f8da14b07@723124e0-74e9-482b-a731-4f534e16e043&client_secret=nN48Q~nbL5MuWJfZooYV2bW1EuY~Kh_hRMcjJc_J&resource=00000003-0000-0ff1-ce00-000000000000/argentenergyltd.sharepoint.com@723124e0-74e9-482b-a731-4f534e16e043"
						}
					},
					{
						"name": "Copy_SharePoint_to_Blob_UK",
						"description": "Copies UK shipping planning Excel file to Azure blob.",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Sharepoint_token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Shipping%20planning%20Stanlow.xlsx')/$value"
							},
							{
								"name": "Destination",
								"value": "sharepoint-files//@{pipeline().parameters.ExcelUK}"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"additionalHeaders": {
										"value": "@{concat('Authorization: Bearer ', activity('Sharepoint_token').output.access_token)}",
										"type": "Expression"
									},
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SharePoint_SC_UK",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Blob_Sharepoint_Files",
								"type": "DatasetReference",
								"parameters": {
									"ItemName": "@pipeline().parameters.ExcelUK"
								}
							}
						]
					},
					{
						"name": "Copy_SharePoint_to_Blob_NL",
						"description": "Copies NL shipping planning Excel file to Azure blob.",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Sharepoint_token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Tankopslag%20en%20Planning.xlsx')/$value"
							},
							{
								"name": "Destination",
								"value": "sharepoint-files//@{pipeline().parameters.ExcelNL}"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"additionalHeaders": {
										"value": "@{concat('Authorization: Bearer ', activity('Sharepoint_token').output.access_token)}",
										"type": "Expression"
									},
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SharePoint_SC_NL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Blob_Sharepoint_Files",
								"type": "DatasetReference",
								"parameters": {
									"ItemName": "@pipeline().parameters.ExcelNL"
								}
							}
						]
					},
					{
						"name": "Copy_SharePoint_to_Blob_Tables",
						"description": "Copy Supply Chain's data wallet Excel file with multiple sheets/tables to the SharePoint Blob storage container.",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Sharepoint_token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Supply%20Chain%20Excel%20Data%20for%20DWH.xlsx')/$value"
							},
							{
								"name": "Destination",
								"value": "sharepoint-files//@{pipeline().parameters.ExcelTables}"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"additionalHeaders": {
										"value": "@{concat('Authorization: Bearer ', activity('Sharepoint_token').output.access_token)}",
										"type": "Expression"
									},
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SharePoint_SC_Tables",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Blob_Sharepoint_Files",
								"type": "DatasetReference",
								"parameters": {
									"ItemName": {
										"value": "@pipeline().parameters.ExcelTables",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ExcelUK": {
						"type": "string",
						"defaultValue": "Shipping planning Stanlow.xlsx"
					},
					"ExcelNL": {
						"type": "string",
						"defaultValue": "Tankopslag en Planning.xlsx"
					},
					"ExcelTables": {
						"type": "string",
						"defaultValue": "Supply Chain Excel Data for DWH.xlsx"
					}
				},
				"folder": {
					"name": "Supply Chain"
				},
				"annotations": [],
				"lastPublishTime": "2022-11-11T15:23:09Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TestAppianPipleine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BPA Details",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[Prc_AppianBPADetails]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AppianDataSuppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "testAppian",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trade_Blob_to_SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Trade_Excel_tables_lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "Blob_Trade_DataWallet_Excel",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Copy sheets to tables",
						"description": "Copies each sheet in the lookup sheet to a separate SQL table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Trade_Excel_tables_lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Trade_Excel_tables_lookup').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy from Excel file",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Drop",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Blob_Trade_DataWallet_Sheets",
											"type": "DatasetReference",
											"parameters": {
												"SheetName": "@item().SheetName"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SQL_Sharepoint_Data_Tables",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "@item().TableName"
											}
										}
									]
								},
								{
									"name": "Drop",
									"description": "Drop existing Trade Excel tables",
									"type": "Script",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "SqlServerArgent",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "NonQuery",
												"text": {
													"value": "DROP TABLE IF EXISTS [RAW].[@{item().TableName}]",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Trade"
				},
				"annotations": [],
				"lastPublishTime": "2022-11-14T16:24:18Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trade_SharePoint_To_Blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copies the Trade Excel file to Azure blob storage container",
				"activities": [
					{
						"name": "Sharepoint_token",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://accounts.accesscontrol.windows.net/723124e0-74e9-482b-a731-4f534e16e043/tokens/OAuth/2",
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": "grant_type=client_credentials&client_id=2de0db9a-9127-408d-a1b4-f79f8da14b07@723124e0-74e9-482b-a731-4f534e16e043&client_secret=nN48Q~nbL5MuWJfZooYV2bW1EuY~Kh_hRMcjJc_J&resource=00000003-0000-0ff1-ce00-000000000000/argentenergyltd.sharepoint.com@723124e0-74e9-482b-a731-4f534e16e043"
						}
					},
					{
						"name": "Copy_SharePoint_to_Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Sharepoint_token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Trade%20Excel%20Data%20for%20DWH.xlsx')/$value"
							},
							{
								"name": "Destination",
								"value": "sharepoint-files//@{pipeline().parameters.ExcelName}"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"additionalHeaders": {
										"value": "@{concat('Authorization: Bearer ', activity('Sharepoint_token').output.access_token)}",
										"type": "Expression"
									},
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SharePoint_Trade_DataWallet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Blob_Sharepoint_Files",
								"type": "DatasetReference",
								"parameters": {
									"ItemName": "@pipeline().parameters.ExcelName"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ExcelName": {
						"type": "string",
						"defaultValue": "Trade Excel Data for DWH.xlsx"
					}
				},
				"folder": {
					"name": "Trade"
				},
				"annotations": [],
				"lastPublishTime": "2022-11-11T15:23:09Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VesselFinder_GetData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup IMO",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "VesselFinder_IMOs",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Each IMO",
						"description": "Copies each IMO number in the lookup table to a separate API request.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "DeleteOldVesselData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup IMO').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_VesselFinder_To_Blob",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "VesselFinder_Vessels",
											"type": "DatasetReference",
											"parameters": {
												"IMO": {
													"value": "@string(item().imo)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "VesselFinder_JSON_Outputs",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Vessel JSON Blob Get Metadata",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Each IMO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "VesselFinder_JSON_Outputs",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "Vesel JSON Copy Data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Vessel JSON Blob Get Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "Stamp",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['AIS']['MMSI']"
										},
										"sink": {
											"name": "MMSI",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['TIMESTAMP']"
										},
										"sink": {
											"name": "TIMESTAMP",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['LATITUDE']"
										},
										"sink": {
											"name": "LATITUDE",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['LONGITUDE']"
										},
										"sink": {
											"name": "LONGITUDE",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['COURSE']"
										},
										"sink": {
											"name": "COURSE",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['SPEED']"
										},
										"sink": {
											"name": "SPEED",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['HEADING']"
										},
										"sink": {
											"name": "HEADING",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['NAVSTAT']"
										},
										"sink": {
											"name": "NAVSTAT",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['IMO']"
										},
										"sink": {
											"name": "IMO",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['NAME']"
										},
										"sink": {
											"name": "NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['CALLSIGN']"
										},
										"sink": {
											"name": "CALLSIGN",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['TYPE']"
										},
										"sink": {
											"name": "TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['A']"
										},
										"sink": {
											"name": "A",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['B']"
										},
										"sink": {
											"name": "B",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['C']"
										},
										"sink": {
											"name": "C",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['D']"
										},
										"sink": {
											"name": "D",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['DRAUGHT']"
										},
										"sink": {
											"name": "DRAUGHT",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['DESTINATION']"
										},
										"sink": {
											"name": "DESTINATION",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['LOCODE']"
										},
										"sink": {
											"name": "LOCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['ETA_AIS']"
										},
										"sink": {
											"name": "ETA_AIS",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['ETA']"
										},
										"sink": {
											"name": "ETA",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['SRC']"
										},
										"sink": {
											"name": "SRC",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['ZONE']"
										},
										"sink": {
											"name": "ZONE",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['ECA']"
										},
										"sink": {
											"name": "ECA",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['DISTANCE_REMAINING']"
										},
										"sink": {
											"name": "DISTANCE_REMAINING",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['ETA_PREDICTED']"
										},
										"sink": {
											"name": "ETA_PREDICTED",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Stamp']"
										},
										"sink": {
											"name": "Stamp",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "VesselFinder_JSON_Outputs",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Argent_Database",
								"type": "DatasetReference",
								"parameters": {
									"TableName": {
										"value": "VesselFinderData",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Create Final Vessel Table",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Vesel JSON Copy Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "\n\tIF OBJECT_ID('SupplyChain.VesselFinderData_Historical','U') IS NOT NULL\n\t\tDROP TABLE SupplyChain.VesselFinderData_Historical\n\n\tSELECT\t\t*\n\tINTO\t\tSupplyChain.VesselFinderData_Historical\n\tFROM\t\t[RAW].[VesselFinderData] v\n\tLEFT JOIN\t(\n\t\t\t\t\tSELECT\t\tDISTINCT [Index]\n\t\t\t\t\t,\t\t\t[Vessel IMO]\n\t\t\t\t\t,\t\t\t[Mothervessel IMO]\n\t\t\t\t\t,\t\t\t[Vessel Transfer Indicator]\n\t\t\t\t\t,\t\t\t[Live Shipment Indicator]\n\t\t\t\t\tFROM\t\tSupplyChain.ShippingContracts\n\t\t\t\t\tWHERE\t\tISNULL([Mothervessel IMO],[Vessel IMO]) IS NOT NULL\n\t\t\t\t\tAND\t\t\tISNULL([Mothervessel IMO],[Vessel IMO]) <> ''\n\n\t\t\t\t) s\n\tON\t\t\tCASE\n\t\t\t\t\tWHEN [Vessel Transfer Indicator] = 'X'\n\t\t\t\t\t\tTHEN [Vessel IMO]\n\t\t\t\t\tELSE ISNULL([Mothervessel IMO],[Vessel IMO])\n\t\t\t\tEND = v.[IMO]\n\n\n\tIF OBJECT_ID('SupplyChain.VesselData','U') IS NOT NULL\n\t\tDROP TABLE SupplyChain.VesselData\n\n\tSELECT\t\t*\n\tINTO\t\tSupplyChain.VesselData\n\tFROM\t\tSupplyChain.VesselFinderData_Historical\n\tWHERE\t\t[IMO] IS NOT NULL\n\tAND\t\t\t[Live Shipment Indicator] = 1\n\n\tDROP TABLE [RAW].[VesselFinderData]"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "DeleteOldVesselData",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Lookup IMO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "VesselFinder_JSON_Outputs",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@subtractFromTime(utcnow(),3,'Month')",
									"type": "Expression"
								},
								"wildcardFileName": "*json",
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Supply Chain"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VesselFinder_PortData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup IMO",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "VesselFinder_IMOs",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Each IMO",
						"description": "Copies each IMO number in the lookup table to a separate API request.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "DeleteOldPortCalls",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup IMO').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_VesselFinder_To_Blob",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "VesselFinder_Ports",
											"type": "DatasetReference",
											"parameters": {
												"IMO": {
													"value": "@string(item().imo)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "VesselFinder_Ports_JSON_Outputs",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Vessel Portcalls JSON Blob Get Metadata",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Each IMO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "VesselFinder_Ports_JSON_Outputs",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "Copy Portcalls",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Vessel Portcalls JSON Blob Get Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "Stamp",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['PORTCALL']['MMSI']"
										},
										"sink": {
											"name": "MMSI"
										}
									},
									{
										"source": {
											"path": "$['PORTCALL']['IMO']"
										},
										"sink": {
											"name": "IMO"
										}
									},
									{
										"source": {
											"path": "$['PORTCALL']['LOCODE']"
										},
										"sink": {
											"name": "LOCODE"
										}
									},
									{
										"source": {
											"path": "$['PORTCALL']['EVENT']"
										},
										"sink": {
											"name": "EVENT"
										}
									},
									{
										"source": {
											"path": "$['PORTCALL']['TIMESTAMP']"
										},
										"sink": {
											"name": "TIMESTAMP"
										}
									},
									{
										"source": {
											"path": "$['PORTCALL']['PORT']"
										},
										"sink": {
											"name": "PORT"
										}
									},
									{
										"source": {
											"path": "$['PORTCALL']['COUNTRY']"
										},
										"sink": {
											"name": "COUNTRY"
										}
									},
									{
										"source": {
											"path": "$['Stamp']"
										},
										"sink": {
											"name": "Stamp"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "VesselFinder_Ports_JSON_Outputs",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Argent_Database",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "VesselFinderPortCalls"
								}
							}
						]
					},
					{
						"name": "Create Port Calls Table",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Copy Portcalls",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "\tIF OBJECT_ID('SupplyChain.VesselFinderPortCalls_Historical','U') IS NOT NULL\r\n        DROP TABLE SupplyChain.VesselFinderPortCalls_Historical\r\n\r\n\tSELECT\t\t*\r\n\tINTO\t\t[SupplyChain].[VesselFinderPortCalls_Historical]\r\n\tFROM\t\t[RAW].[VesselFinderPortCalls] v\r\n\tLEFT JOIN\t(\r\n\t\t\t\t\tSELECT\t\tDISTINCT [Index]\r\n\t\t\t\t\t,\t\t\t[Vessel IMO]\r\n\t\t\t\t\t,\t\t\t[Mothervessel IMO]\r\n\t\t\t\t\t,\t\t\t[Vessel Transfer Indicator]\r\n\t\t\t\t\t,\t\t\t[Live Shipment Indicator]\r\n\t\t\t\t\tFROM\t\tSupplyChain.ShippingContracts\r\n\t\t\t\t\tWHERE\t\tISNULL([Mothervessel IMO],[Vessel IMO]) IS NOT NULL\r\n\t\t\t\t\tAND\t\t\tISNULL([Mothervessel IMO],[Vessel IMO]) <> ''\r\n\r\n\t\t\t\t) s\r\n\tON\t\t\tCASE\r\n\t\t\t\t\tWHEN [Vessel Transfer Indicator] = 'X'\r\n\t\t\t\t\t\tTHEN [Vessel IMO]\r\n\t\t\t\t\tELSE ISNULL([Mothervessel IMO],[Vessel IMO])\r\n\t\t\t\tEND = v.[IMO]\r\n\r\n\r\n\tIF OBJECT_ID('SupplyChain.VesselFinderPortCalls','U') IS NOT NULL\r\n        DROP TABLE SupplyChain.VesselFinderPortCalls\r\n\r\n\tSELECT\t\t*\r\n\tINTO\t\tSupplyChain.VesselFinderPortCalls\r\n\tFROM\t\t[SupplyChain].[VesselFinderPortCalls_Historical]\r\n\tWHERE\t\t[Live Shipment Indicator] = 1\r\n\r\n\tDROP TABLE [RAW].[VesselFinderPortCalls]"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "DeleteOldPortCalls",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Lookup IMO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "VesselFinder_Ports_JSON_Outputs",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": "2023-04-06T00:00:00.000Z",
								"modifiedDatetimeEnd": {
									"value": "@subtractFromTime(utcnow(),3,'Month')",
									"type": "Expression"
								},
								"wildcardFileName": "*.json",
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Supply Chain"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "appDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Business Unit Name",
						"type": "varchar"
					},
					{
						"name": "Blanket Purchase Agreement Number",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Status",
						"type": "varchar"
					},
					{
						"name": "Supplier Name",
						"type": "varchar"
					},
					{
						"name": "Supplier Site Name",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Description",
						"type": "varchar"
					},
					{
						"name": "Item Code",
						"type": "varchar"
					},
					{
						"name": "Item Name",
						"type": "varchar"
					},
					{
						"name": "Item Description",
						"type": "varchar"
					},
					{
						"name": "Category Code",
						"type": "varchar"
					},
					{
						"name": "Total Price",
						"type": "varchar"
					},
					{
						"name": "Unit Price",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Currency",
						"type": "varchar"
					},
					{
						"name": "Blanket Agreement Quantity",
						"type": "varchar"
					},
					{
						"name": "UOM Code",
						"type": "varchar"
					},
					{
						"name": "Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Order Quantity",
						"type": "varchar"
					},
					{
						"name": "Remaining Quantity",
						"type": "varchar"
					},
					{
						"name": "Trucks",
						"type": "varchar"
					},
					{
						"name": "Position Now",
						"type": "varchar"
					},
					{
						"name": "Expected Position",
						"type": "varchar"
					},
					{
						"name": "Weeknumbers Contract",
						"type": "varchar"
					},
					{
						"name": "Weeks Remaining",
						"type": "varchar"
					},
					{
						"name": "Next Monday",
						"type": "varchar"
					},
					{
						"name": "Agreement Start Date",
						"type": "varchar"
					},
					{
						"name": "Agreement End Date",
						"type": "varchar"
					},
					{
						"name": "Shipping Method",
						"type": "varchar"
					},
					{
						"name": "Incoterm",
						"type": "varchar"
					},
					{
						"name": "Transporter Name",
						"type": "varchar"
					},
					{
						"name": "Transporter Unit Price",
						"type": "varchar"
					},
					{
						"name": "Transporter Amount",
						"type": "varchar"
					},
					{
						"name": "Transporter Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Currency",
						"type": "varchar"
					},
					{
						"name": "Buyer",
						"type": "varchar"
					},
					{
						"name": "Sustainability Position",
						"type": "varchar"
					},
					{
						"name": "Supplier Item",
						"type": "varchar"
					},
					{
						"name": "Deal Date",
						"type": "varchar"
					},
					{
						"name": "Agreement Amount",
						"type": "varchar"
					},
					{
						"name": "Amount Released Against Agreement",
						"type": "varchar"
					},
					{
						"name": "Note To Vendor",
						"type": "varchar"
					},
					{
						"name": "FFA Spec",
						"type": "varchar"
					},
					{
						"name": "Line Status",
						"type": "varchar"
					},
					{
						"name": "EUR USD",
						"type": "varchar"
					},
					{
						"name": "EUR GBP",
						"type": "varchar"
					},
					{
						"name": "Updated Contract Status",
						"type": "varchar"
					},
					{
						"name": "DateStamp",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume",
						"type": "varchar"
					},
					{
						"name": "Agreement Mid Date",
						"type": "varchar"
					},
					{
						"name": "Non-Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume Non-Delivered",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "AppianBPA"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "appDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Business Unit Name",
						"type": "varchar"
					},
					{
						"name": "Blanket Purchase Agreement Number",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Status",
						"type": "varchar"
					},
					{
						"name": "Supplier Name",
						"type": "varchar"
					},
					{
						"name": "Supplier Site Name",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Description",
						"type": "varchar"
					},
					{
						"name": "Item Code",
						"type": "varchar"
					},
					{
						"name": "Item Name",
						"type": "varchar"
					},
					{
						"name": "Item Description",
						"type": "varchar"
					},
					{
						"name": "Category Code",
						"type": "varchar"
					},
					{
						"name": "Total Price",
						"type": "varchar"
					},
					{
						"name": "Unit Price",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Currency",
						"type": "varchar"
					},
					{
						"name": "Blanket Agreement Quantity",
						"type": "varchar"
					},
					{
						"name": "UOM Code",
						"type": "varchar"
					},
					{
						"name": "Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Order Quantity",
						"type": "varchar"
					},
					{
						"name": "Remaining Quantity",
						"type": "varchar"
					},
					{
						"name": "Trucks",
						"type": "varchar"
					},
					{
						"name": "Position Now",
						"type": "varchar"
					},
					{
						"name": "Expected Position",
						"type": "varchar"
					},
					{
						"name": "Weeknumbers Contract",
						"type": "varchar"
					},
					{
						"name": "Weeks Remaining",
						"type": "varchar"
					},
					{
						"name": "Next Monday",
						"type": "varchar"
					},
					{
						"name": "Agreement Start Date",
						"type": "varchar"
					},
					{
						"name": "Agreement End Date",
						"type": "varchar"
					},
					{
						"name": "Shipping Method",
						"type": "varchar"
					},
					{
						"name": "Incoterm",
						"type": "varchar"
					},
					{
						"name": "Transporter Name",
						"type": "varchar"
					},
					{
						"name": "Transporter Unit Price",
						"type": "varchar"
					},
					{
						"name": "Transporter Amount",
						"type": "varchar"
					},
					{
						"name": "Transporter Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Currency",
						"type": "varchar"
					},
					{
						"name": "Buyer",
						"type": "varchar"
					},
					{
						"name": "Sustainability Position",
						"type": "varchar"
					},
					{
						"name": "Supplier Item",
						"type": "varchar"
					},
					{
						"name": "Deal Date",
						"type": "varchar"
					},
					{
						"name": "Agreement Amount",
						"type": "varchar"
					},
					{
						"name": "Amount Released Against Agreement",
						"type": "varchar"
					},
					{
						"name": "Note To Vendor",
						"type": "varchar"
					},
					{
						"name": "FFA Spec",
						"type": "varchar"
					},
					{
						"name": "Line Status",
						"type": "varchar"
					},
					{
						"name": "EUR USD",
						"type": "varchar"
					},
					{
						"name": "EUR GBP",
						"type": "varchar"
					},
					{
						"name": "Updated Contract Status",
						"type": "varchar"
					},
					{
						"name": "DateStamp",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume",
						"type": "varchar"
					},
					{
						"name": "Agreement Mid Date",
						"type": "varchar"
					},
					{
						"name": "Non-Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume Non-Delivered",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "AppianBPA"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AuditDaily_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is daily trigger for the Audit Job to run. This must run afer the Oracle Jobs that populate the tables ",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "audit_pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-09-05T14:01:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								8
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian BPA Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Appian BPA Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[Prc_AppianBPADetails]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Total Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Total Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Agreement Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Blanket Agreement Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Order Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Order Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Remaining Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Remaining Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Trucks",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Trucks",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Position Now",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Position Now",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Expected Position",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Expected Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeknumbers Contract",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeknumbers Contract",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeks Remaining",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeks Remaining",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Next Monday",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Next Monday",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 2 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Amount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Additional Charges 2 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Amount Released Against Agreement",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Amount Released Against Agreement",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR USD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR USD",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR GBP",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR GBP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DateStamp",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "DateStamp",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Mid Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Agreement Mid Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Non-Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Non-Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AppianDataSuppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian BPA Data_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Appian BPA Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[Prc_AppianBPADetails]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Total Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Total Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Agreement Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Blanket Agreement Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Order Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Order Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Remaining Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Remaining Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Trucks",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Trucks",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Position Now",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Position Now",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Expected Position",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Expected Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeknumbers Contract",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeknumbers Contract",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeks Remaining",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeks Remaining",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Next Monday",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Next Monday",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 2 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Amount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Additional Charges 2 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Amount Released Against Agreement",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Amount Released Against Agreement",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR USD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR USD",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR GBP",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR GBP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DateStamp",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "DateStamp",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Mid Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Agreement Mid Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Non-Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Non-Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AppianDataSuppliers_copy1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Oracle_Data_Trade_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Oracle To BLOB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Drop RAW GL Tables Script",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Oracle_To_BLOB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute BLOB To SQL For Oracle Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Oracle To BLOB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLOB_To_SQL_Oracle_Data_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Data Marks Script",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_Exp_And_Pos_Core_Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Exp_And_Pos_Data_Marks_Script",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute SQL To Blob For Trade Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Drop RAW Tables Script",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Trade-Tables_To_BLOB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Drop RAW Tables Script",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Data Marks Script",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Exp_And_Pos_Drop_RAW_Script",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Drop RAW GL Tables Script",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Trade_Blob_to_SQL",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_GL_Drop_RAW_Script",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_Exp_And_Pos_Core_Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute BLOB To SQL For Oracle Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Exp_And_Pos_Core_Tables",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Trade_SharePoint_To_Blob",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Trade_SharePoint_To_Blob",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Trade_Blob_to_SQL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Trade_SharePoint_To_Blob",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Trade_Blob_to_SQL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Trade"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-10T11:15:02Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SQL_Trade-Tables_To_BLOB')]",
				"[concat(variables('factoryId'), '/pipelines/Trade_SharePoint_To_Blob')]",
				"[concat(variables('factoryId'), '/pipelines/Trade_Blob_to_SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pricing_Data_Trade_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute BLOB To SQL For Pricing Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy_Pricing_Sharepoint_To_BLOB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Pricing_Blob_to_SQL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Data Marks Script",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute BLOB To SQL For Pricing Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Pricing_Data_Marks_Script",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute SQL To BLOB For Trade Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Data Marks Script",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Trade-Tables_To_BLOB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Copy_Pricing_Sharepoint_To_BLOB",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Pricing_Sharepoint_To_BLOB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Send Email Alert",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get the Ticket Number",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://ae-adf-emailnotification.azurewebsites.net:443/api/Argent-Alerting/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=Aso6aks8InhkiT92JgC0HG-J1IvmAhT5B94OpeVK9lo",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n    \"receiver\":\"@{pipeline().parameters.receiver}\",\n    \"title\":\"Pipeline Run Failed\",\n    \"message\":\"Job failed, ticket raised @{variables('TicketNo')}\",\n    \"color\":\"Red\",\n    \"dataFactoryName\":\"@{pipeline().DataFactory}\",\n    \"pipelineName\":\"@{pipeline().Pipeline}\",\n    \"pipelineRunId\":\"@{pipeline().RunId}\",\n    \"time\":\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Raise an Incident",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Execute Data Marks Script",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://eu2api.symphonysummit.com/Argent/REST/Summit_RESTWCF.svc/RESTService/CommonWS_JsonObjCall",
							"method": "POST",
							"headers": {},
							"body": {
								"ServiceName": "IM_LogOrUpdateIncident",
								"objCommonParameters": {
									"_ProxyDetails": {
										"AuthType": "APIKEY",
										"APIKey": "tryDnK94yXfNHDFbDyiy6HltkdY2uvw0f5UtnFfGZiY=",
										"ProxyID": 0,
										"ReturnType": "JSON",
										"OrgID": 1
									},
									"incidentParamsJSON": {
										"IncidentContainerJsonObj": {
											"Updater": "Executive",
											"CI_Key": "hostname",
											"CI_Value": "",
											"Ticket": {
												"IsFromWebService": true,
												"Priority_Name": "P3 - Medium",
												"Classification_Name": "Data or Process in system not working",
												"Sup_Function": "IT",
												"Caller_EmailID": "lyndon.johnson@argentenergy.com",
												"Status": "New",
												"Urgency_Name": "Stops Work",
												"Assigned_WorkGroup_Name": "Argent Reporting Support Team",
												"Medium": "Web",
												"Impact_Name": "Multiple Users",
												"Category_Name": "Argent Reporting",
												"CI_ID": "",
												"SLA_Name": "",
												"OpenCategory_Name": "Argent Reporting",
												"Source": "Person",
												"Description": "@{pipeline().parameters.TicketMessage}",
												"PageName": "TicketDetail"
											},
											"TicketInformation": {
												"Information": "TEST Ticket",
												"InternalLog": "#InternalLog#",
												"UserLog": "",
												"Solution": "#Solution#"
											},
											"CustomFields": []
										}
									},
									"RequestType": "RemoteCall"
								}
							}
						}
					},
					{
						"name": "Get the Ticket Number",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Raise an Incident",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "TicketNo",
							"value": {
								"value": "@string(activity('Raise an Incident').output.TicketNo)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"receiver": {
						"type": "string",
						"defaultValue": "data.mi@argentenergy.com"
					},
					"TicketID": {
						"type": "string"
					},
					"JobMessage": {
						"type": "string",
						"defaultValue": "Azure Data Factory Error"
					},
					"TicketMessage": {
						"type": "string",
						"defaultValue": "Automated message: Data job has failedJob Failed"
					}
				},
				"variables": {
					"TicketNo": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Trade/Pricing"
				},
				"annotations": [],
				"lastPublishTime": "2022-09-14T10:20:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/SQL_Trade-Tables_To_BLOB')]",
				"[concat(variables('factoryId'), '/pipelines/Copy_Pricing_Sharepoint_To_BLOB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Finance_MainPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy Blob to SQL DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CREATEGL_Script_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CREATEGL_Script_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CREATE_TB_Rec",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CREATEGL_Script_3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CREATE_TB_Rec",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CREATEGL_Script_3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CREATEGL_Script_3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Copy Sharepoint to Blob",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Finance_Sharepoint_To_BLOB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Copy Blob to SQL DB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy Sharepoint to Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Finance_Sharepoint_Blob_to_SQL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_Exceptions",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_CurrencyExposure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Exceptions",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_Subledger_TransactionsList_Blend_CoreTables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CREATE_TB_Rec",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Subledger_TransactionsList_Blend_CoreTables",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_BlendMarginAnalysis",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_BlendAnalysisCoreScripts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_BlendMarginAnalysis",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_CurrencyExposure",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_BlendMarginAnalysis",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_CurrencyExposure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_BlendAnalysisCoreScripts",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_Subledger_TransactionsList_Blend_CoreTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_BlendAnalysisCoreScripts",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_SubledgerSuppliersCustomers",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_Subledger_TransactionsList_Blend_CoreTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_SubledgerSuppliersCustomers",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Finance"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-05T10:34:53Z"
			},
			"dependsOn": []
		}
	]
}