adf-aeanalytics-prod/linkedTemplates/ArmTemplate_9.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-aeanalytics-prod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SupplyChain_Blob_to_SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Drop Supply Chain Shipping tables",
						"description": "Drop existing Supply Chain Excel tables in DWH",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SqlServerArgent",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": {
										"value": "DROP TABLE IF EXISTS [RAW].[SC.Shipping2023UK]\nDROP TABLE IF EXISTS [RAW].[SC.Shipping2022UK]\nDROP TABLE IF EXISTS [RAW].[SC.ShippingNL]",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "Copy Shipping 2023 UK",
						"description": "Copy Supply Chain UK Shipping 2023 Excel sheet to DWH",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Drop Supply Chain Shipping tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Blob_SC_Shipping_UK2023_Excel",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Sharepoint_Data_Tables",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "SC.Shipping2023UK"
								}
							}
						]
					},
					{
						"name": "Copy Shipping 2022 UK",
						"description": "Copy Supply Chain UK Shipping 2022 Excel sheet to DWH",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Drop Supply Chain Shipping tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Blob_SC_Shipping_UK2022_Excel",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Sharepoint_Data_Tables",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "SC.Shipping2022UK"
								}
							}
						]
					},
					{
						"name": "Copy Shipping NL",
						"description": "Copy Supply Chain NL Shipping Excel sheet to DWH",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Drop Supply Chain Shipping tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Blob_SC_Shipping_NL_Excel",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Sharepoint_Data_Tables",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "SC.ShippingNL"
								}
							}
						]
					},
					{
						"name": "Lookup Supply Chain Tables",
						"description": "Return the names of the sheets/tables in the Supply Chain data wallet.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Drop Supply Chain Shipping tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "Blob_SC_DataWallet",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Each sheet",
						"description": "Copies each sheet in the lookup sheet to a separate SQL table.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Supply Chain Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Supply Chain Tables').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy Data Wallet",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Drop",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Blob_SC_DataWallet_Sheets",
											"type": "DatasetReference",
											"parameters": {
												"SheetName": "@item().SheetName"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SQL_Sharepoint_Data_Tables",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "@item().TableName"
											}
										}
									]
								},
								{
									"name": "Drop",
									"description": "Drop existing Supply Chain Excel tables",
									"type": "Script",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "SqlServerArgent",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "NonQuery",
												"text": {
													"value": "DROP TABLE IF EXISTS [RAW].[@{item().TableName}]",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Supply Chain"
				},
				"annotations": [],
				"lastPublishTime": "2022-11-14T16:24:18Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SupplyChain_Sharepoint_To_Blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copies the Supply Chain Excel files to Azure blob storage container.",
				"activities": [
					{
						"name": "Sharepoint_token",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"url": "https://accounts.accesscontrol.windows.net/723124e0-74e9-482b-a731-4f534e16e043/tokens/OAuth/2",
							"body": "grant_type=client_credentials&client_id=2de0db9a-9127-408d-a1b4-f79f8da14b07@723124e0-74e9-482b-a731-4f534e16e043&client_secret=nN48Q~nbL5MuWJfZooYV2bW1EuY~Kh_hRMcjJc_J&resource=00000003-0000-0ff1-ce00-000000000000/argentenergyltd.sharepoint.com@723124e0-74e9-482b-a731-4f534e16e043"
						}
					},
					{
						"name": "Copy_SharePoint_to_Blob_UK",
						"description": "Copies UK shipping planning Excel file to Azure blob.",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Sharepoint_token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Shipping%20planning%20Stanlow.xlsx')/$value"
							},
							{
								"name": "Destination",
								"value": "sharepoint-files//@{pipeline().parameters.ExcelUK}"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"additionalHeaders": {
										"value": "@{concat('Authorization: Bearer ', activity('Sharepoint_token').output.access_token)}",
										"type": "Expression"
									},
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SharePoint_SC_UK",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Blob_Sharepoint_Files",
								"type": "DatasetReference",
								"parameters": {
									"ItemName": "@pipeline().parameters.ExcelUK"
								}
							}
						]
					},
					{
						"name": "Copy_SharePoint_to_Blob_NL",
						"description": "Copies NL shipping planning Excel file to Azure blob.",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Sharepoint_token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Tankopslag%20en%20Planning.xlsx')/$value"
							},
							{
								"name": "Destination",
								"value": "sharepoint-files//@{pipeline().parameters.ExcelNL}"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"additionalHeaders": {
										"value": "@{concat('Authorization: Bearer ', activity('Sharepoint_token').output.access_token)}",
										"type": "Expression"
									},
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SharePoint_SC_NL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Blob_Sharepoint_Files",
								"type": "DatasetReference",
								"parameters": {
									"ItemName": "@pipeline().parameters.ExcelNL"
								}
							}
						]
					},
					{
						"name": "Copy_SharePoint_to_Blob_Tables",
						"description": "Copy Supply Chain's data wallet Excel file with multiple sheets/tables to the SharePoint Blob storage container.",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Sharepoint_token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Supply%20Chain%20Excel%20Data%20for%20DWH.xlsx')/$value"
							},
							{
								"name": "Destination",
								"value": "sharepoint-files//@{pipeline().parameters.ExcelTables}"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"additionalHeaders": {
										"value": "@{concat('Authorization: Bearer ', activity('Sharepoint_token').output.access_token)}",
										"type": "Expression"
									},
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SharePoint_SC_Tables",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Blob_Sharepoint_Files",
								"type": "DatasetReference",
								"parameters": {
									"ItemName": {
										"value": "@pipeline().parameters.ExcelTables",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ExcelUK": {
						"type": "string",
						"defaultValue": "Shipping planning Stanlow.xlsx"
					},
					"ExcelNL": {
						"type": "string",
						"defaultValue": "Tankopslag en Planning.xlsx"
					},
					"ExcelTables": {
						"type": "string",
						"defaultValue": "Supply Chain Excel Data for DWH.xlsx"
					}
				},
				"folder": {
					"name": "Supply Chain"
				},
				"annotations": [],
				"lastPublishTime": "2022-11-11T15:23:09Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trade_Blob_to_SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Trade_Excel_tables_lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "Blob_Trade_DataWallet_Excel",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Copy sheets to tables",
						"description": "Copies each sheet in the lookup sheet to a separate SQL table",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Trade_Excel_tables_lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Trade_Excel_tables_lookup').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy from Excel file",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Drop",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Blob_Trade_DataWallet_Sheets",
											"type": "DatasetReference",
											"parameters": {
												"SheetName": "@item().SheetName"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SQL_Sharepoint_Data_Tables",
											"type": "DatasetReference",
											"parameters": {
												"TableName": "@item().TableName"
											}
										}
									]
								},
								{
									"name": "Drop",
									"description": "Drop existing Trade Excel tables",
									"type": "Script",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "SqlServerArgent",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "NonQuery",
												"text": {
													"value": "DROP TABLE IF EXISTS [RAW].[@{item().TableName}]",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Trade"
				},
				"annotations": [],
				"lastPublishTime": "2022-11-14T16:24:18Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trade_SharePoint_To_Blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copies the Trade Excel file to Azure blob storage container",
				"activities": [
					{
						"name": "Sharepoint_token",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"url": "https://accounts.accesscontrol.windows.net/723124e0-74e9-482b-a731-4f534e16e043/tokens/OAuth/2",
							"body": "grant_type=client_credentials&client_id=2de0db9a-9127-408d-a1b4-f79f8da14b07@723124e0-74e9-482b-a731-4f534e16e043&client_secret=nN48Q~nbL5MuWJfZooYV2bW1EuY~Kh_hRMcjJc_J&resource=00000003-0000-0ff1-ce00-000000000000/argentenergyltd.sharepoint.com@723124e0-74e9-482b-a731-4f534e16e043"
						}
					},
					{
						"name": "Copy_SharePoint_to_Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Sharepoint_token",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Trade%20Excel%20Data%20for%20DWH.xlsx')/$value"
							},
							{
								"name": "Destination",
								"value": "sharepoint-files//@{pipeline().parameters.ExcelName}"
							}
						],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"additionalHeaders": {
										"value": "@{concat('Authorization: Bearer ', activity('Sharepoint_token').output.access_token)}",
										"type": "Expression"
									},
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SharePoint_Trade_DataWallet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Blob_Sharepoint_Files",
								"type": "DatasetReference",
								"parameters": {
									"ItemName": "@pipeline().parameters.ExcelName"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ExcelName": {
						"type": "string",
						"defaultValue": "Trade Excel Data for DWH.xlsx"
					}
				},
				"folder": {
					"name": "Trade"
				},
				"annotations": [],
				"lastPublishTime": "2022-11-11T15:23:09Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VesselFinder_GetData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup IMO",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "VesselFinder_IMOs",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Each IMO",
						"description": "Copies each IMO number in the lookup table to a separate API request.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "DeleteOldVesselData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup IMO').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_VesselFinder_To_Blob",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "VesselFinder_Vessels",
											"type": "DatasetReference",
											"parameters": {
												"IMO": {
													"value": "@string(item().imo)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "VesselFinder_JSON_Outputs",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Vessel JSON Blob Get Metadata",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Each IMO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "VesselFinder_JSON_Outputs",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "Vesel JSON Copy Data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Vessel JSON Blob Get Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "Stamp",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['AIS']['MMSI']"
										},
										"sink": {
											"name": "MMSI",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['TIMESTAMP']"
										},
										"sink": {
											"name": "TIMESTAMP",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['LATITUDE']"
										},
										"sink": {
											"name": "LATITUDE",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['LONGITUDE']"
										},
										"sink": {
											"name": "LONGITUDE",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['COURSE']"
										},
										"sink": {
											"name": "COURSE",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['SPEED']"
										},
										"sink": {
											"name": "SPEED",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['HEADING']"
										},
										"sink": {
											"name": "HEADING",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['NAVSTAT']"
										},
										"sink": {
											"name": "NAVSTAT",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['IMO']"
										},
										"sink": {
											"name": "IMO",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['NAME']"
										},
										"sink": {
											"name": "NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['CALLSIGN']"
										},
										"sink": {
											"name": "CALLSIGN",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['TYPE']"
										},
										"sink": {
											"name": "TYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['A']"
										},
										"sink": {
											"name": "A",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['B']"
										},
										"sink": {
											"name": "B",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['C']"
										},
										"sink": {
											"name": "C",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['D']"
										},
										"sink": {
											"name": "D",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['DRAUGHT']"
										},
										"sink": {
											"name": "DRAUGHT",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['DESTINATION']"
										},
										"sink": {
											"name": "DESTINATION",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['LOCODE']"
										},
										"sink": {
											"name": "LOCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['ETA_AIS']"
										},
										"sink": {
											"name": "ETA_AIS",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['ETA']"
										},
										"sink": {
											"name": "ETA",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['SRC']"
										},
										"sink": {
											"name": "SRC",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['ZONE']"
										},
										"sink": {
											"name": "ZONE",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['ECA']"
										},
										"sink": {
											"name": "ECA",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['DISTANCE_REMAINING']"
										},
										"sink": {
											"name": "DISTANCE_REMAINING",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['AIS']['ETA_PREDICTED']"
										},
										"sink": {
											"name": "ETA_PREDICTED",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Stamp']"
										},
										"sink": {
											"name": "Stamp",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "VesselFinder_JSON_Outputs",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Argent_Database",
								"type": "DatasetReference",
								"parameters": {
									"TableName": {
										"value": "VesselFinderData",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Create Final Vessel Table",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Vesel JSON Copy Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "\n\tIF OBJECT_ID('SupplyChain.VesselFinderData_Historical','U') IS NOT NULL\n\t\tDROP TABLE SupplyChain.VesselFinderData_Historical\n\n\tSELECT\t\t*\n\tINTO\t\tSupplyChain.VesselFinderData_Historical\n\tFROM\t\t[RAW].[VesselFinderData] v\n\tLEFT JOIN\t(\n\t\t\t\t\tSELECT\t\tDISTINCT [Index]\n\t\t\t\t\t,\t\t\t[Vessel IMO]\n\t\t\t\t\t,\t\t\t[Mothervessel IMO]\n\t\t\t\t\t,\t\t\t[Vessel Transfer Indicator]\n\t\t\t\t\t,\t\t\t[Live Shipment Indicator]\n\t\t\t\t\tFROM\t\tSupplyChain.ShippingContracts\n\t\t\t\t\tWHERE\t\tISNULL([Mothervessel IMO],[Vessel IMO]) IS NOT NULL\n\t\t\t\t\tAND\t\t\tISNULL([Mothervessel IMO],[Vessel IMO]) <> ''\n\n\t\t\t\t) s\n\tON\t\t\tCASE\n\t\t\t\t\tWHEN [Vessel Transfer Indicator] = 'X'\n\t\t\t\t\t\tTHEN [Vessel IMO]\n\t\t\t\t\tELSE ISNULL([Mothervessel IMO],[Vessel IMO])\n\t\t\t\tEND = v.[IMO]\n\n\n\tIF OBJECT_ID('SupplyChain.VesselData','U') IS NOT NULL\n\t\tDROP TABLE SupplyChain.VesselData\n\n\tSELECT\t\t*\n\tINTO\t\tSupplyChain.VesselData\n\tFROM\t\tSupplyChain.VesselFinderData_Historical\n\tWHERE\t\t[IMO] IS NOT NULL\n\tAND\t\t\t[Live Shipment Indicator] = 1\n\n\tDROP TABLE [RAW].[VesselFinderData]"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "DeleteOldVesselData",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Lookup IMO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "VesselFinder_JSON_Outputs",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeEnd": {
									"value": "@subtractFromTime(utcnow(),3,'Month')",
									"type": "Expression"
								},
								"wildcardFileName": "*json",
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Supply Chain"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VesselFinder_PortData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup IMO",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "VesselFinder_IMOs",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Each IMO",
						"description": "Copies each IMO number in the lookup table to a separate API request.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "DeleteOldPortCalls",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup IMO').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_VesselFinder_To_Blob",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "VesselFinder_Ports",
											"type": "DatasetReference",
											"parameters": {
												"IMO": {
													"value": "@string(item().imo)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "VesselFinder_Ports_JSON_Outputs",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Vessel Portcalls JSON Blob Get Metadata",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Each IMO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "VesselFinder_Ports_JSON_Outputs",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "Copy Portcalls",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Vessel Portcalls JSON Blob Get Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"additionalColumns": [
									{
										"name": "Stamp",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*.json",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['PORTCALL']['MMSI']"
										},
										"sink": {
											"name": "MMSI",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['PORTCALL']['IMO']"
										},
										"sink": {
											"name": "IMO",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['PORTCALL']['LOCODE']"
										},
										"sink": {
											"name": "LOCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['PORTCALL']['EVENT']"
										},
										"sink": {
											"name": "EVENT",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['PORTCALL']['TIMESTAMP']"
										},
										"sink": {
											"name": "TIMESTAMP",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['PORTCALL']['PORT']"
										},
										"sink": {
											"name": "PORT",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['PORTCALL']['COUNTRY']"
										},
										"sink": {
											"name": "COUNTRY",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['Stamp']"
										},
										"sink": {
											"name": "Stamp",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "VesselFinder_Ports_JSON_Outputs",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Argent_Database",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "VesselFinderPortCalls"
								}
							}
						]
					},
					{
						"name": "Create Port Calls Table",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Copy Portcalls",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": "\tIF OBJECT_ID('SupplyChain.VesselFinderPortCalls_Historical','U') IS NOT NULL\r\n        DROP TABLE SupplyChain.VesselFinderPortCalls_Historical\r\n\r\n\tSELECT\t\t*\r\n\tINTO\t\t[SupplyChain].[VesselFinderPortCalls_Historical]\r\n\tFROM\t\t[RAW].[VesselFinderPortCalls] v\r\n\tLEFT JOIN\t(\r\n\t\t\t\t\tSELECT\t\tDISTINCT [Index]\r\n\t\t\t\t\t,\t\t\t[Vessel IMO]\r\n\t\t\t\t\t,\t\t\t[Mothervessel IMO]\r\n\t\t\t\t\t,\t\t\t[Vessel Transfer Indicator]\r\n\t\t\t\t\t,\t\t\t[Live Shipment Indicator]\r\n\t\t\t\t\tFROM\t\tSupplyChain.ShippingContracts\r\n\t\t\t\t\tWHERE\t\tISNULL([Mothervessel IMO],[Vessel IMO]) IS NOT NULL\r\n\t\t\t\t\tAND\t\t\tISNULL([Mothervessel IMO],[Vessel IMO]) <> ''\r\n\r\n\t\t\t\t) s\r\n\tON\t\t\tCASE\r\n\t\t\t\t\tWHEN [Vessel Transfer Indicator] = 'X'\r\n\t\t\t\t\t\tTHEN [Vessel IMO]\r\n\t\t\t\t\tELSE ISNULL([Mothervessel IMO],[Vessel IMO])\r\n\t\t\t\tEND = v.[IMO]\r\n\r\n\r\n\tIF OBJECT_ID('SupplyChain.VesselFinderPortCalls','U') IS NOT NULL\r\n        DROP TABLE SupplyChain.VesselFinderPortCalls\r\n\r\n\tSELECT\t\t*\r\n\tINTO\t\tSupplyChain.VesselFinderPortCalls\r\n\tFROM\t\t[SupplyChain].[VesselFinderPortCalls_Historical]\r\n\tWHERE\t\t[Live Shipment Indicator] = 1\r\n\r\n\tDROP TABLE [RAW].[VesselFinderPortCalls]"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "DeleteOldPortCalls",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Lookup IMO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "VesselFinder_Ports_JSON_Outputs",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"modifiedDatetimeStart": "2023-04-06T00:00:00.000Z",
								"modifiedDatetimeEnd": {
									"value": "@subtractFromTime(utcnow(),3,'Month')",
									"type": "Expression"
								},
								"wildcardFileName": "*.json",
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Supply Chain"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AppianProdSuppliers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Appian_prod",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Supplier_Name",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_number",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Supplier_type",
						"type": "nvarchar"
					},
					{
						"name": "BU_bill_to",
						"type": "nvarchar"
					},
					{
						"name": "BPA_exists",
						"type": "nvarchar"
					},
					{
						"name": "Category_name",
						"type": "nvarchar"
					},
					{
						"name": "Address_name",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_1",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_2",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_3",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_4",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "Postal_code",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "E_mail",
						"type": "nvarchar"
					},
					{
						"name": "Site_name",
						"type": "nvarchar"
					},
					{
						"name": "Purchasing",
						"type": "nvarchar"
					},
					{
						"name": "Pay",
						"type": "nvarchar"
					},
					{
						"name": "Inactive_date_VET_ID_expiry_date",
						"type": "date"
					},
					{
						"name": "VET_ID",
						"type": "nvarchar"
					},
					{
						"name": "ISCC_certificate_number",
						"type": "nvarchar"
					},
					{
						"name": "ISCC_certificate_expiry_date",
						"type": "date"
					},
					{
						"name": "INS_certificate_number",
						"type": "nvarchar"
					},
					{
						"name": "INS_certificate_expiry_date",
						"type": "date"
					},
					{
						"name": "Certification_type",
						"type": "nvarchar"
					},
					{
						"name": "GMP_ID",
						"type": "nvarchar"
					},
					{
						"name": "VIHB_code",
						"type": "nvarchar"
					},
					{
						"name": "Vendor_category",
						"type": "nvarchar"
					},
					{
						"name": "Default_payment_method",
						"type": "nvarchar"
					},
					{
						"name": "Payment_terms",
						"type": "nvarchar"
					},
					{
						"name": "Invoice_currency",
						"type": "nvarchar"
					},
					{
						"name": "Payment_currency",
						"type": "nvarchar"
					},
					{
						"name": "BIC_SWIFT",
						"type": "nvarchar"
					},
					{
						"name": "VAT_number_supplier",
						"type": "nvarchar"
					},
					{
						"name": "VAT_number_site",
						"type": "nvarchar"
					},
					{
						"name": "IBAN",
						"type": "nvarchar"
					},
					{
						"name": "Bank_account_number",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_creation_date",
						"type": "date"
					},
					{
						"name": "Address_creation_date",
						"type": "date"
					},
					{
						"name": "Site_creation_date",
						"type": "date"
					},
					{
						"name": "Site_created_by",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "SuppliersReport_Suppliers"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AppianTest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Appian_Test",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Supplier_Name",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_number",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Supplier_type",
						"type": "nvarchar"
					},
					{
						"name": "BU_bill_to",
						"type": "nvarchar"
					},
					{
						"name": "BPA_exists",
						"type": "nvarchar"
					},
					{
						"name": "Category_name",
						"type": "nvarchar"
					},
					{
						"name": "Address_name",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_1",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_2",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_3",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_4",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "Postal_code",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "E_mail",
						"type": "nvarchar"
					},
					{
						"name": "Site_name",
						"type": "nvarchar"
					},
					{
						"name": "Purchasing",
						"type": "nvarchar"
					},
					{
						"name": "Pay",
						"type": "nvarchar"
					},
					{
						"name": "Inactive_date_VET_ID_expiry_date",
						"type": "date"
					},
					{
						"name": "VET_ID",
						"type": "nvarchar"
					},
					{
						"name": "ISCC_certificate_number",
						"type": "nvarchar"
					},
					{
						"name": "ISCC_certificate_expiry_date",
						"type": "date"
					},
					{
						"name": "INS_certificate_number",
						"type": "nvarchar"
					},
					{
						"name": "INS_certificate_expiry_date",
						"type": "date"
					},
					{
						"name": "Certification_type",
						"type": "nvarchar"
					},
					{
						"name": "GMP_ID",
						"type": "nvarchar"
					},
					{
						"name": "VIHB_code",
						"type": "nvarchar"
					},
					{
						"name": "Vendor_category",
						"type": "nvarchar"
					},
					{
						"name": "Default_payment_method",
						"type": "nvarchar"
					},
					{
						"name": "Payment_terms",
						"type": "nvarchar"
					},
					{
						"name": "Invoice_currency",
						"type": "nvarchar"
					},
					{
						"name": "Payment_currency",
						"type": "nvarchar"
					},
					{
						"name": "BIC_SWIFT",
						"type": "nvarchar"
					},
					{
						"name": "VAT_number_supplier",
						"type": "nvarchar"
					},
					{
						"name": "VAT_number_site",
						"type": "nvarchar"
					},
					{
						"name": "IBAN",
						"type": "nvarchar"
					},
					{
						"name": "Bank_account_number",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_creation_date",
						"type": "date"
					},
					{
						"name": "Address_creation_date",
						"type": "date"
					},
					{
						"name": "Site_creation_date",
						"type": "date"
					},
					{
						"name": "Site_created_by",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "SuppliersReport_Suppliers"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_Prod')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Appian_prod",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "Staging",
					"table": "AppianBPA"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_Prod_Traceablity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Appian_prod",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CREATION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "BUSINESS_UNIT",
						"type": "nvarchar"
					},
					{
						"name": "ORGANIZATION",
						"type": "nvarchar"
					},
					{
						"name": "SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "PHYSICAL_DATE",
						"type": "nvarchar"
					},
					{
						"name": "DOCUMENT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "REASON_NAME",
						"type": "nvarchar"
					},
					{
						"name": "WORK_DEFINITION",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_CODE",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "UNIT_OF_MEASURE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSFER_SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER_SITE",
						"type": "nvarchar"
					},
					{
						"name": "AGREEMENT",
						"type": "nvarchar"
					},
					{
						"name": "EXT_REFERENCE_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "SHIPPING_METHOD",
						"type": "nvarchar"
					},
					{
						"name": "QUANTITY",
						"type": "nvarchar"
					},
					{
						"name": "TANK_BALANCE",
						"type": "nvarchar"
					},
					{
						"name": "RUNNING_TOTAL",
						"type": "nvarchar"
					},
					{
						"name": "GRADE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_ID",
						"type": "nvarchar"
					},
					{
						"name": "LOT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSTYPE_REASON",
						"type": "nvarchar"
					},
					{
						"name": "DENSITY",
						"type": "nvarchar"
					},
					{
						"name": "STD_LTRS",
						"type": "nvarchar"
					},
					{
						"name": "Stamp",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "traceabilityReport"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_test_BPA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Appian_Test",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Business Unit Name",
						"type": "varchar"
					},
					{
						"name": "Blanket Purchase Agreement Number",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Status",
						"type": "varchar"
					},
					{
						"name": "Supplier Name",
						"type": "varchar"
					},
					{
						"name": "Supplier Site Name",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Description",
						"type": "varchar"
					},
					{
						"name": "Item Code",
						"type": "varchar"
					},
					{
						"name": "Item Name",
						"type": "varchar"
					},
					{
						"name": "Item Description",
						"type": "varchar"
					},
					{
						"name": "Category Code",
						"type": "varchar"
					},
					{
						"name": "Total Price",
						"type": "varchar"
					},
					{
						"name": "Unit Price",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Currency",
						"type": "varchar"
					},
					{
						"name": "Blanket Agreement Quantity",
						"type": "varchar"
					},
					{
						"name": "UOM Code",
						"type": "varchar"
					},
					{
						"name": "Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Order Quantity",
						"type": "varchar"
					},
					{
						"name": "Remaining Quantity",
						"type": "varchar"
					},
					{
						"name": "Trucks",
						"type": "varchar"
					},
					{
						"name": "Position Now",
						"type": "varchar"
					},
					{
						"name": "Expected Position",
						"type": "varchar"
					},
					{
						"name": "Weeknumbers Contract",
						"type": "varchar"
					},
					{
						"name": "Weeks Remaining",
						"type": "varchar"
					},
					{
						"name": "Next Monday",
						"type": "varchar"
					},
					{
						"name": "Agreement Start Date",
						"type": "varchar"
					},
					{
						"name": "Agreement End Date",
						"type": "varchar"
					},
					{
						"name": "Shipping Method",
						"type": "varchar"
					},
					{
						"name": "Incoterm",
						"type": "varchar"
					},
					{
						"name": "Transporter Name",
						"type": "varchar"
					},
					{
						"name": "Transporter Unit Price",
						"type": "varchar"
					},
					{
						"name": "Transporter Amount",
						"type": "varchar"
					},
					{
						"name": "Transporter Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Currency",
						"type": "varchar"
					},
					{
						"name": "Buyer",
						"type": "varchar"
					},
					{
						"name": "Sustainability Position",
						"type": "varchar"
					},
					{
						"name": "Supplier Item",
						"type": "varchar"
					},
					{
						"name": "Deal Date",
						"type": "varchar"
					},
					{
						"name": "Agreement Amount",
						"type": "varchar"
					},
					{
						"name": "Amount Released Against Agreement",
						"type": "varchar"
					},
					{
						"name": "Note To Vendor",
						"type": "varchar"
					},
					{
						"name": "FFA Spec",
						"type": "varchar"
					},
					{
						"name": "Line Status",
						"type": "varchar"
					},
					{
						"name": "EUR USD",
						"type": "varchar"
					},
					{
						"name": "EUR GBP",
						"type": "varchar"
					},
					{
						"name": "Updated Contract Status",
						"type": "varchar"
					},
					{
						"name": "DateStamp",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume",
						"type": "varchar"
					},
					{
						"name": "Agreement Mid Date",
						"type": "varchar"
					},
					{
						"name": "Non-Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume Non-Delivered",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "AppianBPA"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_test_traceability')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Appian_Test",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CREATION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "BUSINESS_UNIT",
						"type": "nvarchar"
					},
					{
						"name": "ORGANIZATION",
						"type": "nvarchar"
					},
					{
						"name": "SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "PHYSICAL_DATE",
						"type": "nvarchar"
					},
					{
						"name": "DOCUMENT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "REASON_NAME",
						"type": "nvarchar"
					},
					{
						"name": "WORK_DEFINITION",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_CODE",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "UNIT_OF_MEASURE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSFER_SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER_SITE",
						"type": "nvarchar"
					},
					{
						"name": "AGREEMENT",
						"type": "nvarchar"
					},
					{
						"name": "EXT_REFERENCE_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "SHIPPING_METHOD",
						"type": "nvarchar"
					},
					{
						"name": "QUANTITY",
						"type": "nvarchar"
					},
					{
						"name": "TANK_BALANCE",
						"type": "nvarchar"
					},
					{
						"name": "RUNNING_TOTAL",
						"type": "nvarchar"
					},
					{
						"name": "GRADE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_ID",
						"type": "nvarchar"
					},
					{
						"name": "LOT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSTYPE_REASON",
						"type": "nvarchar"
					},
					{
						"name": "DENSITY",
						"type": "nvarchar"
					},
					{
						"name": "STD_LTRS",
						"type": "nvarchar"
					},
					{
						"name": "Stamp",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "traceabilityReport"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "appDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Business Unit Name",
						"type": "varchar"
					},
					{
						"name": "Blanket Purchase Agreement Number",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Status",
						"type": "varchar"
					},
					{
						"name": "Supplier Name",
						"type": "varchar"
					},
					{
						"name": "Supplier Site Name",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Description",
						"type": "varchar"
					},
					{
						"name": "Item Code",
						"type": "varchar"
					},
					{
						"name": "Item Name",
						"type": "varchar"
					},
					{
						"name": "Item Description",
						"type": "varchar"
					},
					{
						"name": "Category Code",
						"type": "varchar"
					},
					{
						"name": "Total Price",
						"type": "varchar"
					},
					{
						"name": "Unit Price",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Currency",
						"type": "varchar"
					},
					{
						"name": "Blanket Agreement Quantity",
						"type": "varchar"
					},
					{
						"name": "UOM Code",
						"type": "varchar"
					},
					{
						"name": "Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Order Quantity",
						"type": "varchar"
					},
					{
						"name": "Remaining Quantity",
						"type": "varchar"
					},
					{
						"name": "Trucks",
						"type": "varchar"
					},
					{
						"name": "Position Now",
						"type": "varchar"
					},
					{
						"name": "Expected Position",
						"type": "varchar"
					},
					{
						"name": "Weeknumbers Contract",
						"type": "varchar"
					},
					{
						"name": "Weeks Remaining",
						"type": "varchar"
					},
					{
						"name": "Next Monday",
						"type": "varchar"
					},
					{
						"name": "Agreement Start Date",
						"type": "varchar"
					},
					{
						"name": "Agreement End Date",
						"type": "varchar"
					},
					{
						"name": "Shipping Method",
						"type": "varchar"
					},
					{
						"name": "Incoterm",
						"type": "varchar"
					},
					{
						"name": "Transporter Name",
						"type": "varchar"
					},
					{
						"name": "Transporter Unit Price",
						"type": "varchar"
					},
					{
						"name": "Transporter Amount",
						"type": "varchar"
					},
					{
						"name": "Transporter Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Currency",
						"type": "varchar"
					},
					{
						"name": "Buyer",
						"type": "varchar"
					},
					{
						"name": "Sustainability Position",
						"type": "varchar"
					},
					{
						"name": "Supplier Item",
						"type": "varchar"
					},
					{
						"name": "Deal Date",
						"type": "varchar"
					},
					{
						"name": "Agreement Amount",
						"type": "varchar"
					},
					{
						"name": "Amount Released Against Agreement",
						"type": "varchar"
					},
					{
						"name": "Note To Vendor",
						"type": "varchar"
					},
					{
						"name": "FFA Spec",
						"type": "varchar"
					},
					{
						"name": "Line Status",
						"type": "varchar"
					},
					{
						"name": "EUR USD",
						"type": "varchar"
					},
					{
						"name": "EUR GBP",
						"type": "varchar"
					},
					{
						"name": "Updated Contract Status",
						"type": "varchar"
					},
					{
						"name": "DateStamp",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume",
						"type": "varchar"
					},
					{
						"name": "Agreement Mid Date",
						"type": "varchar"
					},
					{
						"name": "Non-Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume Non-Delivered",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "AppianBPA"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "appDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Business Unit Name",
						"type": "varchar"
					},
					{
						"name": "Blanket Purchase Agreement Number",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Status",
						"type": "varchar"
					},
					{
						"name": "Supplier Name",
						"type": "varchar"
					},
					{
						"name": "Supplier Site Name",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Description",
						"type": "varchar"
					},
					{
						"name": "Item Code",
						"type": "varchar"
					},
					{
						"name": "Item Name",
						"type": "varchar"
					},
					{
						"name": "Item Description",
						"type": "varchar"
					},
					{
						"name": "Category Code",
						"type": "varchar"
					},
					{
						"name": "Total Price",
						"type": "varchar"
					},
					{
						"name": "Unit Price",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Currency",
						"type": "varchar"
					},
					{
						"name": "Blanket Agreement Quantity",
						"type": "varchar"
					},
					{
						"name": "UOM Code",
						"type": "varchar"
					},
					{
						"name": "Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Order Quantity",
						"type": "varchar"
					},
					{
						"name": "Remaining Quantity",
						"type": "varchar"
					},
					{
						"name": "Trucks",
						"type": "varchar"
					},
					{
						"name": "Position Now",
						"type": "varchar"
					},
					{
						"name": "Expected Position",
						"type": "varchar"
					},
					{
						"name": "Weeknumbers Contract",
						"type": "varchar"
					},
					{
						"name": "Weeks Remaining",
						"type": "varchar"
					},
					{
						"name": "Next Monday",
						"type": "varchar"
					},
					{
						"name": "Agreement Start Date",
						"type": "varchar"
					},
					{
						"name": "Agreement End Date",
						"type": "varchar"
					},
					{
						"name": "Shipping Method",
						"type": "varchar"
					},
					{
						"name": "Incoterm",
						"type": "varchar"
					},
					{
						"name": "Transporter Name",
						"type": "varchar"
					},
					{
						"name": "Transporter Unit Price",
						"type": "varchar"
					},
					{
						"name": "Transporter Amount",
						"type": "varchar"
					},
					{
						"name": "Transporter Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Currency",
						"type": "varchar"
					},
					{
						"name": "Buyer",
						"type": "varchar"
					},
					{
						"name": "Sustainability Position",
						"type": "varchar"
					},
					{
						"name": "Supplier Item",
						"type": "varchar"
					},
					{
						"name": "Deal Date",
						"type": "varchar"
					},
					{
						"name": "Agreement Amount",
						"type": "varchar"
					},
					{
						"name": "Amount Released Against Agreement",
						"type": "varchar"
					},
					{
						"name": "Note To Vendor",
						"type": "varchar"
					},
					{
						"name": "FFA Spec",
						"type": "varchar"
					},
					{
						"name": "Line Status",
						"type": "varchar"
					},
					{
						"name": "EUR USD",
						"type": "varchar"
					},
					{
						"name": "EUR GBP",
						"type": "varchar"
					},
					{
						"name": "Updated Contract Status",
						"type": "varchar"
					},
					{
						"name": "DateStamp",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume",
						"type": "varchar"
					},
					{
						"name": "Agreement Mid Date",
						"type": "varchar"
					},
					{
						"name": "Non-Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume Non-Delivered",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "AppianBPA"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable2_Suppliers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "appDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Supplier_Name",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_number",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Supplier_type",
						"type": "nvarchar"
					},
					{
						"name": "BU_bill_to",
						"type": "nvarchar"
					},
					{
						"name": "BPA_exists",
						"type": "nvarchar"
					},
					{
						"name": "Category_name",
						"type": "nvarchar"
					},
					{
						"name": "Address_name",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_1",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_2",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_3",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_4",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "Postal_code",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "E_mail",
						"type": "nvarchar"
					},
					{
						"name": "Site_name",
						"type": "nvarchar"
					},
					{
						"name": "Purchasing",
						"type": "nvarchar"
					},
					{
						"name": "Pay",
						"type": "nvarchar"
					},
					{
						"name": "Inactive_date_VET_ID_expiry_date",
						"type": "date"
					},
					{
						"name": "VET_ID",
						"type": "nvarchar"
					},
					{
						"name": "ISCC_certificate_number",
						"type": "nvarchar"
					},
					{
						"name": "ISCC_certificate_expiry_date",
						"type": "date"
					},
					{
						"name": "INS_certificate_number",
						"type": "nvarchar"
					},
					{
						"name": "INS_certificate_expiry_date",
						"type": "date"
					},
					{
						"name": "Certification_type",
						"type": "nvarchar"
					},
					{
						"name": "GMP_ID",
						"type": "nvarchar"
					},
					{
						"name": "VIHB_code",
						"type": "nvarchar"
					},
					{
						"name": "Vendor_category",
						"type": "nvarchar"
					},
					{
						"name": "Default_payment_method",
						"type": "nvarchar"
					},
					{
						"name": "Payment_terms",
						"type": "nvarchar"
					},
					{
						"name": "Invoice_currency",
						"type": "nvarchar"
					},
					{
						"name": "Payment_currency",
						"type": "nvarchar"
					},
					{
						"name": "BIC_SWIFT",
						"type": "nvarchar"
					},
					{
						"name": "VAT_number_supplier",
						"type": "nvarchar"
					},
					{
						"name": "VAT_number_site",
						"type": "nvarchar"
					},
					{
						"name": "IBAN",
						"type": "nvarchar"
					},
					{
						"name": "Bank_account_number",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_creation_date",
						"type": "date"
					},
					{
						"name": "Address_creation_date",
						"type": "date"
					},
					{
						"name": "Site_creation_date",
						"type": "date"
					},
					{
						"name": "Site_created_by",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "SuppliersReport_Suppliers"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable2_traceability')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "appDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CREATION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "BUSINESS_UNIT",
						"type": "nvarchar"
					},
					{
						"name": "ORGANIZATION",
						"type": "nvarchar"
					},
					{
						"name": "SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "PHYSICAL_DATE",
						"type": "nvarchar"
					},
					{
						"name": "DOCUMENT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "REASON_NAME",
						"type": "nvarchar"
					},
					{
						"name": "WORK_DEFINITION",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_CODE",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "UNIT_OF_MEASURE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSFER_SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER_SITE",
						"type": "nvarchar"
					},
					{
						"name": "AGREEMENT",
						"type": "nvarchar"
					},
					{
						"name": "EXT_REFERENCE_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "SHIPPING_METHOD",
						"type": "nvarchar"
					},
					{
						"name": "QUANTITY",
						"type": "nvarchar"
					},
					{
						"name": "TANK_BALANCE",
						"type": "nvarchar"
					},
					{
						"name": "RUNNING_TOTAL",
						"type": "nvarchar"
					},
					{
						"name": "GRADE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_ID",
						"type": "nvarchar"
					},
					{
						"name": "LOT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSTYPE_REASON",
						"type": "nvarchar"
					},
					{
						"name": "DENSITY",
						"type": "nvarchar"
					},
					{
						"name": "STD_LTRS",
						"type": "nvarchar"
					},
					{
						"name": "Stamp",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "traceabilityReport"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AuditDaily_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is daily trigger for the Audit Job to run. This must run afer the Oracle Jobs that populate the tables ",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "audit_pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-04-01T00:00:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								8
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Operations_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Trigger the main operations pipeline\n",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SQL_Operations_MainPipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-04-01T00:00:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								4
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TL_CostAccounting_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SQL_TransactionList_CostAccounting",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-04-01T00:00:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								20
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AE_SQLDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "GLLedgeID",
						"type": "nvarchar"
					},
					{
						"name": "Ledger_ID",
						"type": "nvarchar"
					},
					{
						"name": "Code_Combination_id",
						"type": "nvarchar"
					},
					{
						"name": "CURRENCY_CODE",
						"type": "nvarchar"
					},
					{
						"name": "PERIOD_NAME",
						"type": "nvarchar"
					},
					{
						"name": "ACTUAL_FLAG",
						"type": "nvarchar"
					},
					{
						"name": "LAST_UPDATE_DATE",
						"type": "nvarchar"
					},
					{
						"name": "LAST_UPDATED_BY",
						"type": "nvarchar"
					},
					{
						"name": "PERIOD_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "PERIOD_YEAR",
						"type": "nvarchar"
					},
					{
						"name": "PERIOD_NUM",
						"type": "nvarchar"
					},
					{
						"name": "PERIOD_NET_DR",
						"type": "nvarchar"
					},
					{
						"name": "PERIOD_NET_CR",
						"type": "nvarchar"
					},
					{
						"name": "QUARTER_TO_DATE_DR",
						"type": "nvarchar"
					},
					{
						"name": "QUARTER_TO_DATE_CR",
						"type": "nvarchar"
					},
					{
						"name": "PROJECT_TO_DATE_DR",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "PROJECT_TO_DATE_CR",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "BEGIN_BALANCE_DR",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "BEGIN_BALANCE_CR",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "PERIOD_NET_DR_BEQ",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "PERIOD_NET_CR_BEQ",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "BEGIN_BALANCE_DR_BEQ",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "BEGIN_BALANCE_CR_BEQ",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "QUARTER_TO_DATE_DR_BEQ",
						"type": "nvarchar"
					},
					{
						"name": "QUARTER_TO_DATE_CR_BEQ",
						"type": "nvarchar"
					},
					{
						"name": "PROJECT_TO_DATE_DR_BEQ",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "PROJECT_TO_DATE_CR_BEQ",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "Stamp",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Staging.factGLBalances"
				}
			},
			"dependsOn": []
		}
	]
}