adf-aeanalytics-prod/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-aeanalytics-prod"
		},
		"AppianDev_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AppianDev'"
		},
		"AzureDataLakeStorage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"AzureSqlDatabase2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase2'"
		},
		"FTP Oracle_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'FTP Oracle'"
		},
		"OracleBlob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'OracleBlob'"
		},
		"SqlServerArgent_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServerArgent'"
		},
		"TestBlob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'TestBlob'"
		},
		"AzureDataLakeStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://staeanalyticsprod.dfs.core.windows.net"
		},
		"FTP Oracle_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "sftp.argentenergy.nl"
		},
		"FTP Oracle_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Oracle"
		},
		"Sharepoint_Pricing_Data_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://argentenergyltd.sharepoint.com/sites/PowerBIdata/_api/web/GetFileByServerRelativeUrl('/sites/PowerBIdata/Shared%20Documents/General/Excel%20files/"
		},
		"SupplyChain_SharePoint_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://argentenergyltd.sharepoint.com/sites/PowerBIdata/_api/web/GetFileByServerRelativeUrl('/sites/PowerBIdata/Shared%20Documents/General/Excel%20files/"
		},
		"VesselFinder_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.vesselfinder.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/TestIncidents')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "test",
				"activities": [
					{
						"name": "Raise an Incident",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://eu2api.symphonysummit.com/Argent/REST/Summit_RESTWCF.svc/RESTService/CommonWS_JsonObjCall",
							"method": "POST",
							"headers": {},
							"body": {
								"ServiceName": "IM_LogOrUpdateIncident",
								"objCommonParameters": {
									"_ProxyDetails": {
										"AuthType": "APIKEY",
										"APIKey": "tryDnK94yXfNHDFbDyiy6HltkdY2uvw0f5UtnFfGZiY=",
										"ProxyID": 0,
										"ReturnType": "JSON",
										"OrgID": 1
									},
									"incidentParamsJSON": {
										"IncidentContainerJsonObj": {
											"Updater": "Executive",
											"CI_Key": "hostname",
											"CI_Value": "",
											"Ticket": {
												"IsFromWebService": true,
												"Priority_Name": "P3 - Medium",
												"Classification_Name": "Data or Process in system not working",
												"Sup_Function": "IT",
												"Caller_EmailID": "lyndon.johnson@argentenergy.com",
												"Status": "New",
												"Urgency_Name": "Stops Work",
												"Assigned_WorkGroup_Name": "Argent Reporting Support Team",
												"Medium": "Web",
												"Impact_Name": "Multiple Users",
												"Category_Name": "Argent Reporting",
												"CI_ID": "",
												"SLA_Name": "",
												"OpenCategory_Name": "Argent Reporting",
												"Source": "Person",
												"Description": "@{pipeline().parameters.TicketMessage}",
												"PageName": "TicketDetail"
											},
											"TicketInformation": {
												"Information": "TEST Ticket",
												"InternalLog": "#InternalLog#",
												"UserLog": "",
												"Solution": "#Solution#"
											},
											"CustomFields": []
										}
									},
									"RequestType": "RemoteCall"
								}
							}
						}
					},
					{
						"name": "Get the Ticket Number",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Raise an Incident",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "TicketNo",
							"value": {
								"value": "@string(activity('Raise an Incident').output.TicketNo)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Send Email Alert",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get the Ticket Number",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://ae-adf-emailnotification.azurewebsites.net:443/api/Argent-Alerting/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=Aso6aks8InhkiT92JgC0HG-J1IvmAhT5B94OpeVK9lo",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n    \"receiver\":\"@{pipeline().parameters.receiver}\",\n    \"title\":\"Pipeline Run Failed\",\n    \"message\":\"Job failed, ticket raised @{variables('TicketNo')}\",\n    \"color\":\"Red\",\n    \"dataFactoryName\":\"@{pipeline().DataFactory}\",\n    \"pipelineName\":\"@{pipeline().Pipeline}\",\n    \"pipelineRunId\":\"@{pipeline().RunId}\",\n    \"time\":\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"receiver": {
						"type": "string",
						"defaultValue": "sql.jobs@argentenergy.com"
					},
					"TicketID": {
						"type": "string"
					},
					"JobMessage": {
						"type": "string",
						"defaultValue": "Azure Data Factory Error"
					},
					"TicketMessage": {
						"type": "string",
						"defaultValue": "Automated message: Data job has failedJob Failed"
					}
				},
				"variables": {
					"TicketNo": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Trade/Pricing"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AppianDev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AppianDev_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FTP Oracle')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "On-premise FTP server",
				"annotations": [],
				"type": "FtpServer",
				"typeProperties": {
					"host": "[parameters('FTP Oracle_properties_typeProperties_host')]",
					"port": 21,
					"enableSsl": false,
					"enableServerCertificateValidation": false,
					"authenticationType": "Basic",
					"userName": "[parameters('FTP Oracle_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('FTP Oracle_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OracleBlob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('OracleBlob_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sharepoint_Pricing_Data')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Link to Sharepoint site \"PowerBI data\" folder \"Excel files\"",
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('Sharepoint_Pricing_Data_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerArgent')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServerArgent_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SupplyChain_SharePoint')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('SupplyChain_SharePoint_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TestBlob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('TestBlob_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VesselFinder')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('VesselFinder_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NonOracle')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 7,
						"startTime": "2022-09-01T17:12:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								11
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AppianRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Integration Runtime setup for Appian",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CREATEGL_Script_1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CREATEGL1",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "7.0:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SqlServerArgent",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\t-- 1. \tMANIPULATE GENERAL LEDGER\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\t-- 1.1\tCREATE WIP JOURNALS\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\t\r\n\tIF OBJECT_ID('Core.GL_JE_Lines','U') IS NOT NULL DROP TABLE Core.GL_JE_Lines\r\n\tSELECT\t*,\r\n\t\t\tCAST(ISNULL(ACCOUNTED_DR,0) AS MONEY) - CAST(ISNULL(ACCOUNTED_CR,0) AS MONEY) AS ACCOUNTED_AMOUNT,\r\n\t\t\tCAST(ISNULL(ENTERED_DR,0) AS MONEY) - CAST(ISNULL(ENTERED_CR,0) AS MONEY) AS ENTERED_AMOUNT\r\n\tINTO Core.GL_JE_Lines\r\n\tFROM\t(\t\r\n\t\t\t\tSELECT\t\t[JE_HEADER_ID], [JE_LINE_NUM], [LAST_UPDATE_DATE], [LAST_UPDATED_BY], [LEDGER_ID], [CODE_COMBINATION_ID], [PERIOD_NAME], [EFFECTIVE_DATE], [STATUS], [CREATION_DATE], [CREATED_BY], [ENTERED_CR], [ACCOUNTED_CR], [DESCRIPTION], [ENTERED_DR], [ACCOUNTED_DR], [Stamp]\r\n\t\t\t\tFROM\t\t[RAW].[O.GL_JE_LINES] \r\n\t\t\t\tUNION\r\n\t\t\t\tSELECT\t\t[JE_HEADER_ID], [JE_LINE_NUM], [LAST_UPDATE_DATE], [LAST_UPDATED_BY], [LEDGER_ID], [CODE_COMBINATION_ID], [PERIOD_NAME], [EFFECTIVE_DATE], [STATUS], [CREATION_DATE], [CREATED_BY], [ENTERED_CR], [ACCOUNTED_CR], [DESCRIPTION], [ENTERED_DR], [ACCOUNTED_DR], [Stamp]\r\n\t\t\t\tFROM\t\t[RAW].[O.GL_JE_LINES_2021]\r\n\t\t\t\tUNION\r\n\t\t\t\tSELECT\t\t[JE_HEADER_ID], [JE_LINE_NUM], [LAST_UPDATE_DATE], [LAST_UPDATED_BY], [LEDGER_ID], [CODE_COMBINATION_ID], [PERIOD_NAME], [EFFECTIVE_DATE], [STATUS], [CREATION_DATE], [CREATED_BY], [ENTERED_CR], [ACCOUNTED_CR], [DESCRIPTION], [ENTERED_DR], [ACCOUNTED_DR], [Stamp]\r\n\t\t\t\tFROM\t\t[RAW].[O.GL_JE_LINES_2020]\r\n\t\t\t\tWHERE\t\t[PERIOD_NAME] LIKE '%21%'\r\n\t\t\t) je\r\n\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\t-- 1.2\tBuild Segments in Scope table\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\t\r\n\t\r\n\tIF OBJECT_ID('Core.GL_SegmentsInScope','U') IS NOT NULL DROP TABLE Core.GL_SegmentsInScope\r\n\t;WITH IDs AS (\r\n\tSELECT \t\tDISTINCT CODE_COMBINATION_ID \r\n\tFROM \t\tCore.GL_JE_Lines\r\n\tUNION \r\n\tSELECT \t\tDISTINCT CODE_COMBINATION_ID \r\n\tFROM \t\t[RAW].[O.GL_BALANCES]\r\n\t)\r\n\tSELECT \t\tDISTINCT i.CODE_COMBINATION_ID, \r\n\t\t\t\tSEGMENT1, SEGMENT2, SEGMENT3, SEGMENT4, SEGMENT5, \r\n\t\t\t\tSEGMENT6\r\n\tINTO \t\tCore.GL_SegmentsInScope \r\n\tFROM \t\tIDs i\r\n\tLEFT JOIN \t[RAW].[O.GL_CODE_COMBINATIONS] gcc \r\n\tON \t\t\tgcc.CODE_COMBINATION_ID = i.CODE_COMBINATION_ID\r\n\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\t-- 1.3\tBuild Max Dates table\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\t\r\n\r\n\tIF OBJECT_ID('Core.GL_MaxDates','U') IS NOT NULL DROP TABLE Core.GL_MaxDates\r\n\tSELECT\t\tFLEX_VALUE,\r\n\t\t\t\tVALUE_CATEGORY ,\r\n\t\t\t\tCOUNT(*) AS [rowcount], \r\n\t\t\t\tMAX(CAST(LEFT([LAST_UPDATE_DATE],10) AS DATE)) AS [maxdate]\r\n\tINTO\t\tCore.GL_MaxDates\r\n\tFROM\t\t[RAW].[O.FND_FLEX_VALUES_VL]\r\n\tWHERE\t\t[VALUE_CATEGORY] IN ('Account Argent','Company Argent','Cost Centre Argent')\r\n\tGROUP BY\tFLEX_VALUE\r\n\t,\t\t\tVALUE_CATEGORY\r\n\tHAVING\t\tCOUNT(*) > 1\r\n\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\t-- 1.4\tBuild Flex Value Max Date table\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\t\r\n\t\r\n\tIF OBJECT_ID('Core.GL_FlexValueMaxDate','U') IS NOT NULL DROP TABLE Core.GL_FlexValueMaxDate\r\n\tSELECT\t\tfv.*, \r\n\t\t\t\tCASE WHEN md.MaxDate IS NULL THEN CAST(LEFT([LAST_UPDATE_DATE],10) AS DATE) ELSE MaxDate END AS [MaxDate]\r\n\tINTO\t\tCore.GL_FlexValueMaxDate\r\n\tFROM\t\t[RAW].[O.FND_FLEX_VALUES_VL] fv\r\n\tLEFT JOIN\tCore.GL_MaxDates md \r\n\tON \t\t\tfv.FLEX_VALUE = md.flex_value\r\n\tAND\t\t\tfv.Value_Category = md.VALUE_CATEGORY\r\n\tWHERE\t\tfv.[VALUE_CATEGORY] IN ('Account Argent','Company Argent','Cost Centre Argent')\r\n\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\t-- 1.5\tBuild GL Descriptions table\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\t\r\n\r\n\tIF OBJECT_ID('Core.GL_Descriptions','U') IS NOT NULL DROP TABLE Core.GL_Descriptions\r\n\t;WITH S AS (\r\n\t\t\t\tSELECT 'SEGMENT' AS SEGMENT, '' AS [VALUE_CATEGORY]\r\n\tUNION \t\tSELECT DISTINCT SEGMENT1, 'Company Argent' AS [VALUE_CATEGORY] FROM Core.GL_SegmentsInScope\t\r\n\tUNION  \t\tSELECT DISTINCT SEGMENT3, 'Account Argent' AS [VALUE_CATEGORY] FROM Core.GL_SegmentsInScope\t\r\n\tUNION  \t\tSELECT DISTINCT SEGMENT2, 'Cost Centre Argent' AS [VALUE_CATEGORY] FROM Core.GL_SegmentsInScope \t\r\n\tUNION  \t\tSELECT DISTINCT SEGMENT2, 'Cost Centre Argent' AS [VALUE_CATEGORY] FROM Core.GL_SegmentsInScope \t\r\n\t),\t\t\t\r\n\tFMV AS (\r\n\tSELECT\t\tDISTINCT fv.FLEX_VALUE, fv.DESCRIPTION, fv.VALUE_CATEGORY\r\n\tFROM\t\tCore.GL_FlexValueMaxDate fv\r\n\tINNER JOIN\tCore.GL_FlexValueMaxDate md \r\n\tON \t\t\tfv.FLEX_VALUE_ID = md.FLEX_VALUE_ID \r\n\tAND \t\tCAST(LEFT(fv.[LAST_UPDATE_DATE],10) AS DATE) = md.MaxDate\r\n\t)\r\n\tSELECT\t\tS.SEGMENT\r\n\t,\t\t\tFMV.*\r\n\tINTO\t\tCore.GL_Descriptions\r\n\tFROM\t\tFMV\r\n\tLEFT JOIN   S\r\n\tON \t\t\tFMV.FLEX_VALUE = S.SEGMENT\r\n\tAND\t\t\tFMV.VALUE_CATEGORY = S.VALUE_CATEGORY\r\n\tWHERE \t\tS.SEGMENT IS NOT NULL\r\n\r\n-----------------------------------------------------------------------------------------------------------------------------------------------\r\n-- 1.6\tCreate table containing budget information\r\n-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\r\n\tIF OBJECT_ID('tempdb..#BudgetBalances','U') IS NOT NULL DROP TABLE #BudgetBalances\r\n\tIF OBJECT_ID('[Finance].[BudgetBalances]','U') IS NOT NULL DROP TABLE [Finance].[BudgetBalances]\r\n\r\n\tSELECT\t\tgcc.[PERIOD_NAME] AS [Period Name]\r\n\t,\t\t\tCAST(CASE WHEN gp.PERIOD_NUM = '13' THEN '12' ELSE RIGHT(CONCAT('0',gp.PERIOD_NUM),2) END AS INT) AS [Financial Period]\r\n\t,\t\t\tCONCAT('20',RIGHT(gcc.[PERIOD_NAME],2)) AS [Financial Year]\r\n\t,\t\t\t[BUDGET_NAME] AS [Budget Name]\r\n\t,\t\t\t[SEGMENT1] AS [Entity]\r\n\t,\t\t\te.[Description] AS [Company Name]\r\n\t,\t\t\t[SEGMENT2] AS [Cost Centre]\r\n\t,\t\t\tc.[Description] AS [Cost Centre Description]\r\n\t,\t\t\t[SEGMENT3] AS [Account Number]\r\n\t,\t\t\ta.[Description] AS [Account Description]\r\n\t,\t\t\tfr.[AccountDesc#5] AS [Account Category]\r\n\t,\t\t\t[CURRENCY_CODE] AS [Currency]\r\n\t,\t\t\t[PERIOD_NET_DR] AS [Net Debit]\r\n\t,\t\t\t[PERIOD_NET_CR] AS [Net Credit]\r\n\t,\t\t\tDATENAME(MONTH,CONCAT(CONCAT('20',RIGHT(gcc.[PERIOD_NAME],2)),'-',CAST(CASE WHEN gp.PERIOD_NUM = '13' THEN '12' ELSE RIGHT(CONCAT('0',gp.PERIOD_NUM),2) END AS INT),'-01')) + ' ' + CONCAT('20',RIGHT(gcc.[PERIOD_NAME],2)) AS [Date]\r\n\t,\t\t\tLEFT([BUDGET_NAME],CHARINDEX(' ',[BUDGET_NAME])) AS [Budget Type]\r\n\t,\t\t\tCASE \r\n\t\t\t\t\tWHEN CAST([PERIOD_NET_DR] AS DECIMAL(28,2)) = 0\r\n\t\t\t\t\t\tTHEN IIF(fr.[AccountDesc#5] = 'Revenue',CAST([PERIOD_NET_CR] AS DECIMAL(28,2)),(-1)*CAST([PERIOD_NET_CR] AS DECIMAL(28,2)))\r\n\t\t\t\t\tELSE CAST([PERIOD_NET_DR] AS DECIMAL(28,2))\r\n\t\t\t\tEND AS [Budget]\r\n\t,\t\t\tCONCAT([SEGMENT1],':',[CURRENCY_CODE],':',[SEGMENT3],':',[SEGMENT2],':',DATENAME(MONTH,CONCAT(CONCAT('20',RIGHT(gcc.[PERIOD_NAME],2)),'-',CAST(CASE WHEN gp.PERIOD_NUM = '13' THEN '12' ELSE RIGHT(CONCAT('0',gp.PERIOD_NUM),2) END AS INT),'-01')) + ' ' + CONCAT('20',RIGHT(gcc.[PERIOD_NAME],2))) AS [GL_Budget Link]\r\n\t,\t\t\tCAST(GETDATE() AS DATE) AS [DateStamp]\r\n\tINTO\t\t#BudgetBalances\r\n\tFROM\t\t[RAW].[O.GL_BUDGET_BALANCES] gcc\r\n\tLEFT JOIN\t[RAW].[O.GL_PERIODS] gp ON gp.PERIOD_NAME = gcc.PERIOD_NAME \r\n\tLEFT JOIN\tCore.GL_Descriptions e ON e.FLEX_VALUE = gcc.SEGMENT1 AND e.VALUE_CATEGORY = 'Company Argent'\r\n\tLEFT JOIN\tCore.GL_Descriptions a ON a.FLEX_VALUE = gcc.SEGMENT3 AND a.VALUE_CATEGORY = 'Account Argent'\r\n\tLEFT JOIN\tCore.GL_Descriptions c ON c.FLEX_VALUE = gcc.SEGMENT2 AND c.VALUE_CATEGORY = 'Cost Centre Argent'\r\n\tLEFT JOIN\t[RAW].[F.FinanceReference] fr ON gcc.[SEGMENT3] = fr.[AccountDesc#9]\r\n\r\n\tSELECT\t\tbb.*\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN LEFT([Entity],1) = '3'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Budget]/[Rate_P&L],[Budget]/[Rate_BS])\r\n\t\t\t\t\tELSE [Budget]\r\n\t\t\t\tEND AS [Budget GBP]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN LEFT([Entity],1) != '3'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Budget]*[Rate_P&L],[Budget]*[Rate_BS])\r\n\t\t\t\t\tELSE [Budget]\r\n\t\t\t\tEND AS [Budget EUR]\r\n\tINTO\t\t[Finance].[BudgetBalances]\r\n\tFROM\t\t#BudgetBalances bb\r\n\tLEFT JOIN\t[Finance].[FX_Rates] fx\r\n\tON\t\t\tbb.[Date] = fx.[Date]\r\n\r\n-----------------------------------------------------------------------------------------------------------------------------------------------\r\n-- 1.7\tManipulate FX Rates table\r\n-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\r\n\tIF OBJECT_ID('tempdb..#Dates','U') IS NOT NULL DROP TABLE #Dates\r\n\tIF OBJECT_ID('tempdb..#FX_Rates_PreFillDown','U') IS NOT NULL DROP TABLE #FX_Rates_PreFillDown\r\n\tIF OBJECT_ID('[Finance].[FX_Rates]','U') IS NOT NULL DROP TABLE [Finance].[FX_Rates]\r\n\r\n\t;WITH CTE_Dates AS\r\n\t(\r\n\t    SELECT CONVERT(DATE, (\r\n\t\t\t\t\t\t\t\t\tSELECT\t\tMIN(CAST(CONCAT([Year],'-',[Month],'-01') AS DATE))\r\n\t\t\t\t\t\t\t\t\tFROM\t\t[RAW].[FX_Rates]\r\n\t\t\t\t\t\t\t\t\tWHERE\t\t[Currency] IS NOT NULL\r\n\t\t\t\t\t\t\t\t)) AS Dates\r\n\t \r\n\t    UNION ALL\r\n\t \r\n\t    SELECT DATEADD(MONTH, 1, Dates)\r\n\t    FROM CTE_Dates\r\n\t    WHERE CONVERT(DATE, Dates) <= CONVERT(DATE, DATEADD(MONTH,-1,CAST(GETDATE() AS DATE)))\r\n\t)\r\n\tSELECT\t\tROW_NUMBER()OVER(ORDER BY [Dates]) AS [RowNumber]\r\n\t,\t\t\tDATENAME(MONTH,Dates) + ' ' + DATENAME(YEAR, Dates) AS [Date]\r\n\tINTO\t\t#Dates\r\n\tFROM\t\tCTE_Dates\r\n\r\n\tSELECT\t\tfx.[Currency]\r\n\t,\t\t\tfx.[Rate_BS]\r\n\t,\t\t\tfx.[Rate_P&L]\r\n\t,\t\t\tfx.[Version]\r\n\t,\t\t\tfx.[Year]\r\n\t,\t\t\tfx.[Month]\r\n\t,\t\t\td.[Date]\r\n\tINTO\t\t#FX_Rates_PreFillDown\r\n\tFROM\t\t(\r\n\t\t\t\t\tSELECT\t\t*\r\n\t\t\t\t\t,\t\t\tROW_NUMBER()OVER(ORDER BY CAST(CONCAT([Year],'-',[Month],'-01') AS DATE)) AS [RowNumber]\r\n\t\t\t\t\tFROM\t\t[RAW].[FX_Rates]\r\n\t\t\t\t\tWHERE\t\t[Currency] IS NOT NULL\r\n\t\t\t\t) fx\r\n\tFULL JOIN\t#Dates d\r\n\tON\t\t\tfx.[RowNumber] = d.[RowNumber]\r\n\r\n\r\n\r\n\tSELECT\t\tFIRST_VALUE([Currency]) OVER (PARTITION BY [Currency Group] ORDER BY CAST([Date] AS DATE)) AS [Currency]\r\n\t,\t\t\tFIRST_VALUE([Rate_BS]) OVER (PARTITION BY [Rate_BS Group] ORDER BY CAST([Date] AS DATE)) AS [Rate_BS]\r\n\t,\t\t\tFIRST_VALUE([Rate_P&L]) OVER (PARTITION BY [Rate_P&L Group] ORDER BY CAST([Date] AS DATE)) AS [Rate_P&L]\r\n\t,\t\t\tISNULL([Version],'Rolled Forwards')\t\tAS [Version]\r\n\t,\t\t\tISNULL([Year],RIGHT([Date],4))\t\t\tAS [Year]\r\n\t,\t\t\tISNULL([Month],DATEPART(MM,[Date]))\t\tAS [Month]\r\n\t,\t\t\t[Date]\r\n\tINTO\t\t[Finance].[FX_Rates]\r\n\tFROM\t\t(\r\n\t\t\t\t\tSELECT\t\t*\r\n\t\t\t\t\t,\t\t\tCOUNT([Currency]) OVER (ORDER BY CAST([Date] AS DATE)) AS [Currency Group]\r\n\t\t\t\t\t,\t\t\tCOUNT([Rate_BS]) OVER (ORDER BY CAST([Date] AS DATE)) AS [Rate_BS Group]\r\n\t\t\t\t\t,\t\t\tCOUNT([Rate_P&L]) OVER (ORDER BY CAST([Date] AS DATE)) AS [Rate_P&L Group]\r\n\t\t\t\t\tFROM\t\t#FX_Rates_PreFillDown\r\n\t\t\t\t) fx"
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Finance"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-09T17:23:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServerArgent')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CREATEGL_Script_2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CREATEGL2",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "7.0:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SqlServerArgent",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "--------------------------------------------------------------------------------------------------------------------------------------------\r\n\t-- 2.1\tCreate PY GL\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\tIF OBJECT_ID('tempdb..#GL_PY','U') IS NOT NULL DROP TABLE #GL_PY\r\n\tIF OBJECT_ID('Core.GL_PY','U') IS NOT NULL DROP TABLE Core.GL_PY;\r\n\r\n\tSELECT\t\t\r\n\tgcc.SEGMENT1 AS [Entity] ,\r\n\te.DESCRIPTION AS [Company Name] , \r\n\tjh.[JE_HEADER_ID] AS [Journal Number] ,\r\n\tCONVERT(VARCHAR(10),CAST(LEFT(jh.[CREATION_DATE],10)  AS DATE),103) AS [Date Entered] ,\r\n\tCONVERT(VARCHAR(10),CAST(SUBSTRING(jh.[CREATION_DATE],12,8)  AS TIME),108) AS [Time Entered] ,\r\n\tCONVERT(VARCHAR(10),CAST(LEFT(jh.LAST_UPDATE_DATE,10) AS DATE),103) AS [Date Updated] ,\r\n\tCONVERT(VARCHAR(10),CAST(SUBSTRING(jh.LAST_UPDATE_DATE,12,8) AS TIME),108) AS [Time Updated] ,\r\n\tjl.[CREATED_BY] AS [User Entered] ,\r\n\tjl.[LAST_UPDATED_BY] AS [User Updated] ,\r\n\tCONVERT(VARCHAR(10),CAST(LEFT(jh.DEFAULT_EFFECTIVE_DATE,10) AS DATE),103) AS [Date Effective],\r\n\tCONVERT(VARCHAR(10),CAST(LEFT(jh.DEFAULT_EFFECTIVE_DATE,10) AS DATE),103) as [Date of Journal],\r\n\tCASE WHEN gp.PERIOD_NUM = '13' THEN '12' ELSE RIGHT(CONCAT('0',gp.PERIOD_NUM),2) END AS [Financial Period] ,\r\n\tjh.[JE_source]\tAS [Journal Type] ,\r\n\tjs.[DESCRIPTION] AS [Journal Type Description] ,\r\n\tLEFT(jh.[DESCRIPTION],200) AS [Journal Description] ,\r\n\tjl.[JE_LINE_NUM] AS [Line Number] ,\r\n\tLEFT(jl.[DESCRIPTION],200) AS [Line Description] ,\r\n\tjh.[CURRENCY_CODE] AS [Currency] ,\r\n\tgl.[CURRENCY_CODE] AS [Entity Currency (EC)] ,\r\n\tCASE WHEN CAST(ACCOUNTED_AMOUNT AS MONEY) > 0 THEN 'D' \r\n\t\t WHEN CAST(ACCOUNTED_AMOUNT AS MONEY) < 0 THEN 'C' \r\n\t\t WHEN CAST(ACCOUNTED_AMOUNT AS MONEY) = 0 AND CAST(ENTERED_AMOUNT AS MONEY) > 0 THEN 'D' \r\n\t\t WHEN CAST(ACCOUNTED_AMOUNT AS MONEY) = 0 AND CAST(ENTERED_AMOUNT AS MONEY) < 0 THEN 'C' ELSE 'D' END AS [DC Indicator], \r\n\tCAST(ENTERED_AMOUNT AS MONEY) AS [Signed Journal Amount], \r\n\tCASE WHEN CAST(ENTERED_AMOUNT AS MONEY) >= 0 THEN     CAST(ENTERED_AMOUNT AS MONEY) ELSE 0 END AS [Unsigned Debit Amount], \r\n\tCASE WHEN CAST(ENTERED_AMOUNT AS MONEY)  < 0 THEN ABS(CAST(ENTERED_AMOUNT AS MONEY)) ELSE 0 END AS [Unsigned Credit Amount], \r\n\tCAST(ACCOUNTED_AMOUNT AS MONEY) AS [Signed Amount EC], \r\n\tCASE WHEN CAST(ACCOUNTED_AMOUNT AS MONEY) >= 0 THEN     CAST(ACCOUNTED_AMOUNT AS MONEY) ELSE 0 END AS [Unsigned Debit Amount EC],\r\n\tCASE WHEN CAST(ACCOUNTED_AMOUNT AS MONEY)  < 0 THEN ABS(CAST(ACCOUNTED_AMOUNT AS MONEY)) ELSE 0 END AS [Unsigned Credit Amount EC], \r\n\tgcc.SEGMENT3 AS [Account Number] ,\r\n\ta.[DESCRIPTION] AS [Account Description] ,\r\n\tCASE \r\n\t\tWHEN gcc.SEGMENT3 IN ('111110','111114','111108','111112') THEN 'Cash and overdrafts' \r\n\t\tWHEN gcc.SEGMENT3 IN ('122003','122005') THEN 'Other Debtors & Prepayments' \r\n\t\tWHEN gcc.SEGMENT3 IN ('131003','133006','133012','133014','133027','135001','135005','135009') THEN 'Stock' \r\n\t\tWHEN gcc.SEGMENT3 IN ('212999','231003','231004') THEN 'Other Creditors' \r\n\t\tWHEN gcc.SEGMENT3 IN ('311002','311003') THEN 'Share Capital & Reserves#5' \r\n\t\tWHEN gcc.SEGMENT3 IN ('414002') THEN 'Revenue' \r\n\t\tELSE  fr.[AccountDesc#5] \r\n\tEND AS [Account Category] ,\r\n\t'All' AS [Controlling Area for Cost and Profit Centre] ,\r\n\tgcc.SEGMENT2 AS [Cost Centre] ,\r\n\tc.[DESCRIPTION] AS [Cost Centre Description] , \r\n\tgcc.SEGMENT2 AS [Profit Centre] ,\r\n\tp.[DESCRIPTION] AS [Profit Centre Description] ,\r\n\tRIGHT(CONVERT(VARCHAR(10),CAST(LEFT(jh.DEFAULT_EFFECTIVE_DATE,10) AS DATE),103),4) AS [Year] ,\r\n\tDATENAME(MONTH,CONCAT(RIGHT(CONVERT(VARCHAR(10),CAST(LEFT(jh.DEFAULT_EFFECTIVE_DATE,10) AS DATE),103),4),'-',CASE WHEN gp.PERIOD_NUM = '13' THEN '12' ELSE RIGHT(CONCAT('0',gp.PERIOD_NUM),2) END,'-01')) \r\n\t\t+ ' ' + RIGHT(CONVERT(VARCHAR(10),CAST(LEFT(jh.DEFAULT_EFFECTIVE_DATE,10) AS DATE),103),4) AS [Date]\r\n\tINTO\t\t#GL_PY\r\n\tFROM\t\tCore.GL_JE_Lines jl\r\n\tLEFT JOIN\t[RAW].[O.GL_JE_HEADERS] jh ON jh.JE_HEADER_ID = jl.JE_HEADER_ID\r\n\tLEFT JOIN\t[RAW].[O.GL_JE_BATCHES] jb ON jh.JE_BATCH_ID = jb.JE_BATCH_ID\r\n\tLEFT JOIN\t[RAW].[O.GL_CODE_COMBINATIONS] gcc ON jl.CODE_COMBINATION_ID = gcc.CODE_COMBINATION_ID\r\n\tLEFT JOIN\t[RAW].[O.GL_LEDGERS] gl ON gl.LEDGER_ID = jl.LEDGER_ID\r\n\tLEFT JOIN\t[RAW].[O.GL_PERIODS] gp ON gp.PERIOD_NAME = jl.PERIOD_NAME AND gp.PERIOD_SET_NAME = gl.PERIOD_SET_NAME\r\n\tLEFT JOIN\t[RAW].[O.GL_JE_SOURCES_TL] js ON js.JE_SOURCE_NAME = jh.JE_SOURCE AND js.LANGUAGE = 'US'\r\n\tLEFT JOIN\tCore.GL_Descriptions e ON e.FLEX_VALUE = gcc.SEGMENT1 AND e.VALUE_CATEGORY = 'Company Argent'\r\n\tLEFT JOIN\tCore.GL_Descriptions a ON a.FLEX_VALUE = gcc.SEGMENT3 AND a.VALUE_CATEGORY = 'Account Argent'\r\n\tLEFT JOIN\tCore.GL_Descriptions c ON c.FLEX_VALUE = gcc.SEGMENT2 AND c.VALUE_CATEGORY = 'Cost Centre Argent'\r\n\tLEFT JOIN\tCore.GL_Descriptions p ON p.FLEX_VALUE = gcc.SEGMENT2 AND p.VALUE_CATEGORY = 'Cost Centre Argent'\r\n\tLEFT JOIN\t[RAW].[F.FinanceReference] fr ON gcc.[SEGMENT3] = fr.[AccountDesc#9]\r\n\t\r\n\tWHERE\tjl.STATUS = 'P'\r\n\tAND\t\tREPLACE(jb.ACTUAL_FLAG,'|','') = 'A'\r\n\tAND\t\tISNULL(jh.CURRENCY_CODE, gl.[CURRENCY_CODE]) <> 'STAT'\r\n\tAND \tgcc.SUMMARY_FLAG = 'N'\r\n\tAND\t\tYEAR(CAST(GETDATE() AS DATE)) - 1 = CONCAT('20',RIGHT(jl.[PERIOD_NAME],2))\r\n\r\n\r\n\r\n\tSELECT\t\tgl.*\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'EUR'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Signed Amount EC]/[Rate_P&L],[Signed Amount EC]/[Rate_BS])\r\n\t\t\t\t\tELSE [Signed Amount EC]\r\n\t\t\t\tEND AS [Signed Amount EC GBP]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'EUR'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Unsigned Debit Amount EC]/[Rate_P&L],[Unsigned Debit Amount EC]/[Rate_BS])\r\n\t\t\t\t\tELSE [Unsigned Debit Amount EC]\r\n\t\t\t\tEND AS [Unsigned Debit Amount EC GBP]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'EUR'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Unsigned Credit Amount EC]/[Rate_P&L],[Unsigned Credit Amount EC]/[Rate_BS])\r\n\t\t\t\t\tELSE [Unsigned Credit Amount EC]\r\n\t\t\t\tEND AS [Unsigned Credit Amount EC GBP]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'GBP'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Signed Amount EC]*[Rate_P&L],[Signed Amount EC]*[Rate_BS])\r\n\t\t\t\t\tELSE [Signed Amount EC]\r\n\t\t\t\tEND AS [Signed Amount EC EUR]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'GBP'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Unsigned Debit Amount EC]*[Rate_P&L],[Unsigned Debit Amount EC]*[Rate_BS])\r\n\t\t\t\t\tELSE [Unsigned Debit Amount EC]\r\n\t\t\t\tEND AS [Unsigned Debit Amount EC EUR]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'GBP'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Unsigned Credit Amount EC]*[Rate_P&L],[Unsigned Credit Amount EC]*[Rate_BS])\r\n\t\t\t\t\tELSE [Unsigned Credit Amount EC]\r\n\t\t\t\tEND AS [Unsigned Credit Amount EC EUR]\r\n\t,\t\t\tCONCAT([Journal Number],':',[Line Number]) AS [GL_SL Link]\r\n\t,\t\t\tCONCAT([Entity],':',gl.[Currency],':',[Journal Number],':',[Line Number],':',[Cost Centre],':',gl.[Date]) AS [GL_Transactiion Link]\r\n\t,\t\t\tCONCAT([Entity],':',[Entity Currency (EC)],':',[Account Number],':',[Cost Centre],':',gl.[Date]) AS [GL_Budget Link]\r\n\t,\t\t\tCONCAT([Entity],':',[Entity Currency (EC)],':',[Account Number],':',gl.[Date]) AS [TB_GL Link]\r\n\tINTO\t\tCore.GL_PY\r\n\tFROM\t\t#GL_PY gl\r\n\tLEFT JOIN\t[Finance].[FX_Rates] fx\r\n\tON\t\t\tfx.[Date] = gl.[Date]"
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Finance"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-10T13:55:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServerArgent')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CREATEGL_Script_3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CREATEGL3",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "7.0:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SqlServerArgent",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "--------------------------------------------------------------------------------------------------------------------------------------------\r\n\t-- 3.1\tCreate PY GL\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\tIF OBJECT_ID('tempdb..#GL_CY','U') IS NOT NULL DROP TABLE #GL_CY\r\n\tIF OBJECT_ID('Core.GL_CY','U') IS NOT NULL DROP TABLE Core.GL_CY;\r\n\r\n\tSELECT\t\t\r\n\tgcc.SEGMENT1 AS [Entity] ,\r\n\te.DESCRIPTION AS [Company Name] , \r\n\tjh.[JE_HEADER_ID] AS [Journal Number] ,\r\n\tCONVERT(VARCHAR(10),CAST(LEFT(jh.[CREATION_DATE],10)  AS DATE),103) AS [Date Entered] ,\r\n\tCONVERT(VARCHAR(10),CAST(SUBSTRING(jh.[CREATION_DATE],12,8)  AS TIME),108) AS [Time Entered] ,\r\n\tCONVERT(VARCHAR(10),CAST(LEFT(jh.LAST_UPDATE_DATE,10) AS DATE),103) AS [Date Updated] ,\r\n\tCONVERT(VARCHAR(10),CAST(SUBSTRING(jh.LAST_UPDATE_DATE,12,8) AS TIME),108) AS [Time Updated] ,\r\n\tjl.[CREATED_BY] AS [User Entered] ,\r\n\tjl.[LAST_UPDATED_BY] AS [User Updated] ,\r\n\tCONVERT(VARCHAR(10),CAST(LEFT(jh.DEFAULT_EFFECTIVE_DATE,10) AS DATE),103) AS [Date Effective],\r\n\tCONVERT(VARCHAR(10),CAST(LEFT(jh.DEFAULT_EFFECTIVE_DATE,10) AS DATE),103) as [Date of Journal],\r\n\tCASE WHEN gp.PERIOD_NUM = '13' THEN '12' ELSE RIGHT(CONCAT('0',gp.PERIOD_NUM),2) END AS [Financial Period] ,\r\n\tjh.[JE_source]\tAS [Journal Type] ,\r\n\tjs.[DESCRIPTION] AS [Journal Type Description] ,\r\n\tLEFT(jh.[DESCRIPTION],200) AS [Journal Description] ,\r\n\tjl.[JE_LINE_NUM] AS [Line Number] ,\r\n\tLEFT(jl.[DESCRIPTION],200) AS [Line Description] ,\r\n\tjh.[CURRENCY_CODE] AS [Currency] ,\r\n\tgl.[CURRENCY_CODE] AS [Entity Currency (EC)] ,\r\n\tCASE WHEN CAST(ACCOUNTED_AMOUNT AS MONEY) > 0 THEN 'D' \r\n\t\t WHEN CAST(ACCOUNTED_AMOUNT AS MONEY) < 0 THEN 'C' \r\n\t\t WHEN CAST(ACCOUNTED_AMOUNT AS MONEY) = 0 AND CAST(ENTERED_AMOUNT AS MONEY) > 0 THEN 'D' \r\n\t\t WHEN CAST(ACCOUNTED_AMOUNT AS MONEY) = 0 AND CAST(ENTERED_AMOUNT AS MONEY) < 0 THEN 'C' ELSE 'D' END AS [DC Indicator], \r\n\tCAST(ENTERED_AMOUNT AS MONEY) AS [Signed Journal Amount], \r\n\tCASE WHEN CAST(ENTERED_AMOUNT AS MONEY) >= 0 THEN     CAST(ENTERED_AMOUNT AS MONEY) ELSE 0 END AS [Unsigned Debit Amount], \r\n\tCASE WHEN CAST(ENTERED_AMOUNT AS MONEY)  < 0 THEN ABS(CAST(ENTERED_AMOUNT AS MONEY)) ELSE 0 END AS [Unsigned Credit Amount], \r\n\tCAST(ACCOUNTED_AMOUNT AS MONEY) AS [Signed Amount EC], \r\n\tCASE WHEN CAST(ACCOUNTED_AMOUNT AS MONEY) >= 0 THEN     CAST(ACCOUNTED_AMOUNT AS MONEY) ELSE 0 END AS [Unsigned Debit Amount EC],\r\n\tCASE WHEN CAST(ACCOUNTED_AMOUNT AS MONEY)  < 0 THEN ABS(CAST(ACCOUNTED_AMOUNT AS MONEY)) ELSE 0 END AS [Unsigned Credit Amount EC], \r\n\tgcc.SEGMENT3 AS [Account Number] ,\r\n\ta.[DESCRIPTION] AS [Account Description] ,\r\n\tCASE \r\n\t\tWHEN gcc.SEGMENT3 IN ('111110','111114','111108','111112') THEN 'Cash and overdrafts' \r\n\t\tWHEN gcc.SEGMENT3 IN ('122003','122005') THEN 'Other Debtors & Prepayments' \r\n\t\tWHEN gcc.SEGMENT3 IN ('131003','133006','133012','133014','133027','135001','135005','135009') THEN 'Stock' \r\n\t\tWHEN gcc.SEGMENT3 IN ('212999','231003','231004') THEN 'Other Creditors' \r\n\t\tWHEN gcc.SEGMENT3 IN ('311002','311003') THEN 'Share Capital & Reserves#5' \r\n\t\tWHEN gcc.SEGMENT3 IN ('414002') THEN 'Revenue' \r\n\t\tELSE  fr.[AccountDesc#5] \r\n\tEND AS [Account Category] ,\r\n\t'All' AS [Controlling Area for Cost and Profit Centre] ,\r\n\tgcc.SEGMENT2 AS [Cost Centre] ,\r\n\tc.[DESCRIPTION] AS [Cost Centre Description] , \r\n\tgcc.SEGMENT2 AS [Profit Centre] ,\r\n\tp.[DESCRIPTION] AS [Profit Centre Description] ,\r\n\tRIGHT(CONVERT(VARCHAR(10),CAST(LEFT(jh.DEFAULT_EFFECTIVE_DATE,10) AS DATE),103),4) AS [Year] ,\r\n\tDATENAME(MONTH,CONCAT(RIGHT(CONVERT(VARCHAR(10),CAST(LEFT(jh.DEFAULT_EFFECTIVE_DATE,10) AS DATE),103),4),'-',CASE WHEN gp.PERIOD_NUM = '13' THEN '12' ELSE RIGHT(CONCAT('0',gp.PERIOD_NUM),2) END,'-01')) \r\n\t\t+ ' ' + RIGHT(CONVERT(VARCHAR(10),CAST(LEFT(jh.DEFAULT_EFFECTIVE_DATE,10) AS DATE),103),4) AS [Date]\r\n\tINTO\t\t#GL_CY\r\n\tFROM\t\tCore.GL_JE_Lines jl\r\n\tLEFT JOIN\t[RAW].[O.GL_JE_HEADERS] jh ON jh.JE_HEADER_ID = jl.JE_HEADER_ID\r\n\tLEFT JOIN\t[RAW].[O.GL_JE_BATCHES] jb ON jh.JE_BATCH_ID = jb.JE_BATCH_ID\r\n\tLEFT JOIN\t[RAW].[O.GL_CODE_COMBINATIONS] gcc ON jl.CODE_COMBINATION_ID = gcc.CODE_COMBINATION_ID\r\n\tLEFT JOIN\t[RAW].[O.GL_LEDGERS] gl ON gl.LEDGER_ID = jl.LEDGER_ID\r\n\tLEFT JOIN\t[RAW].[O.GL_PERIODS] gp ON gp.PERIOD_NAME = jl.PERIOD_NAME AND gp.PERIOD_SET_NAME = gl.PERIOD_SET_NAME\r\n\tLEFT JOIN\t[RAW].[O.GL_JE_SOURCES_TL] js ON js.JE_SOURCE_NAME = jh.JE_SOURCE AND js.LANGUAGE = 'US'\r\n\tLEFT JOIN\tCore.GL_Descriptions e ON e.FLEX_VALUE = gcc.SEGMENT1 AND e.VALUE_CATEGORY = 'Company Argent'\r\n\tLEFT JOIN\tCore.GL_Descriptions a ON a.FLEX_VALUE = gcc.SEGMENT3 AND a.VALUE_CATEGORY = 'Account Argent'\r\n\tLEFT JOIN\tCore.GL_Descriptions c ON c.FLEX_VALUE = gcc.SEGMENT2 AND c.VALUE_CATEGORY = 'Cost Centre Argent'\r\n\tLEFT JOIN\tCore.GL_Descriptions p ON p.FLEX_VALUE = gcc.SEGMENT2 AND p.VALUE_CATEGORY = 'Cost Centre Argent'\r\n\tLEFT JOIN\t[RAW].[F.FinanceReference] fr ON gcc.[SEGMENT3] = fr.[AccountDesc#9]\r\n\t\r\n\tWHERE\tjl.STATUS = 'P'\r\n\tAND\t\tREPLACE(jb.ACTUAL_FLAG,'|','') = 'A'\r\n\tAND\t\tISNULL(jh.CURRENCY_CODE, gl.[CURRENCY_CODE]) <> 'STAT'\r\n\tAND \tgcc.SUMMARY_FLAG = 'N'\r\n\tAND\t\tYEAR(CAST(GETDATE() AS DATE)) = CONCAT('20',RIGHT(jl.[PERIOD_NAME],2))\r\n\r\n\r\n\r\n\tSELECT\t\tgl.*\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'EUR'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Signed Amount EC]/[Rate_P&L],[Signed Amount EC]/[Rate_BS])\r\n\t\t\t\t\tELSE [Signed Amount EC]\r\n\t\t\t\tEND AS [Signed Amount EC GBP]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'EUR'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Unsigned Debit Amount EC]/[Rate_P&L],[Unsigned Debit Amount EC]/[Rate_BS])\r\n\t\t\t\t\tELSE [Unsigned Debit Amount EC]\r\n\t\t\t\tEND AS [Unsigned Debit Amount EC GBP]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'EUR'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Unsigned Credit Amount EC]/[Rate_P&L],[Unsigned Credit Amount EC]/[Rate_BS])\r\n\t\t\t\t\tELSE [Unsigned Credit Amount EC]\r\n\t\t\t\tEND AS [Unsigned Credit Amount EC GBP]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'GBP'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Signed Amount EC]*[Rate_P&L],[Signed Amount EC]*[Rate_BS])\r\n\t\t\t\t\tELSE [Signed Amount EC]\r\n\t\t\t\tEND AS [Signed Amount EC EUR]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'GBP'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Unsigned Debit Amount EC]*[Rate_P&L],[Unsigned Debit Amount EC]*[Rate_BS])\r\n\t\t\t\t\tELSE [Unsigned Debit Amount EC]\r\n\t\t\t\tEND AS [Unsigned Debit Amount EC EUR]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'GBP'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Unsigned Credit Amount EC]*[Rate_P&L],[Unsigned Credit Amount EC]*[Rate_BS])\r\n\t\t\t\t\tELSE [Unsigned Credit Amount EC]\r\n\t\t\t\tEND AS [Unsigned Credit Amount EC EUR]\r\n\t,\t\t\tCONCAT([Journal Number],':',[Line Number]) AS [GL_SL Link]\r\n\t,\t\t\tCONCAT([Entity],':',gl.[Currency],':',[Journal Number],':',[Line Number],':',[Cost Centre],':',gl.[Date]) AS [GL_Transactiion Link]\r\n\t,\t\t\tCONCAT([Entity],':',[Entity Currency (EC)],':',[Account Number],':',[Cost Centre],':',gl.[Date]) AS [GL_Budget Link]\r\n\t,\t\t\tCONCAT([Entity],':',[Entity Currency (EC)],':',[Account Number],':',gl.[Date]) AS [TB_GL Link]\r\n\tINTO\t\tCore.GL_CY\r\n\tFROM\t\t#GL_CY gl\r\n\tLEFT JOIN\t[Finance].[FX_Rates] fx\r\n\tON\t\t\tfx.[Date] = gl.[Date]"
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Finance"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-10T13:55:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServerArgent')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CREATE_TB_Rec')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CREATE_TB_Rec",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "7.0:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SqlServerArgent",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\t-- 4.1\tCOMBINE CY AND PY GL\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\t\r\n\tIF OBJECT_ID('Finance.GL','U') IS NOT NULL DROP TABLE Finance.GL;\r\n\tSELECT\t\t*\r\n\tINTO\t\tFinance.GL\r\n\tFROM\t\tCore.GL_CY\r\n\tUNION ALL\r\n\tSELECT\t\t*\r\n\tFROM\t\tCore.GL_PY\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\t-- 4.2\tCREATE TB PRE-ADJUSTMENT TABLE\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\r\n\tIF OBJECT_ID('tempdb..#WIP_TB','U') IS NOT NULL DROP TABLE #WIP_TB;\r\n\tSELECT\t\tgcc.SEGMENT1 AS [Entity] ,\r\n\t\t\t\te.[DESCRIPTION] AS [Company Name] ,\r\n\t\t\t\tgl.CURRENCY_CODE AS [Entity Currency (EC)],\r\n\t\t\t\tglb.PERIOD_YEAR AS [Financial Year],\r\n\t\t\t\tgcc.SEGMENT3 AS [Account Number] ,\r\n\t\t\t\ta.[DESCRIPTION] AS [Account Description] ,\r\n\t\t\t\tCASE \r\n\t\t\t\t\tWHEN gcc.SEGMENT3 IN ('111110','111114','111108','111112') THEN 'Cash and overdrafts' \r\n\t\t\t\t\tWHEN gcc.SEGMENT3 IN ('122003','122005') THEN 'Other Debtors & Prepayments' \r\n\t\t\t\t\tWHEN gcc.SEGMENT3 IN ('131003','133006','133012','133014','133027','135001','135005','135009') THEN 'Stock' \r\n\t\t\t\t\tWHEN gcc.SEGMENT3 IN ('212999','231003','231004') THEN 'Other Creditors' \r\n\t\t\t\t\tWHEN gcc.SEGMENT3 IN ('311002','311003') THEN 'Share Capital & Reserves#5' \r\n\t\t\t\t\tWHEN gcc.SEGMENT3 IN ('414002') THEN 'Revenue' \r\n\t\t\t\t\tELSE  fr.[AccountDesc#5] \r\n\t\t\t\tEND AS [Account Category],\r\n\t\t\t\tRIGHT(CONCAT('0',glb.PERIOD_NUM),2) AS [Financial Period] ,\r\n\t\t\t\tglb.PERIOD_NUM ,\r\n\t\t\t\tgp.END_DATE\t,\r\n\t\t\t\tgl.PERIOD_SET_NAME,\r\n\t\t\t\tglb.PERIOD_TYPE ,\r\n\t\t\t\tCAST(ISNULL(glb.BEGIN_BALANCE_DR,0) AS DECIMAL(28,2)) - CAST(ISNULL(glb.BEGIN_BALANCE_CR,0) AS DECIMAL(28,2)) AS [Period Opening Balance EC] ,\r\n\t\t\t\tCAST(ISNULL(glb.PERIOD_NET_DR,0) AS DECIMAL(28,2)) AS [Debit EC] ,\r\n\t\t\t\tCAST(ISNULL(glb.PERIOD_NET_CR,0) AS DECIMAL(28,2)) AS [Credit EC] ,\r\n\t\t\t\tCAST(ISNULL(glb.PERIOD_NET_DR,0) AS DECIMAL(28,2)) - CAST(ISNULL(glb.PERIOD_NET_CR,0) AS DECIMAL(28,2)) AS [Movement EC],\r\n\t\t\t\t(CAST(ISNULL(glb.PERIOD_NET_DR,0) AS DECIMAL(28,2)) - CAST(ISNULL(glb.PERIOD_NET_CR,0) AS DECIMAL(28,2))) + (CAST(ISNULL(glb.BEGIN_BALANCE_DR,0) AS DECIMAL(28,2)) - CAST(ISNULL(glb.BEGIN_BALANCE_CR,0) AS DECIMAL(28,2))) AS [Period Closing Balance EC]\r\n\tINTO\t\t#WIP_TB\r\n\tFROM\t\t[RAW].[O.GL_BALANCES] glb\r\n\tLEFT JOIN\t[RAW].[O.GL_CODE_COMBINATIONS] gcc ON glb.CODE_COMBINATION_ID = gcc.CODE_COMBINATION_ID\r\n\tLEFT JOIN\t[RAW].[O.GL_LEDGERS] gl ON gl.LEDGER_ID = glb.LEDGER_ID \r\n\tLEFT JOIN\t[RAW].[O.GL_PERIODS] gp ON gp.PERIOD_NAME = glb.PERIOD_NAME AND gp.PERIOD_SET_NAME = gl.PERIOD_SET_NAME \r\n\tLEFT JOIN\tCore.GL_Descriptions e ON e.FLEX_VALUE = gcc.SEGMENT1 AND e.VALUE_CATEGORY = 'Company Argent'\r\n\tLEFT JOIN\tCore.GL_Descriptions a ON a.FLEX_VALUE = gcc.SEGMENT3 AND a.VALUE_CATEGORY = 'Account Argent'\r\n\tLEFT JOIN\t[RAW].[F.FinanceReference] fr ON gcc.[SEGMENT3] = fr.[AccountDesc#9]\r\n\tWHERE\t\tREPLACE(glb.ACTUAL_FLAG,'|','') = 'A'\r\n\tAND\t\t\tglb.CURRENCY_CODE = gl.CURRENCY_CODE\r\n\tAND \t\tgcc.SUMMARY_FLAG = 'N'\r\n\tAND\t\t\tglb.PERIOD_YEAR  >= YEAR(CAST(GETDATE() AS DATE)) - 1\r\n\r\n\tIF OBJECT_ID('Finance.TB_PreAdjustments','U') IS NOT NULL DROP TABLE Finance.TB_PreAdjustments;\r\n\t;WITH a AS (\t\r\n\tSELECT MIN(gp.PERIOD_NUM) AS [Min Period], MAX(gp.PERIOD_NUM) AS [Max Period], gb.PERIOD_TYPE, gp.PERIOD_SET_NAME, gp.END_DATE, gp.QUARTER_NUM\r\n\tFROM [RAW].[O.GL_PERIODS] gp LEFT JOIN (SELECT DISTINCT PERIOD_TYPE, PERIOD_NUM, PERIOD_SET_NAME, END_DATE FROM #WIP_TB) gb\r\n\tON gb.PERIOD_NUM = gp.PERIOD_NUM AND gb.PERIOD_TYPE = gp.PERIOD_TYPE AND gb.END_DATE = gp.END_DATE\r\n\tWHERE gb.PERIOD_NUM IS NOT NULL\r\n\tGROUP BY gb.PERIOD_TYPE, gp.PERIOD_SET_NAME,gp.END_DATE, gp.QUARTER_NUM\r\n\t)\r\n\tSELECT \tt.[Entity] , \r\n\t\t\tt.[Company Name] , \r\n\t\t\tt.[Entity Currency (EC)] AS [Entity Currency (EC)], \r\n\t\t\tt.[Financial Year] , \r\n\t\t\t[Account Number] , \r\n\t\t\tMAX(LTRIM(RTRIM([Account Description]))) AS [Account Description] , \r\n\t\t\tMAX(LTRIM(RTRIM([Account Category]))) AS [Account Category] , \r\n\t\t\t--[Spotlight Type] , \r\n\t\t\tCAST(a.[Min Period] AS INT) AS [Financial Period] ,\r\n\t\t\tSUM(CASE WHEN CAST([Min Period] AS INT) <> CAST(t.[Financial Period] AS INT) THEN 0 ELSE CAST(t.[Period Opening Balance EC] AS MONEY) END) AS [Period Opening Balance EC],\r\n\t\t\tSUM(CAST(t.[Debit EC] AS MONEY)) AS [Debit EC], \r\n\t\t\tSUM(CAST(t.[Credit EC] AS MONEY)) AS [Credit EC],\r\n\t\t\tSUM(CAST(t.[Movement EC] AS MONEY)) AS [Movement EC],\r\n\t\t\tSUM(CASE WHEN CAST([Max Period] AS INT) <> CAST(t.[Financial Period] AS INT) THEN 0 ELSE CAST( t.[Period Closing Balance EC] AS MONEY) END) AS [Period Closing Balance EC]\r\n\tINTO\tFinance.TB_PreAdjustments\r\n\tFROM \t#WIP_TB t \r\n\tLEFT JOIN a ON a.PERIOD_SET_NAME = t.PERIOD_SET_NAME AND a.PERIOD_TYPE = t.PERIOD_TYPE AND a.END_DATE = t.END_DATE \r\n\tGROUP BY CAST(a.[Min Period] AS INT), t.Entity, t.[Company Name], t.[Entity Currency (EC)], t.[Financial Year], t.[Account Number]\r\n\tORDER BY CAST(a.[Min Period] AS INT) \r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\t-- 4.3\tCREATE TB WITH ADJUSTMENTS\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\r\n\tIF OBJECT_ID('tempdb..#FinanceTB','U') IS NOT NULL DROP TABLE #FinanceTB\r\n\tIF OBJECT_ID('Finance.TB','U') IS NOT NULL DROP TABLE Finance.TB;\r\n\r\n\tSELECT\t\ttb.[Entity]\r\n\t,\t\t\ttb.[Company Name]\r\n\t,\t\t\ttb.[Entity Currency (EC)]\r\n\t,\t\t\ttb.[Financial Year]\r\n\t,\t\t\ttb.[Account Number]\r\n\t,\t\t\ttb.[Account Description]\r\n\t,\t\t\ttb.[Account Category]\r\n\t,\t\t\ttb.[Financial Period]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN tb.[Financial Period] > 5 AND tb.[Entity] = '331' AND [Account Number] = '211003' AND tb.[Financial Year] = '2022'\r\n\t\t\t\t\t\tTHEN [Period Opening Balance EC] + 572105707.69 - 702.88\r\n\t\t\t\t\tWHEN tb.[Entity] = '331' AND [Account Number] = '211003' AND tb.[Financial Year] > '2022'\r\n\t\t\t\t\t\tTHEN [Period Opening Balance EC] + 572105707.69 - 702.88\r\n\t\t\t\t\tELSE [Period Opening Balance EC]\r\n\t\t\t\tEND + CASE\r\n\t\t\t\t\t  \tWHEN [Account Number] = '133025'\r\n\t\t\t\t\t  \t\tTHEN CAST(ISNULL(git_open.[Adjustment],0) AS MONEY)\r\n\t\t\t\t\t  \tELSE (-1)*CAST(ISNULL(git_open.[Adjustment],0) AS MONEY)\r\n\t\t\t\t\t  END AS [Period Opening Balance EC]\r\n\t,\t\t\t[Debit EC] + CAST(ISNULL(git.[Adjustment],0) AS MONEY) AS [Debit EC]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN tb.[Financial Period] = 5 AND tb.[Entity] = '331' AND [Account Number] = '211003' AND tb.[Financial Year] = '2022'\r\n\t\t\t\t\t\tTHEN [Credit EC] - 572105707.69 - 702.88\r\n\t\t\t\t\tELSE [Credit EC]\r\n\t\t\t\tEND + CAST(ISNULL(git.[Adjustment],0) AS MONEY) AS [Credit EC]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN tb.[Financial Period] = 5 AND tb.[Entity] = '331' AND [Account Number] = '211003' AND tb.[Financial Year] = '2022'\r\n\t\t\t\t\t\tTHEN [Movement EC] + 572105707.69 - 702.88\r\n\t\t\t\t\tWHEN [Account Number] IN ('133025','122001')\r\n\t\t\t\t\t\tTHEN [Period Closing Balance EC] +\tCASE\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tWHEN [Account Number] = '133025'\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tTHEN CAST(ISNULL(git.[Adjustment],0) AS MONEY)\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tELSE (-1)*CAST(ISNULL(git.[Adjustment],0) AS MONEY)\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tEND \r\n\t\t\t\t\t\t\t- ([Period Opening Balance EC]+ CASE\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tWHEN [Account Number] = '133025'\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tTHEN CAST(ISNULL(git_open.[Adjustment],0) AS MONEY)\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tELSE (-1)*CAST(ISNULL(git_open.[Adjustment],0) AS MONEY)\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tEND)\r\n\t\t\t\t\tELSE [Movement EC]\r\n\t\t\t\tEND AS [Movement EC]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN tb.[Financial Period] >= 5 AND tb.[Entity] = '331' AND [Account Number] = '211003' AND tb.[Financial Year] = '2022'\r\n\t\t\t\t\t\tTHEN [Period Closing Balance EC] + 572105707.69 - 702.88\r\n\t\t\t\t\tWHEN tb.[Entity] = '331' AND [Account Number] = '211003' AND tb.[Financial Year] > '2022'\r\n\t\t\t\t\t\tTHEN [Period Closing Balance EC] + 572105707.69 - 702.88\r\n\t\t\t\t\tELSE [Period Closing Balance EC]\r\n\t\t\t\tEND + CASE\r\n\t\t\t\t\t  \tWHEN [Account Number] = '133025'\r\n\t\t\t\t\t  \t\tTHEN CAST(ISNULL(git.[Adjustment],0) AS MONEY)\r\n\t\t\t\t\t  \tELSE (-1)*CAST(ISNULL(git.[Adjustment],0) AS MONEY)\r\n\t\t\t\t\t  END AS [Period Closing Balance EC]\r\n\t,\t\t\tCASE \r\n\t\t\t\t\tWHEN [Account Category] = 'Revenue' AND  LEFT([Account Description],12) IN ('Intercompany','Intracompany') THEN '1'\r\n\t\t\t\t\tWHEN [Account Category] = 'Cost of sales' AND  [Account Description] NOT LIKE 'Cost of sales%' THEN '1'\r\n\t\t\t\t\tELSE '0'\r\n\t\t\t\tEND AS [Internal Account Flag]\r\n\t,\t\t\tDATENAME(MONTH,CONCAT(tb.[Financial Year],'-',tb.[Financial Period],'-01')) + ' ' + tb.[Financial Year] AS [Date]\r\n\tINTO\t\t#FinanceTB\r\n\tFROM\t\tFinance.TB_PreAdjustments tb\r\n\tLEFT JOIN\t[RAW].[GIT_Adjustments_Template] git\r\n\tON\t\t\ttb.[Entity] = git.[Entity]\r\n\tAND\t\t\ttb.[Financial Year] = git.[Financial year]\r\n\tAND\t\t\ttb.[Financial Period] = git.[Financial Period]\r\n\tAND\t\t\t[Account Number] IN ('133025','122001')\r\n\tLEFT JOIN\t[RAW].[GIT_Adjustments_Template] git_open\r\n\tON\t\t\ttb.[Entity] = git_open.[Entity]\r\n\tAND\t\t\ttb.[Financial Year] = CASE WHEN tb.[Financial Period] = 12 THEN CAST(git_open.[Financial Year] AS INT) + 1 ELSE git_open.[Financial Year] END \r\n\tAND\t\t\ttb.[Financial Period] = CASE WHEN tb.[Financial Period] = 12 THEN CAST(git_open.[Financial Period] AS INT) + 1 ELSE git_open.[Financial Period] + 1 END\r\n\tAND\t\t\t[Account Number] IN ('133025','122001')\r\n\r\n\tSELECT\t\ttb.*\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'EUR'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Period Opening Balance EC]/[Rate_P&L],[Period Opening Balance EC]/[Rate_BS])\r\n\t\t\t\t\tELSE [Period Opening Balance EC]\r\n\t\t\t\tEND AS [Period Opening Balkance (EC) GBP]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'EUR'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Debit EC]/[Rate_P&L],[Debit EC]/[Rate_BS])\r\n\t\t\t\t\tELSE [Period Opening Balance EC]\r\n\t\t\t\tEND AS [Debit EC GBP]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'EUR'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Credit EC]/[Rate_P&L],[Credit EC]/[Rate_BS])\r\n\t\t\t\t\tELSE [Period Opening Balance EC]\r\n\t\t\t\tEND AS [Credit EC GBP]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'EUR'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Movement EC]/[Rate_P&L],[Movement EC]/[Rate_BS])\r\n\t\t\t\t\tELSE [Movement EC]\r\n\t\t\t\tEND AS [Movement EC GBP]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'EUR'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Period Closing Balance EC]*[Rate_P&L],[Period Closing Balance EC]*[Rate_BS])\r\n\t\t\t\t\tELSE [Period Opening Balance EC]\r\n\t\t\t\tEND AS [Period Closing Balance (EC) GBP]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'GBP'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Period Opening Balance EC]*[Rate_P&L],[Period Opening Balance EC]*[Rate_BS])\r\n\t\t\t\t\tELSE [Period Opening Balance EC]\r\n\t\t\t\tEND AS [Period Opening Balkance (EC) EUR]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'GBP'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Debit EC]*[Rate_P&L],[Debit EC]*[Rate_BS])\r\n\t\t\t\t\tELSE [Period Opening Balance EC]\r\n\t\t\t\tEND AS [Debit EC EUR]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'GBP'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Credit EC]*[Rate_P&L],[Credit EC]*[Rate_BS])\r\n\t\t\t\t\tELSE [Period Opening Balance EC]\r\n\t\t\t\tEND AS [Credit EC EUR]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'GBP'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Movement EC]*[Rate_P&L],[Movement EC]*[Rate_BS])\r\n\t\t\t\t\tELSE [Movement EC]\r\n\t\t\t\tEND AS [Movement EC EUR]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN [Entity Currency (EC)] = 'GBP'\r\n\t\t\t\t\t\tTHEN IIF(CAST(LEFT([Account Number],1) AS INT) >= 4,[Period Closing Balance EC]*[Rate_P&L],[Period Closing Balance EC]*[Rate_BS])\r\n\t\t\t\t\tELSE [Period Opening Balance EC]\r\n\t\t\t\tEND AS [Period Closing Balance (EC) EUR]\r\n\t,\t\t\tCONCAT([Entity],':',[Entity Currency (EC)],':',[Account Number],':',tb.[Date]) AS [TB_GL Link]\r\n\tINTO\t\t[Finance].[TB]\r\n\tFROM\t\t#FinanceTB tb\r\n\tLEFT JOIN\t[Finance].[FX_Rates] fx\r\n\tON\t\t\tfx.[Date] = tb.[Date]\r\n\r\n\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\t-- 4.4\tFILTER OUT INTER ACCOUNTS\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\r\n\tIF OBJECT_ID('Finance.TB_Filtered','U') IS NOT NULL DROP TABLE Finance.TB_Filtered;\r\n\tSELECT\t\t*\r\n\tINTO\t\tFinance.TB_Filtered\r\n\tFROM\t\tFinance.TB \r\n\tWHERE\t\tCASE \r\n\t\t\t\t\tWHEN [Account Category] = 'Revenue' AND  LEFT([Account Description],12) IN ('Intercompany','Intracompany') THEN 'Remove'\r\n\t\t\t\t\tWHEN [Account Category] = 'Cost of sales' AND  [Account Description] NOT LIKE 'Cost of sales%' THEN 'Remove'\r\n\t\t\t\t\tELSE 'Keep'\r\n\t\t\t\tEND = 'Keep'\r\n\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\t-- 4.5 RECONCILE GL AND TB\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\r\n\tIF OBJECT_ID('Finance.Reconciliation','U') IS NOT NULL DROP TABLE Finance.Reconciliation\r\n\t;WITH\t\r\n\tGLPivot AS ( \r\n\tSELECT\t\tRIGHT([Date Effective],4) AS [Financial Year],\r\n\t\t\t\t[Financial Period] ,\r\n\t\t\t\tCAST([Entity] AS NVARCHAR(50)) AS [GL Entity] ,\r\n\t\t\t\t[Account Number] AS [GL Account] ,\t\t\t\t\t\t\r\n\t\t\t\tSUM(CAST([Signed Amount EC] AS MONEY)) AS [GL Movement],\r\n\t\t\t\tCOUNT(1) AS [GL Count]\t\t\t\r\n\tFROM\t\tFinance.GL\r\n\tWHERE\t\tRIGHT([Date Effective],4) >= YEAR(CAST(GETDATE() AS DATE)) - 1\r\n\tGROUP BY\t[Account Number] , CAST([Entity] AS NVARCHAR(50)), [Financial Period], RIGHT([Date Effective],4)\r\n\t), \r\n\tTBPivot AS\t(\r\n\tSELECT\t\t[Financial Year] ,\r\n\t\t\t\t[Financial Period] ,\r\n\t\t\t\tCAST([Entity] AS NVARCHAR(50)) AS [TB Entity] ,\r\n\t\t\t\t[Account Number] AS [TB Account] ,\r\n\t\t\t\t[Account Description] AS [Description] ,\r\n\t\t\t\tSUM(CAST(ISNULL([Period Opening Balance EC],0) AS MONEY)) AS Opening ,\t\t\t\t\t\t\r\n\t\t\t\tSUM(CAST(ISNULL([Period Closing Balance EC],0) AS MONEY)) AS Closing ,\t\t\t\t\t\t\r\n\t\t\t\tSUM(CAST(ISNULL([Period Closing Balance EC],0) AS MONEY)) - SUM(CAST(ISNULL([Period Opening Balance EC],0) AS MONEY)) AS [TB Movement]\r\n\tFROM\t\tFinance.TB_PreAdjustments\r\n\tGROUP BY\t[Account Number] , [Account Description], CAST([Entity] AS NVARCHAR(50)), [Financial Period], [Financial Year]\r\n\t),\r\n\tReconciliation AS (\r\n\tSELECT\t\tCOALESCE(G.[Financial Year],T.[Financial Year]) AS [Financial Year] ,\r\n\t\t\t\tCOALESCE(G.[Financial Period],T.[Financial Period]) AS [Financial Period] , \r\n\t\t\t\tCOALESCE(G.[GL Entity],T.[TB Entity] ) AS [Entity] ,\r\n\t\t\t\tISNULL(G.[GL Account] , 'NOT IN GL') AS [GL Account] , \r\n\t\t\t\tISNULL(G.[GL Movement] , 0) AS [GL Movement] ,\r\n\t\t\t\tISNULL(G.[GL Count], 0) AS [GL Count] ,\r\n\t\t\t\tISNULL(T.[TB Account] , 'NOT IN TB') AS [TB Account] ,\r\n\t\t\t\tISNULL(T.[Description] , '') AS [Description] ,\r\n\t\t\t\tISNULL(T.[Opening] , 0) AS [Opening] ,\r\n\t\t\t\tISNULL(T.[Closing] , 0) AS [Closing] ,\r\n\t\t\t\tISNULL(T.[Closing] , 0) - ISNULL(T.[Opening] , 0) AS [TB Movement] ,\r\n\t\t\t\tISNULL([GL Movement],0)- (ISNULL(T.[Closing] , 0) - ISNULL(T.[Opening] , 0)) AS [Difference]\r\n\tFROM\t\tGLPivot G\r\n\tFULL JOIN\tTBPivot T \r\n\tON\t\t\tG.[GL Account] = T.[TB Account]\r\n\tAND\t\t\tG.[GL Entity] = T.[TB Entity]\r\n\tAND\t\t\tG.[Financial Period] = T.[Financial Period]\r\n\tAND\t\t\tg.[Financial Year] = T.[Financial Year]\r\n\t) \r\n\tSELECT\t\t* \r\n\tINTO\t\tFinance.Reconciliation\r\n\tFROM\t\tReconciliation\r\n\tORDER BY\t[Entity], [TB Account]\r\n\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\t-- 4.6 CREATE YTD RECONCILIATION\r\n\t-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\r\n\tIF OBJECT_ID('Finance.[ReconcilationYTD]','U') IS NOT NULL DROP TABLE Finance.[ReconcilationYTD]\r\n\tSELECT\t\t[Financial Year]\r\n\t,\t\t\t[Entity]\r\n\t,\t\t\tCASE WHEN [GL Account] = 'NOT IN GL' THEN [TB Account] ELSE [GL Account] END AS [GL Account]\r\n\t,\t\t\tSUM([GL Movement]) AS [GL Movement]\r\n\t,\t\t\tSUM([GL Count]) AS [GL Count]\r\n\t,\t\t\t[TB Account]\r\n\t,\t\t\t[Description] \r\n\t,\t\t\tSUM(CASE WHEN [Financial Period] = '1' THEN [Opening] ELSE 0 END)\t\t\t\tAS [Opening Balance]\r\n\t,\t\t\tSUM(CASE WHEN [Financial Period] = [MaxPeriod] THEN [Closing] ELSE 0 END)\t\tAS [Closing Balance]\r\n\t,\t\t\tSUM(CASE WHEN [Financial Period] = [MaxPeriod] THEN [Closing] ELSE 0 END)\r\n\t\t\t\t\t- SUM(CASE WHEN [Financial Period] = '1' THEN [Opening] ELSE 0 END)\t\t\tAS [TB Movement]\r\n\t,\t\t\tSUM(CASE WHEN [Financial Period] = [MaxPeriod] THEN [Closing] ELSE 0 END)\r\n\t\t\t\t\t- SUM(CASE WHEN [Financial Period] = '1' THEN [Opening] ELSE 0 END)\r\n\t\t\t\t\t - SUM([GL Movement])\t\t\t\t\t\t\t\t\t\t\t\t\t\tAS [Difference]\r\n\tINTO\t\tFinance.[ReconcilationYTD]\r\n\tFROM\t\t(\r\n\t\t\t\t\tSELECT\t\t*\r\n\t\t\t\t\t,\t\t\tMIN([Financial Period]) OVER (PARTITION BY [Financial Year],[Entity],[TB Account] ) AS [MinPeriod]\r\n\t\t\t\t\t,\t\t\tMAX([Financial Period]) OVER (PARTITION BY [Financial Year],[Entity],[TB Account] ) AS [MaxPeriod]\r\n\t\t\t\t\tFROM\t\tFinance.Reconciliation \r\n\t\t\t\t)r\r\n\tGROUP BY\t[Financial Year]\r\n\t,\t\t\t[Entity]\r\n\t,\t\t\tCASE WHEN [GL Account] = 'NOT IN GL' THEN [TB Account] ELSE [GL Account] END\r\n\t,\t\t\t[TB Account]\r\n\t,\t\t\t[Description] \r\n\tORDER BY\tABS(SUM(CASE WHEN [Financial Period] = [MaxPeriod] THEN [Closing] ELSE 0 END)\r\n\t\t\t\t\t- SUM(CASE WHEN [Financial Period] = '1' THEN [Opening] ELSE 0 END)\r\n\t\t\t\t\t - SUM([GL Movement])) DESC\r\n\r\n\r\n-----------------------------------------------------------------------------------------------------------------------------------------------\r\n-- 4.7\tCreate Entity table\r\n-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\t\r\n\tIF OBJECT_ID('[Finance].[EntityDescription]','U') IS NOT NULL DROP TABLE [Finance].[EntityDescription]\r\n\r\n\tSELECT\t\t[Entity]\r\n\t,\t\t\t[Company Name]\r\n\t,\t\t\t[Entity Currency (EC)]\r\n\t,\t\t\tCASE WHEN LEFT([Entity],1) = '3' THEN 'NL' ELSE 'UK' END AS [Country]\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN LEFT([Entity],1) = '3' THEN 'Amsterdam'\r\n\t\t\t\t\tWHEN LEFT([Entity],1) = '2' THEN 'Stanlow'\r\n\t\t\t\t\tWHEN LEFT([Entity],1) = '1' THEN 'Motherwell'\r\n\t\t\t\t\tWHEN LEFT([Entity],1) = '9' THEN 'Head Office'\r\n\t\t\t\tEND AS [Location]\r\n\t,\t\t\tCONCAT([Entity],':',[Company Name]) AS [Entity Name]\r\n\tINTO\t\t[Finance].[EntityDescription]\r\n\tFROM\t\t[Finance].[GL]\r\n\tGROUP BY\t[Entity]\r\n\t,\t\t\t[Company Name]\r\n\t,\t\t\t[Entity Currency (EC)]\r\n\t,\t\t\tCASE WHEN LEFT([Entity],1) = '3' THEN 'NL' ELSE 'UK' END\r\n\t,\t\t\tCASE\r\n\t\t\t\t\tWHEN LEFT([Entity],1) = '3' THEN 'Amsterdam'\r\n\t\t\t\t\tWHEN LEFT([Entity],1) = '2' THEN 'Stanlow'\r\n\t\t\t\t\tWHEN LEFT([Entity],1) = '1' THEN 'Motherwell'\r\n\t\t\t\t\tWHEN LEFT([Entity],1) = '9' THEN 'Head Office'\r\n\t\t\t\tEND\r\n\t,\t\t\tCONCAT([Entity],':',[Company Name])\r\n\r\n-----------------------------------------------------------------------------------------------------------------------------------------------\r\n-- 4.7\tCreate cost centre table\r\n-----------------------------------------------------------------------------------------------------------------------------------------------\r\n\t\r\n\tIF OBJECT_ID('[Finance].[CostCentre]','U') IS NOT NULL DROP TABLE [Finance].[CostCentre]\r\n\r\n\tSELECT\t\t[Cost Centre]\r\n\t,\t\t\t[Cost Centre Description]\r\n\t,\t\t\tCONCAT([Cost Centre],':',[Cost Centre Description]) AS [Cost Centre Full Description]\r\n\tINTO\t\t[Finance].[CostCentre]\r\n\tFROM\t\t[Finance].[GL]\r\n\tGROUP BY\t[Cost Centre]\r\n\t,\t\t\t[Cost Centre Description]\r\n\t,\t\t\tCONCAT([Cost Centre],':',[Cost Centre Description])\r\n"
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Finance"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-09T17:36:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServerArgent')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_BlendAnalysisCoreScripts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Finance].[SQL_BlendCoreScripts]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServerArgent",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Finance"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServerArgent')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_BlendMarginAnalysis')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SQL_BlendMargin_TraceabilityLooped",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Finance].[SQL_BlendMargin_TraceabilityLoop]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServerArgent",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SQL_BlendMargin_OrdersAndInvoices",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SQL_BlendMargin_TraceabilityLooped",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Finance].[SQL_BlendMargin_OrdersAndInvoices]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServerArgent",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SQL_BlendMargin_DataMarts",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SQL_BlendMargin_OrdersAndInvoices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Finance].[SQL_BlendMargin_DataMarts]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServerArgent",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Finance"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-10T11:28:37Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServerArgent')]"
			]
		}
	]
}