adf-aeanalytics-prod/linkedTemplates/ArmTemplate_7.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-aeanalytics-prod"
		},
		"AE_SQLDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AE_SQLDB'"
		},
		"Appian_Test_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Appian_Test'"
		},
		"Appian_prod_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Appian_prod'"
		},
		"appDev_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'appDev'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/csvFXRates')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "FXRates.csv",
						"fileSystem": "financecube"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "GLLedgeID",
						"type": "String"
					},
					{
						"name": "Ledger_ID",
						"type": "String"
					},
					{
						"name": "Code_Combination_id",
						"type": "String"
					},
					{
						"name": "CURRENCY_CODE",
						"type": "String"
					},
					{
						"name": "PERIOD_NAME",
						"type": "String"
					},
					{
						"name": "ACTUAL_FLAG",
						"type": "String"
					},
					{
						"name": "LAST_UPDATE_DATE",
						"type": "String"
					},
					{
						"name": "LAST_UPDATED_BY",
						"type": "String"
					},
					{
						"name": "PERIOD_TYPE",
						"type": "String"
					},
					{
						"name": "PERIOD_YEAR",
						"type": "String"
					},
					{
						"name": "PERIOD_NUM",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_DR",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_CR",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_DR",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_CR",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_DR",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_CR",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_DR",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_CR",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_DR_BEQ",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_CR_BEQ",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_DR_BEQ",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_CR_BEQ",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_DR_BEQ",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_CR_BEQ",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_DR_BEQ",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_CR_BEQ",
						"type": "String"
					},
					{
						"name": "Stamp",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/csvFinanceFunction')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "financefunction.csv",
						"fileSystem": "financecube"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "GLLedgeID",
						"type": "String"
					},
					{
						"name": "Ledger_ID",
						"type": "String"
					},
					{
						"name": "Code_Combination_id",
						"type": "String"
					},
					{
						"name": "CURRENCY_CODE",
						"type": "String"
					},
					{
						"name": "PERIOD_NAME",
						"type": "String"
					},
					{
						"name": "ACTUAL_FLAG",
						"type": "String"
					},
					{
						"name": "LAST_UPDATE_DATE",
						"type": "String"
					},
					{
						"name": "LAST_UPDATED_BY",
						"type": "String"
					},
					{
						"name": "PERIOD_TYPE",
						"type": "String"
					},
					{
						"name": "PERIOD_YEAR",
						"type": "String"
					},
					{
						"name": "PERIOD_NUM",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_DR",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_CR",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_DR",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_CR",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_DR",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_CR",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_DR",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_CR",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_DR_BEQ",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_CR_BEQ",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_DR_BEQ",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_CR_BEQ",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_DR_BEQ",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_CR_BEQ",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_DR_BEQ",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_CR_BEQ",
						"type": "String"
					},
					{
						"name": "Stamp",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/csvGLBalances')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CubeBlob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "balances.csv",
						"folderPath": "Balances",
						"container": "cubedata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "GLLedgeID",
						"type": "String"
					},
					{
						"name": "Ledger_ID",
						"type": "String"
					},
					{
						"name": "Code_Combination_id",
						"type": "String"
					},
					{
						"name": "CURRENCY_CODE",
						"type": "String"
					},
					{
						"name": "PERIOD_NAME",
						"type": "String"
					},
					{
						"name": "ACTUAL_FLAG",
						"type": "String"
					},
					{
						"name": "LAST_UPDATE_DATE",
						"type": "String"
					},
					{
						"name": "LAST_UPDATED_BY",
						"type": "String"
					},
					{
						"name": "PERIOD_TYPE",
						"type": "String"
					},
					{
						"name": "PERIOD_YEAR",
						"type": "String"
					},
					{
						"name": "PERIOD_NUM",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_DR",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_CR",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_DR",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_CR",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_DR",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_CR",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_DR",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_CR",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_DR_BEQ",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_CR_BEQ",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_DR_BEQ",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_CR_BEQ",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_DR_BEQ",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_CR_BEQ",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_DR_BEQ",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_CR_BEQ",
						"type": "String"
					},
					{
						"name": "Stamp",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/csvGLDescriptions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "dimGLDescriptions.csv",
						"fileSystem": "financecube"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Rate ID",
						"type": "String"
					},
					{
						"name": "Rate Type",
						"type": "String"
					},
					{
						"name": "Year",
						"type": "String"
					},
					{
						"name": "Month",
						"type": "String"
					},
					{
						"name": "EUR:GBP",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cubecashflow')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CubeBlob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "cashflow.csv",
						"folderPath": "CashFlow",
						"container": "cubedata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "GLLedgeID",
						"type": "String"
					},
					{
						"name": "Ledger_ID",
						"type": "String"
					},
					{
						"name": "Code_Combination_id",
						"type": "String"
					},
					{
						"name": "CURRENCY_CODE",
						"type": "String"
					},
					{
						"name": "PERIOD_NAME",
						"type": "String"
					},
					{
						"name": "ACTUAL_FLAG",
						"type": "String"
					},
					{
						"name": "LAST_UPDATE_DATE",
						"type": "String"
					},
					{
						"name": "LAST_UPDATED_BY",
						"type": "String"
					},
					{
						"name": "PERIOD_TYPE",
						"type": "String"
					},
					{
						"name": "PERIOD_YEAR",
						"type": "String"
					},
					{
						"name": "PERIOD_NUM",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_DR",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_CR",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_DR",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_CR",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_DR",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_CR",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_DR",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_CR",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_DR_BEQ",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_CR_BEQ",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_DR_BEQ",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_CR_BEQ",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_DR_BEQ",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_CR_BEQ",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_DR_BEQ",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_CR_BEQ",
						"type": "String"
					},
					{
						"name": "Stamp",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cubedatapull')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CubeBlob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "balances.csv",
						"folderPath": "Balances",
						"container": "cubedata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "GLLedgeID",
						"type": "String"
					},
					{
						"name": "Ledger_ID",
						"type": "String"
					},
					{
						"name": "Code_Combination_id",
						"type": "String"
					},
					{
						"name": "CURRENCY_CODE",
						"type": "String"
					},
					{
						"name": "PERIOD_NAME",
						"type": "String"
					},
					{
						"name": "ACTUAL_FLAG",
						"type": "String"
					},
					{
						"name": "LAST_UPDATE_DATE",
						"type": "String"
					},
					{
						"name": "LAST_UPDATED_BY",
						"type": "String"
					},
					{
						"name": "PERIOD_TYPE",
						"type": "String"
					},
					{
						"name": "PERIOD_YEAR",
						"type": "String"
					},
					{
						"name": "PERIOD_NUM",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_DR",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_CR",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_DR",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_CR",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_DR",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_CR",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_DR",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_CR",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_DR_BEQ",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_CR_BEQ",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_DR_BEQ",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_CR_BEQ",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_DR_BEQ",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_CR_BEQ",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_DR_BEQ",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_CR_BEQ",
						"type": "String"
					},
					{
						"name": "Stamp",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/financecube')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "FactBalances.csv",
						"fileSystem": "financecube"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/getdimfinanceref')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "dimfinance.csv",
						"fileSystem": "financecube"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "GLLedgeID",
						"type": "String"
					},
					{
						"name": "Ledger_ID",
						"type": "String"
					},
					{
						"name": "Code_Combination_id",
						"type": "String"
					},
					{
						"name": "CURRENCY_CODE",
						"type": "String"
					},
					{
						"name": "PERIOD_NAME",
						"type": "String"
					},
					{
						"name": "ACTUAL_FLAG",
						"type": "String"
					},
					{
						"name": "LAST_UPDATE_DATE",
						"type": "String"
					},
					{
						"name": "LAST_UPDATED_BY",
						"type": "String"
					},
					{
						"name": "PERIOD_TYPE",
						"type": "String"
					},
					{
						"name": "PERIOD_YEAR",
						"type": "String"
					},
					{
						"name": "PERIOD_NUM",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_DR",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_CR",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_DR",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_CR",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_DR",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_CR",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_DR",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_CR",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_DR_BEQ",
						"type": "String"
					},
					{
						"name": "PERIOD_NET_CR_BEQ",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_DR_BEQ",
						"type": "String"
					},
					{
						"name": "BEGIN_BALANCE_CR_BEQ",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_DR_BEQ",
						"type": "String"
					},
					{
						"name": "QUARTER_TO_DATE_CR_BEQ",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_DR_BEQ",
						"type": "String"
					},
					{
						"name": "PROJECT_TO_DATE_CR_BEQ",
						"type": "String"
					},
					{
						"name": "Stamp",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/testAppian')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TestBlob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "appian"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/testAppian_suppliers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TestBlob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "appiansuppliers"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/testAppian_traceability')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "TestBlob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "appiantraceability"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AE_SQLDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('AE_SQLDB_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AppianRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_Test')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('Appian_Test_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AppianRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_prod')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('Appian_prod_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AppianRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/appDev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('appDev_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AppianRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cashflow2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "*.csv",
						"folderPath": "CashFlow2",
						"fileSystem": "cubedata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GetCashFlow2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "*.csv",
						"folderPath": "CashFlow2",
						"fileSystem": "cubedata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_Copy_OTBI_Reports')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Traceability Report to BLOB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": false,
									"useBinaryTransfer": true,
									"deleteFilesAfterCompletion": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Appian_Traceability_OTBI",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Binary_Destination_Oracle",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Suppliers Report to BLOB",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Traceability Report to BLOB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": false,
									"useBinaryTransfer": true,
									"deleteFilesAfterCompletion": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Appian_Suppliers_OTBI",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Binary_Destination_Oracle",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Traceability BLOB to SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Delete existing tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "Stamp",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Appian_Traceability_Blob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Argent_Database",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "O.Traceability report"
								}
							}
						]
					},
					{
						"name": "Copy Suppliers BLOB to SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Traceability BLOB to SQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Appian_Suppliers_Blob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Argent_Database",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "O.Sustainability Suppliers Report"
								}
							}
						]
					},
					{
						"name": "Delete existing tables",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Copy Suppliers Report to BLOB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "SqlServerArgent",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "/* Delete Traceability Report if it exists */\r\nDROP TABLE IF EXISTS [RAW].[O.Traceability report]\r\n\r\n\r\n/* Delete Suppliers Report if it exists */\r\nDROP TABLE IF EXISTS [RAW].[O.Sustainability Suppliers Report]"
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_Suppliers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Suppliers",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[prc_AppianGetSuppliers_v2]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Supplier Number",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Organization Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Organization Type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "BU_bill_to",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BU_bill_to",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "BPA_EXISTS",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BPA_EXISTS",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Supplier Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Address Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Address Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Address Line 2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Address Line 2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Address Line 3",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Address Line 3",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Phone",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Supplier Inactive Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Inactive Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vendor Site ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Vendor Site ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Prc BU ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Prc BU ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Location ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Location ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Purchasing Site Flag",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchasing Site Flag",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Pay",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Pay",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Payment terms",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Payment terms",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Site Invoice Currency Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Site Invoice Currency Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Site Payment Currency Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Site Payment Currency Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "BIC_SWIFT",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BIC_SWIFT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Site Inactive Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Site Inactive Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "VIHB Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VIHB Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vendor Category",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Vendor Category",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DEFAULT_PAYMENT_METHOD",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DEFAULT_PAYMENT_METHOD",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ISCC Cetificate Number",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ISCC Cetificate Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ISCC Certificate Expiry Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ISCC Certificate Expiry Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Site VET ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Site VET ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "INS Certificate Number",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "INS Certificate Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "INS Certificate Expiry Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "INS Certificate Expiry Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CERTIFICATION_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CERTIFICATION_TYPE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "GMP_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "GMP_ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Site Terms Date Basis",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Site Terms Date Basis",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Postal Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Postal Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "VAT_NUM_SUP",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VAT_NUM_SUP",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "VAT_NUM_SITE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "VAT_NUM_SITE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "IBAN",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "IBAN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "BANK_ACCOUNT_NUM",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BANK_ACCOUNT_NUM",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Party ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Party ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vendor ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Vendor ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Party Site ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Party Site ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Supplier_creation_date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier_creation_date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ADDRESS_CREATION_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ADDRESS_CREATION_DATE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SITE_CREATION_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SITE_CREATION_DATE",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AppianDataSuppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "testAppian_suppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/testAppian_suppliers')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLOB_To_SQL_Non-Oracle_Data_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Non-Oracle Get Metadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Blob_Non_Oracle_Get_Metadata",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Non-Oracle ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Non-Oracle Get Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Non-Oracle Get Metadata').output.childitems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Non-Oracle Copy Data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "Stamp",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlServerSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": true,
											"tableOption": "autoCreate"
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": true,
										"logSettings": {
											"enableCopyActivityLog": true,
											"copyActivityLogSettings": {
												"logLevel": "Warning",
												"enableReliableLogging": false
											},
											"logLocationSettings": {
												"linkedServiceName": {
													"referenceName": "OracleBlob",
													"type": "LinkedServiceReference"
												}
											}
										},
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Blob_Non_Oracle_Files",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "SQL_Argent_Database",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@concat('NO.',replace(item().name,'.csv',''))",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Trade"
				},
				"annotations": [],
				"lastPublishTime": "2022-09-01T10:21:43Z"
			},
			"dependsOn": []
		}
	]
}