adf-aeanalytics-prod/linkedTemplates/ArmTemplate_6.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-aeanalytics-prod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AppianProdSuppliers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Appian_prod",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Supplier_Name",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_number",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Supplier_type",
						"type": "nvarchar"
					},
					{
						"name": "BU_bill_to",
						"type": "nvarchar"
					},
					{
						"name": "BPA_exists",
						"type": "nvarchar"
					},
					{
						"name": "Category_name",
						"type": "nvarchar"
					},
					{
						"name": "Address_name",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_1",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_2",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_3",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_4",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "Postal_code",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "E_mail",
						"type": "nvarchar"
					},
					{
						"name": "Site_name",
						"type": "nvarchar"
					},
					{
						"name": "Purchasing",
						"type": "nvarchar"
					},
					{
						"name": "Pay",
						"type": "nvarchar"
					},
					{
						"name": "Inactive_date_VET_ID_expiry_date",
						"type": "date"
					},
					{
						"name": "VET_ID",
						"type": "nvarchar"
					},
					{
						"name": "ISCC_certificate_number",
						"type": "nvarchar"
					},
					{
						"name": "ISCC_certificate_expiry_date",
						"type": "date"
					},
					{
						"name": "INS_certificate_number",
						"type": "nvarchar"
					},
					{
						"name": "INS_certificate_expiry_date",
						"type": "date"
					},
					{
						"name": "Certification_type",
						"type": "nvarchar"
					},
					{
						"name": "GMP_ID",
						"type": "nvarchar"
					},
					{
						"name": "VIHB_code",
						"type": "nvarchar"
					},
					{
						"name": "Vendor_category",
						"type": "nvarchar"
					},
					{
						"name": "Default_payment_method",
						"type": "nvarchar"
					},
					{
						"name": "Payment_terms",
						"type": "nvarchar"
					},
					{
						"name": "Invoice_currency",
						"type": "nvarchar"
					},
					{
						"name": "Payment_currency",
						"type": "nvarchar"
					},
					{
						"name": "BIC_SWIFT",
						"type": "nvarchar"
					},
					{
						"name": "VAT_number_supplier",
						"type": "nvarchar"
					},
					{
						"name": "VAT_number_site",
						"type": "nvarchar"
					},
					{
						"name": "IBAN",
						"type": "nvarchar"
					},
					{
						"name": "Bank_account_number",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_creation_date",
						"type": "date"
					},
					{
						"name": "Address_creation_date",
						"type": "date"
					},
					{
						"name": "Site_creation_date",
						"type": "date"
					},
					{
						"name": "Site_created_by",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "SuppliersReport_Suppliers"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AppianTest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Appian_Test",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Supplier_Name",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_number",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Supplier_type",
						"type": "nvarchar"
					},
					{
						"name": "BU_bill_to",
						"type": "nvarchar"
					},
					{
						"name": "BPA_exists",
						"type": "nvarchar"
					},
					{
						"name": "Category_name",
						"type": "nvarchar"
					},
					{
						"name": "Address_name",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_1",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_2",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_3",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_4",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "Postal_code",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "E_mail",
						"type": "nvarchar"
					},
					{
						"name": "Site_name",
						"type": "nvarchar"
					},
					{
						"name": "Purchasing",
						"type": "nvarchar"
					},
					{
						"name": "Pay",
						"type": "nvarchar"
					},
					{
						"name": "Inactive_date_VET_ID_expiry_date",
						"type": "date"
					},
					{
						"name": "VET_ID",
						"type": "nvarchar"
					},
					{
						"name": "ISCC_certificate_number",
						"type": "nvarchar"
					},
					{
						"name": "ISCC_certificate_expiry_date",
						"type": "date"
					},
					{
						"name": "INS_certificate_number",
						"type": "nvarchar"
					},
					{
						"name": "INS_certificate_expiry_date",
						"type": "date"
					},
					{
						"name": "Certification_type",
						"type": "nvarchar"
					},
					{
						"name": "GMP_ID",
						"type": "nvarchar"
					},
					{
						"name": "VIHB_code",
						"type": "nvarchar"
					},
					{
						"name": "Vendor_category",
						"type": "nvarchar"
					},
					{
						"name": "Default_payment_method",
						"type": "nvarchar"
					},
					{
						"name": "Payment_terms",
						"type": "nvarchar"
					},
					{
						"name": "Invoice_currency",
						"type": "nvarchar"
					},
					{
						"name": "Payment_currency",
						"type": "nvarchar"
					},
					{
						"name": "BIC_SWIFT",
						"type": "nvarchar"
					},
					{
						"name": "VAT_number_supplier",
						"type": "nvarchar"
					},
					{
						"name": "VAT_number_site",
						"type": "nvarchar"
					},
					{
						"name": "IBAN",
						"type": "nvarchar"
					},
					{
						"name": "Bank_account_number",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_creation_date",
						"type": "date"
					},
					{
						"name": "Address_creation_date",
						"type": "date"
					},
					{
						"name": "Site_creation_date",
						"type": "date"
					},
					{
						"name": "Site_created_by",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "SuppliersReport_Suppliers"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_Prod')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Appian_prod",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "Staging",
					"table": "AppianBPA"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_Prod_Traceablity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Appian_prod",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CREATION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "BUSINESS_UNIT",
						"type": "nvarchar"
					},
					{
						"name": "ORGANIZATION",
						"type": "nvarchar"
					},
					{
						"name": "SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "PHYSICAL_DATE",
						"type": "nvarchar"
					},
					{
						"name": "DOCUMENT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "REASON_NAME",
						"type": "nvarchar"
					},
					{
						"name": "WORK_DEFINITION",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_CODE",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "UNIT_OF_MEASURE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSFER_SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER_SITE",
						"type": "nvarchar"
					},
					{
						"name": "AGREEMENT",
						"type": "nvarchar"
					},
					{
						"name": "EXT_REFERENCE_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "SHIPPING_METHOD",
						"type": "nvarchar"
					},
					{
						"name": "QUANTITY",
						"type": "nvarchar"
					},
					{
						"name": "TANK_BALANCE",
						"type": "nvarchar"
					},
					{
						"name": "RUNNING_TOTAL",
						"type": "nvarchar"
					},
					{
						"name": "GRADE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_ID",
						"type": "nvarchar"
					},
					{
						"name": "LOT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSTYPE_REASON",
						"type": "nvarchar"
					},
					{
						"name": "DENSITY",
						"type": "nvarchar"
					},
					{
						"name": "STD_LTRS",
						"type": "nvarchar"
					},
					{
						"name": "Stamp",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "traceabilityReport"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_test_BPA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Appian_Test",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Business Unit Name",
						"type": "varchar"
					},
					{
						"name": "Blanket Purchase Agreement Number",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Status",
						"type": "varchar"
					},
					{
						"name": "Supplier Name",
						"type": "varchar"
					},
					{
						"name": "Supplier Site Name",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Description",
						"type": "varchar"
					},
					{
						"name": "Item Code",
						"type": "varchar"
					},
					{
						"name": "Item Name",
						"type": "varchar"
					},
					{
						"name": "Item Description",
						"type": "varchar"
					},
					{
						"name": "Category Code",
						"type": "varchar"
					},
					{
						"name": "Total Price",
						"type": "varchar"
					},
					{
						"name": "Unit Price",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Currency",
						"type": "varchar"
					},
					{
						"name": "Blanket Agreement Quantity",
						"type": "varchar"
					},
					{
						"name": "UOM Code",
						"type": "varchar"
					},
					{
						"name": "Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Order Quantity",
						"type": "varchar"
					},
					{
						"name": "Remaining Quantity",
						"type": "varchar"
					},
					{
						"name": "Trucks",
						"type": "varchar"
					},
					{
						"name": "Position Now",
						"type": "varchar"
					},
					{
						"name": "Expected Position",
						"type": "varchar"
					},
					{
						"name": "Weeknumbers Contract",
						"type": "varchar"
					},
					{
						"name": "Weeks Remaining",
						"type": "varchar"
					},
					{
						"name": "Next Monday",
						"type": "varchar"
					},
					{
						"name": "Agreement Start Date",
						"type": "varchar"
					},
					{
						"name": "Agreement End Date",
						"type": "varchar"
					},
					{
						"name": "Shipping Method",
						"type": "varchar"
					},
					{
						"name": "Incoterm",
						"type": "varchar"
					},
					{
						"name": "Transporter Name",
						"type": "varchar"
					},
					{
						"name": "Transporter Unit Price",
						"type": "varchar"
					},
					{
						"name": "Transporter Amount",
						"type": "varchar"
					},
					{
						"name": "Transporter Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Currency",
						"type": "varchar"
					},
					{
						"name": "Buyer",
						"type": "varchar"
					},
					{
						"name": "Sustainability Position",
						"type": "varchar"
					},
					{
						"name": "Supplier Item",
						"type": "varchar"
					},
					{
						"name": "Deal Date",
						"type": "varchar"
					},
					{
						"name": "Agreement Amount",
						"type": "varchar"
					},
					{
						"name": "Amount Released Against Agreement",
						"type": "varchar"
					},
					{
						"name": "Note To Vendor",
						"type": "varchar"
					},
					{
						"name": "FFA Spec",
						"type": "varchar"
					},
					{
						"name": "Line Status",
						"type": "varchar"
					},
					{
						"name": "EUR USD",
						"type": "varchar"
					},
					{
						"name": "EUR GBP",
						"type": "varchar"
					},
					{
						"name": "Updated Contract Status",
						"type": "varchar"
					},
					{
						"name": "DateStamp",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume",
						"type": "varchar"
					},
					{
						"name": "Agreement Mid Date",
						"type": "varchar"
					},
					{
						"name": "Non-Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume Non-Delivered",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "AppianBPA"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_test_traceability')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Appian_Test",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CREATION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "BUSINESS_UNIT",
						"type": "nvarchar"
					},
					{
						"name": "ORGANIZATION",
						"type": "nvarchar"
					},
					{
						"name": "SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "PHYSICAL_DATE",
						"type": "nvarchar"
					},
					{
						"name": "DOCUMENT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "REASON_NAME",
						"type": "nvarchar"
					},
					{
						"name": "WORK_DEFINITION",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_CODE",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "UNIT_OF_MEASURE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSFER_SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER_SITE",
						"type": "nvarchar"
					},
					{
						"name": "AGREEMENT",
						"type": "nvarchar"
					},
					{
						"name": "EXT_REFERENCE_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "SHIPPING_METHOD",
						"type": "nvarchar"
					},
					{
						"name": "QUANTITY",
						"type": "nvarchar"
					},
					{
						"name": "TANK_BALANCE",
						"type": "nvarchar"
					},
					{
						"name": "RUNNING_TOTAL",
						"type": "nvarchar"
					},
					{
						"name": "GRADE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_ID",
						"type": "nvarchar"
					},
					{
						"name": "LOT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSTYPE_REASON",
						"type": "nvarchar"
					},
					{
						"name": "DENSITY",
						"type": "nvarchar"
					},
					{
						"name": "STD_LTRS",
						"type": "nvarchar"
					},
					{
						"name": "Stamp",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "traceabilityReport"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "appDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Business Unit Name",
						"type": "varchar"
					},
					{
						"name": "Blanket Purchase Agreement Number",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Status",
						"type": "varchar"
					},
					{
						"name": "Supplier Name",
						"type": "varchar"
					},
					{
						"name": "Supplier Site Name",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Description",
						"type": "varchar"
					},
					{
						"name": "Item Code",
						"type": "varchar"
					},
					{
						"name": "Item Name",
						"type": "varchar"
					},
					{
						"name": "Item Description",
						"type": "varchar"
					},
					{
						"name": "Category Code",
						"type": "varchar"
					},
					{
						"name": "Total Price",
						"type": "varchar"
					},
					{
						"name": "Unit Price",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Currency",
						"type": "varchar"
					},
					{
						"name": "Blanket Agreement Quantity",
						"type": "varchar"
					},
					{
						"name": "UOM Code",
						"type": "varchar"
					},
					{
						"name": "Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Order Quantity",
						"type": "varchar"
					},
					{
						"name": "Remaining Quantity",
						"type": "varchar"
					},
					{
						"name": "Trucks",
						"type": "varchar"
					},
					{
						"name": "Position Now",
						"type": "varchar"
					},
					{
						"name": "Expected Position",
						"type": "varchar"
					},
					{
						"name": "Weeknumbers Contract",
						"type": "varchar"
					},
					{
						"name": "Weeks Remaining",
						"type": "varchar"
					},
					{
						"name": "Next Monday",
						"type": "varchar"
					},
					{
						"name": "Agreement Start Date",
						"type": "varchar"
					},
					{
						"name": "Agreement End Date",
						"type": "varchar"
					},
					{
						"name": "Shipping Method",
						"type": "varchar"
					},
					{
						"name": "Incoterm",
						"type": "varchar"
					},
					{
						"name": "Transporter Name",
						"type": "varchar"
					},
					{
						"name": "Transporter Unit Price",
						"type": "varchar"
					},
					{
						"name": "Transporter Amount",
						"type": "varchar"
					},
					{
						"name": "Transporter Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Currency",
						"type": "varchar"
					},
					{
						"name": "Buyer",
						"type": "varchar"
					},
					{
						"name": "Sustainability Position",
						"type": "varchar"
					},
					{
						"name": "Supplier Item",
						"type": "varchar"
					},
					{
						"name": "Deal Date",
						"type": "varchar"
					},
					{
						"name": "Agreement Amount",
						"type": "varchar"
					},
					{
						"name": "Amount Released Against Agreement",
						"type": "varchar"
					},
					{
						"name": "Note To Vendor",
						"type": "varchar"
					},
					{
						"name": "FFA Spec",
						"type": "varchar"
					},
					{
						"name": "Line Status",
						"type": "varchar"
					},
					{
						"name": "EUR USD",
						"type": "varchar"
					},
					{
						"name": "EUR GBP",
						"type": "varchar"
					},
					{
						"name": "Updated Contract Status",
						"type": "varchar"
					},
					{
						"name": "DateStamp",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume",
						"type": "varchar"
					},
					{
						"name": "Agreement Mid Date",
						"type": "varchar"
					},
					{
						"name": "Non-Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume Non-Delivered",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "AppianBPA"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "appDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Business Unit Name",
						"type": "varchar"
					},
					{
						"name": "Blanket Purchase Agreement Number",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Status",
						"type": "varchar"
					},
					{
						"name": "Supplier Name",
						"type": "varchar"
					},
					{
						"name": "Supplier Site Name",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Description",
						"type": "varchar"
					},
					{
						"name": "Item Code",
						"type": "varchar"
					},
					{
						"name": "Item Name",
						"type": "varchar"
					},
					{
						"name": "Item Description",
						"type": "varchar"
					},
					{
						"name": "Category Code",
						"type": "varchar"
					},
					{
						"name": "Total Price",
						"type": "varchar"
					},
					{
						"name": "Unit Price",
						"type": "varchar"
					},
					{
						"name": "Purchase Document Currency",
						"type": "varchar"
					},
					{
						"name": "Blanket Agreement Quantity",
						"type": "varchar"
					},
					{
						"name": "UOM Code",
						"type": "varchar"
					},
					{
						"name": "Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Order Quantity",
						"type": "varchar"
					},
					{
						"name": "Remaining Quantity",
						"type": "varchar"
					},
					{
						"name": "Trucks",
						"type": "varchar"
					},
					{
						"name": "Position Now",
						"type": "varchar"
					},
					{
						"name": "Expected Position",
						"type": "varchar"
					},
					{
						"name": "Weeknumbers Contract",
						"type": "varchar"
					},
					{
						"name": "Weeks Remaining",
						"type": "varchar"
					},
					{
						"name": "Next Monday",
						"type": "varchar"
					},
					{
						"name": "Agreement Start Date",
						"type": "varchar"
					},
					{
						"name": "Agreement End Date",
						"type": "varchar"
					},
					{
						"name": "Shipping Method",
						"type": "varchar"
					},
					{
						"name": "Incoterm",
						"type": "varchar"
					},
					{
						"name": "Transporter Name",
						"type": "varchar"
					},
					{
						"name": "Transporter Unit Price",
						"type": "varchar"
					},
					{
						"name": "Transporter Amount",
						"type": "varchar"
					},
					{
						"name": "Transporter Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 1 Currency",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Supplier",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Unit Price",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Amount",
						"type": "varchar"
					},
					{
						"name": "Additional Charges 2 Currency",
						"type": "varchar"
					},
					{
						"name": "Buyer",
						"type": "varchar"
					},
					{
						"name": "Sustainability Position",
						"type": "varchar"
					},
					{
						"name": "Supplier Item",
						"type": "varchar"
					},
					{
						"name": "Deal Date",
						"type": "varchar"
					},
					{
						"name": "Agreement Amount",
						"type": "varchar"
					},
					{
						"name": "Amount Released Against Agreement",
						"type": "varchar"
					},
					{
						"name": "Note To Vendor",
						"type": "varchar"
					},
					{
						"name": "FFA Spec",
						"type": "varchar"
					},
					{
						"name": "Line Status",
						"type": "varchar"
					},
					{
						"name": "EUR USD",
						"type": "varchar"
					},
					{
						"name": "EUR GBP",
						"type": "varchar"
					},
					{
						"name": "Updated Contract Status",
						"type": "varchar"
					},
					{
						"name": "DateStamp",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume",
						"type": "varchar"
					},
					{
						"name": "Agreement Mid Date",
						"type": "varchar"
					},
					{
						"name": "Non-Delivered Quantity",
						"type": "varchar"
					},
					{
						"name": "Yield Adjusted Volume Non-Delivered",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "AppianBPA"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable2_Suppliers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "appDev",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Supplier_Name",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_number",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "Supplier_type",
						"type": "nvarchar"
					},
					{
						"name": "BU_bill_to",
						"type": "nvarchar"
					},
					{
						"name": "BPA_exists",
						"type": "nvarchar"
					},
					{
						"name": "Category_name",
						"type": "nvarchar"
					},
					{
						"name": "Address_name",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_1",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_2",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_3",
						"type": "nvarchar"
					},
					{
						"name": "Address_line_4",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "Postal_code",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "E_mail",
						"type": "nvarchar"
					},
					{
						"name": "Site_name",
						"type": "nvarchar"
					},
					{
						"name": "Purchasing",
						"type": "nvarchar"
					},
					{
						"name": "Pay",
						"type": "nvarchar"
					},
					{
						"name": "Inactive_date_VET_ID_expiry_date",
						"type": "date"
					},
					{
						"name": "VET_ID",
						"type": "nvarchar"
					},
					{
						"name": "ISCC_certificate_number",
						"type": "nvarchar"
					},
					{
						"name": "ISCC_certificate_expiry_date",
						"type": "date"
					},
					{
						"name": "INS_certificate_number",
						"type": "nvarchar"
					},
					{
						"name": "INS_certificate_expiry_date",
						"type": "date"
					},
					{
						"name": "Certification_type",
						"type": "nvarchar"
					},
					{
						"name": "GMP_ID",
						"type": "nvarchar"
					},
					{
						"name": "VIHB_code",
						"type": "nvarchar"
					},
					{
						"name": "Vendor_category",
						"type": "nvarchar"
					},
					{
						"name": "Default_payment_method",
						"type": "nvarchar"
					},
					{
						"name": "Payment_terms",
						"type": "nvarchar"
					},
					{
						"name": "Invoice_currency",
						"type": "nvarchar"
					},
					{
						"name": "Payment_currency",
						"type": "nvarchar"
					},
					{
						"name": "BIC_SWIFT",
						"type": "nvarchar"
					},
					{
						"name": "VAT_number_supplier",
						"type": "nvarchar"
					},
					{
						"name": "VAT_number_site",
						"type": "nvarchar"
					},
					{
						"name": "IBAN",
						"type": "nvarchar"
					},
					{
						"name": "Bank_account_number",
						"type": "nvarchar"
					},
					{
						"name": "Supplier_creation_date",
						"type": "date"
					},
					{
						"name": "Address_creation_date",
						"type": "date"
					},
					{
						"name": "Site_creation_date",
						"type": "date"
					},
					{
						"name": "Site_created_by",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "SuppliersReport_Suppliers"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable2_traceability')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "appDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CREATION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "BUSINESS_UNIT",
						"type": "nvarchar"
					},
					{
						"name": "ORGANIZATION",
						"type": "nvarchar"
					},
					{
						"name": "SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_DATE",
						"type": "nvarchar"
					},
					{
						"name": "PHYSICAL_DATE",
						"type": "nvarchar"
					},
					{
						"name": "DOCUMENT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "REASON_NAME",
						"type": "nvarchar"
					},
					{
						"name": "WORK_DEFINITION",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_CODE",
						"type": "nvarchar"
					},
					{
						"name": "ITEM_DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "UNIT_OF_MEASURE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSFER_SUBINVENTORY",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER",
						"type": "nvarchar"
					},
					{
						"name": "SUPPLIER_SITE",
						"type": "nvarchar"
					},
					{
						"name": "AGREEMENT",
						"type": "nvarchar"
					},
					{
						"name": "EXT_REFERENCE_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "SHIPPING_METHOD",
						"type": "nvarchar"
					},
					{
						"name": "QUANTITY",
						"type": "nvarchar"
					},
					{
						"name": "TANK_BALANCE",
						"type": "nvarchar"
					},
					{
						"name": "RUNNING_TOTAL",
						"type": "nvarchar"
					},
					{
						"name": "GRADE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTION_ID",
						"type": "nvarchar"
					},
					{
						"name": "LOT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "TRANSTYPE_REASON",
						"type": "nvarchar"
					},
					{
						"name": "DENSITY",
						"type": "nvarchar"
					},
					{
						"name": "STD_LTRS",
						"type": "nvarchar"
					},
					{
						"name": "Stamp",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "Staging",
					"table": "traceabilityReport"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AuditDaily_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is daily trigger for the Audit Job to run. This must run afer the Oracle Jobs that populate the tables ",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "audit_pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-09-05T14:01:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								8
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TL_CostAccounting_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SQL_TransactionList_CostAccounting",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2023-05-24T22:00:00",
						"timeZone": "GMT Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian BPA Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Appian BPA Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[Prc_AppianBPADetails]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate"
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "TestBlob",
									"type": "LinkedServiceReference"
								},
								"path": "appian"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Total Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Total Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Agreement Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Blanket Agreement Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Order Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Order Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Remaining Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Remaining Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Trucks",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Trucks",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Position Now",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Position Now",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Expected Position",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Expected Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeknumbers Contract",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeknumbers Contract",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeks Remaining",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeks Remaining",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Next Monday",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Next Monday",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 2 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Amount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Additional Charges 2 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Amount Released Against Agreement",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Amount Released Against Agreement",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR USD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR USD",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR GBP",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR GBP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DateStamp",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "DateStamp",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Mid Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Agreement Mid Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Non-Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Non-Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AppianDataSuppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian BPA Data_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Appian BPA Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[Prc_AppianBPADetails]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Total Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Total Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Agreement Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Blanket Agreement Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Order Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Order Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Remaining Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Remaining Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Trucks",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Trucks",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Position Now",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Position Now",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Expected Position",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Expected Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeknumbers Contract",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeknumbers Contract",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeks Remaining",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeks Remaining",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Next Monday",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Next Monday",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 2 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Amount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Additional Charges 2 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Amount Released Against Agreement",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Amount Released Against Agreement",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR USD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR USD",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR GBP",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR GBP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DateStamp",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "DateStamp",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Mid Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Agreement Mid Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Non-Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Non-Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AppianDataSuppliers_copy1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian BPA Prod')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Prod Appian BPA Data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[Prc_AppianBPADetails]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "TestBlob",
									"type": "LinkedServiceReference"
								},
								"path": "appian"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Blanket Purchase Agreement Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Site Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Item Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Category Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Total Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Total Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Purchase Document Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Blanket Agreement Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Blanket Agreement Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UOM Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Order Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Order Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Remaining Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Remaining Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Trucks",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Trucks",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Position Now",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Position Now",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Expected Position",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 38
										},
										"sink": {
											"name": "Expected Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeknumbers Contract",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeknumbers Contract",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Weeks Remaining",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Weeks Remaining",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Next Monday",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Next Monday",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Start Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement End Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Shipping Method",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Incoterm",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Transporter Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Transporter Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 1 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 1 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Supplier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Unit Price",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Additional Charges 2 Unit Price",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Amount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Additional Charges 2 Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Additional Charges 2 Currency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Buyer",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Sustainability Position",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Supplier Item",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Deal Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agreement Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Amount Released Against Agreement",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 28
										},
										"sink": {
											"name": "Amount Released Against Agreement",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Note To Vendor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FFA Spec",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Line Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR USD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR USD",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EUR GBP",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "EUR GBP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Updated Contract Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DateStamp",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "DateStamp",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agreement Mid Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Agreement Mid Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Non-Delivered Quantity",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 38
										},
										"sink": {
											"name": "Non-Delivered Quantity",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 38
										},
										"sink": {
											"name": "Yield Adjusted Volume Non-Delivered",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AppianDataSuppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Appian_Prod",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Appian PipeLine_Prod"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Appian_Prod')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian Traceability Pull Prod')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pull traceabilityData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CREATION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CREATION_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BUSINESS_UNIT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BUSINESS_UNIT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ORGANIZATION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORGANIZATION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUBINVENTORY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUBINVENTORY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PHYSICAL_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PHYSICAL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DOCUMENT_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DOCUMENT_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_TYPE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "REASON_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "REASON_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WORK_DEFINITION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WORK_DEFINITION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ITEM_CODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ITEM_DESCRIPTION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ITEM_DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UNIT_OF_MEASURE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UNIT_OF_MEASURE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSFER_SUBINVENTORY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSFER_SUBINVENTORY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUPPLIER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUPPLIER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUPPLIER_SITE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUPPLIER_SITE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AGREEMENT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AGREEMENT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EXT_REFERENCE_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EXT_REFERENCE_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIPPING_METHOD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SHIPPING_METHOD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "QUANTITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "QUANTITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TANK_BALANCE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TANK_BALANCE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RUNNING_TOTAL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RUNNING_TOTAL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GRADE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GRADE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSACTION_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOT_NUMBER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LOT_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSTYPE_REASON",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TRANSTYPE_REASON",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DENSITY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DENSITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STD_LTRS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STD_LTRS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Stamp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Stamp",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "testAppian_traceability",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Appian_Prod_Traceablity",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Appian PipeLine_Prod"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Appian_Prod_Traceablity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Oracle_Data_Trade_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Oracle To BLOB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Drop RAW GL Tables Script",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Oracle_To_BLOB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute BLOB To SQL For Oracle Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Oracle To BLOB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLOB_To_SQL_Oracle_Data_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Data Marks Script",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_Exp_And_Pos_Core_Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Exp_And_Pos_Data_Marks_Script",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute SQL To Blob For Trade Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Drop RAW Tables Script",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Trade-Tables_To_BLOB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Drop RAW Tables Script",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Data Marks Script",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Exp_And_Pos_Drop_RAW_Script",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Drop RAW GL Tables Script",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Trade_Blob_to_SQL",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_GL_Drop_RAW_Script",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_Exp_And_Pos_Core_Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute BLOB To SQL For Oracle Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Exp_And_Pos_Core_Tables",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Trade_SharePoint_To_Blob",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Trade_SharePoint_To_Blob",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Trade_Blob_to_SQL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Trade_SharePoint_To_Blob",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Trade_Blob_to_SQL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Trade"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-10T11:15:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pricing_Data_Trade_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute BLOB To SQL For Pricing Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy_Pricing_Sharepoint_To_BLOB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Pricing_Blob_to_SQL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Data Marks Script",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute BLOB To SQL For Pricing Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Pricing_Data_Marks_Script",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute SQL To BLOB For Trade Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Data Marks Script",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Trade-Tables_To_BLOB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Copy_Pricing_Sharepoint_To_BLOB",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Pricing_Sharepoint_To_BLOB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Send Email Alert",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get the Ticket Number",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://ae-adf-emailnotification.azurewebsites.net:443/api/Argent-Alerting/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=Aso6aks8InhkiT92JgC0HG-J1IvmAhT5B94OpeVK9lo",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n    \"receiver\":\"@{pipeline().parameters.receiver}\",\n    \"title\":\"Pipeline Run Failed\",\n    \"message\":\"Job failed, ticket raised @{variables('TicketNo')}\",\n    \"color\":\"Red\",\n    \"dataFactoryName\":\"@{pipeline().DataFactory}\",\n    \"pipelineName\":\"@{pipeline().Pipeline}\",\n    \"pipelineRunId\":\"@{pipeline().RunId}\",\n    \"time\":\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Raise an Incident",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Execute Data Marks Script",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://eu2api.symphonysummit.com/Argent/REST/Summit_RESTWCF.svc/RESTService/CommonWS_JsonObjCall",
							"method": "POST",
							"headers": {},
							"body": {
								"ServiceName": "IM_LogOrUpdateIncident",
								"objCommonParameters": {
									"_ProxyDetails": {
										"AuthType": "APIKEY",
										"APIKey": "tryDnK94yXfNHDFbDyiy6HltkdY2uvw0f5UtnFfGZiY=",
										"ProxyID": 0,
										"ReturnType": "JSON",
										"OrgID": 1
									},
									"incidentParamsJSON": {
										"IncidentContainerJsonObj": {
											"Updater": "Executive",
											"CI_Key": "hostname",
											"CI_Value": "",
											"Ticket": {
												"IsFromWebService": true,
												"Priority_Name": "P3 - Medium",
												"Classification_Name": "Data or Process in system not working",
												"Sup_Function": "IT",
												"Caller_EmailID": "lyndon.johnson@argentenergy.com",
												"Status": "New",
												"Urgency_Name": "Stops Work",
												"Assigned_WorkGroup_Name": "Argent Reporting Support Team",
												"Medium": "Web",
												"Impact_Name": "Multiple Users",
												"Category_Name": "Argent Reporting",
												"CI_ID": "",
												"SLA_Name": "",
												"OpenCategory_Name": "Argent Reporting",
												"Source": "Person",
												"Description": "@{pipeline().parameters.TicketMessage}",
												"PageName": "TicketDetail"
											},
											"TicketInformation": {
												"Information": "TEST Ticket",
												"InternalLog": "#InternalLog#",
												"UserLog": "",
												"Solution": "#Solution#"
											},
											"CustomFields": []
										}
									},
									"RequestType": "RemoteCall"
								}
							}
						}
					},
					{
						"name": "Get the Ticket Number",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Raise an Incident",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "TicketNo",
							"value": {
								"value": "@string(activity('Raise an Incident').output.TicketNo)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"receiver": {
						"type": "string",
						"defaultValue": "data.mi@argentenergy.com"
					},
					"TicketID": {
						"type": "string"
					},
					"JobMessage": {
						"type": "string",
						"defaultValue": "Azure Data Factory Error"
					},
					"TicketMessage": {
						"type": "string",
						"defaultValue": "Automated message: Data job has failedJob Failed"
					}
				},
				"variables": {
					"TicketNo": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Trade/Pricing"
				},
				"annotations": [],
				"lastPublishTime": "2022-09-14T10:20:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Finance_MainPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy Blob to SQL DB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CREATEGL_Script_1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CREATEGL_Script_2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CREATE_TB_Rec",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CREATEGL_Script_3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CREATE_TB_Rec",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CREATEGL_Script_3",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CREATEGL_Script_3",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Copy Sharepoint to Blob",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Finance_Sharepoint_To_BLOB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Copy Blob to SQL DB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy Sharepoint to Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Finance_Sharepoint_Blob_to_SQL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_Exceptions",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_CurrencyExposure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Exceptions",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_Subledger_TransactionsList_Blend_CoreTables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CREATE_TB_Rec",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Subledger_TransactionsList_Blend_CoreTables",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_BlendMarginAnalysis",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_BlendAnalysisCoreScripts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_BlendMarginAnalysis",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_CurrencyExposure",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_BlendMarginAnalysis",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_CurrencyExposure",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_BlendAnalysisCoreScripts",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_Subledger_TransactionsList_Blend_CoreTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_BlendAnalysisCoreScripts",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_SubledgerSuppliersCustomers",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_BlendAnalysisCoreScripts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_SubledgerSuppliersCustomers",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_TransactionsList",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_SubledgerSuppliersCustomers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_TransactionsList",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Finance"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-05T10:34:53Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_SupplyChain_Main_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SQL_PurchaseContracts_SalesContracts",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SupplyChain_Blob_to_SQL",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							},
							{
								"activity": "SupplyChain_Sharepoint_To_Blob",
								"dependencyConditions": [
									"Failed",
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_PurchaseContracts_SalesContracts",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_Inventory_OnHandBalance",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_PurchaseContracts_SalesContracts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Inventory_OnHandBalance",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_SalesContracts_Invoices",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_Inventory_OnHandBalance",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_SalesContracts_Invoices",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SupplyChain_Blob_to_SQL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SupplyChain_Sharepoint_To_Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SupplyChain_Blob_to_SQL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_Inventory_QuantityTracker",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_SalesContracts_Invoices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_Inventory_QuantityTracker",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_ShippingData",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_TSA_Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_ShippingData",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_GIT_Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_ShippingData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_GIT_Tables",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VesselFinder_GetData",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_GIT_Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VesselFinder_GetData",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SQL_TSA_Tables",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SQL_Inventory_QuantityTracker",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SQL_TSA_Tables",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "VesselFinder_PortData",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "VesselFinder_GetData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "VesselFinder_PortData",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SupplyChain_Sharepoint_To_Blob",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SupplyChain_Sharepoint_To_Blob",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Supply Chain"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}