adf-aeanalytics-prod/linkedTemplates/ArmTemplate_11.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-aeanalytics-prod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/appian_test_Pull_Suppliers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pull SuppliersData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Supplier Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supplier Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_number",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "Supplier Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BU_bill_to",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BU_bill_to",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BPA_EXISTS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BPA_exists",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Business Unit Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_line_1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address Line 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_line_2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address Line 3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_line_3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Postal Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Postal_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Phone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Phone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "E_mail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Purchasing Site Flag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchasing",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pay",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pay",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site Inactive Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Inactive_date_VET_ID_expiry_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Site VET ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VET_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ISCC Cetificate Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ISCC_certificate_number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ISCC Certificate Expiry Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ISCC_certificate_expiry_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "INS Certificate Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "INS_certificate_number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "INS Certificate Expiry Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "INS_certificate_expiry_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "CERTIFICATION_TYPE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Certification_type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GMP_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GMP_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VIHB Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VIHB_code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Vendor Category",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vendor_category",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DEFAULT_PAYMENT_METHOD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Default_payment_method",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Payment terms",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Payment_terms",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site Invoice Currency Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Invoice_currency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Site Payment Currency Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Payment_currency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BIC_SWIFT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BIC_SWIFT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VAT_NUM_SUP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VAT_number_supplier",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VAT_NUM_SITE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VAT_number_site",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IBAN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IBAN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BANK_ACCOUNT_NUM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Bank_account_number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Supplier_creation_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Supplier_creation_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "ADDRESS_CREATION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_creation_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SITE_CREATION_DATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Site_creation_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "testAppian_suppliers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AppianTest",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Appian"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_OTBI_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Appian_Copy_OTBI_Reports",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-01-10T23:15:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								22
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Finance_AdHoc_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Run_AdHoc_Finance_Stored_Procedures",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-04-01T00:00:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								5
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GL_Trigger_Afternoon')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SQL_Create_GL_TB_AfternoonRun",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2023-06-14T14:00:00",
						"timeZone": "GMT Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FinanceCube_Staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get FactBalances Data",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[CubeData].[prc_Get_GL_Balances]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GLLedgeID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "GLLedgeID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Ledger_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Ledger_ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Code_Combination_id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Code_Combination_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CURRENCY_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CURRENCY_CODE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ACTUAL_FLAG",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ACTUAL_FLAG",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATE_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LAST_UPDATE_DATE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATED_BY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LAST_UPDATED_BY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PERIOD_TYPE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_YEAR",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PERIOD_YEAR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NUM",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PERIOD_NUM",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NET_DR",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PERIOD_NET_DR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NET_CR",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PERIOD_NET_CR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "QUARTER_TO_DATE_DR",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "QUARTER_TO_DATE_DR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "QUARTER_TO_DATE_CR",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "QUARTER_TO_DATE_CR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PROJECT_TO_DATE_DR",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "PROJECT_TO_DATE_DR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PROJECT_TO_DATE_CR",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "PROJECT_TO_DATE_CR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "BEGIN_BALANCE_DR",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "BEGIN_BALANCE_DR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "BEGIN_BALANCE_CR",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "BEGIN_BALANCE_CR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NET_DR_BEQ",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "PERIOD_NET_DR_BEQ",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PERIOD_NET_CR_BEQ",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "PERIOD_NET_CR_BEQ",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "BEGIN_BALANCE_DR_BEQ",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "BEGIN_BALANCE_DR_BEQ",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "BEGIN_BALANCE_CR_BEQ",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "BEGIN_BALANCE_CR_BEQ",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "QUARTER_TO_DATE_DR_BEQ",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "QUARTER_TO_DATE_DR_BEQ",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "QUARTER_TO_DATE_CR_BEQ",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "QUARTER_TO_DATE_CR_BEQ",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PROJECT_TO_DATE_DR_BEQ",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "PROJECT_TO_DATE_DR_BEQ",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PROJECT_TO_DATE_CR_BEQ",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "PROJECT_TO_DATE_CR_BEQ",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Stamp",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Stamp",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AE_SQLDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "financecube",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Put Factbalances in staging",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Get FactBalances Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FinanceCubeImport",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SqlServerTable3",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get FinanceRef data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Put Factbalances in staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[CubeData].[prc_GetFinance]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AE_SQLDB",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "getdimfinanceref",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Put DimFinanceRef in staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get FinanceRef data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "getdimfinanceref",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AESQLFinanceRef",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "FinanceCube"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Update Appian Production')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Clear Prod Staging Tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[prc_AppianClearStaging]"
						},
						"linkedServiceName": {
							"referenceName": "Appian_prod",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Populate BPA Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Clear Prod Staging Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Appian BPA Pull  Prod",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Populate Suppliers Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Populate BPA Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Appian Suppliers Pull Prod",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Populate Traceability Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Populate Suppliers Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Appian Traceability Pull Prod",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Clear main tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Populate Traceability Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[prc_AppianClearMain]"
						},
						"linkedServiceName": {
							"referenceName": "Appian_prod",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Move Staging to main data",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Clear main tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[prc_AppianPopulateMain]"
						},
						"linkedServiceName": {
							"referenceName": "Appian_prod",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Appian PipeLine_Prod"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UpdateAppianFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get BPA Data",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DevAppian_BPA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Get Suppliers Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Get BPA Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DevAppian_Suppliers",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Get Traceability Data",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Get Suppliers Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DevAppian_traceability",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Pull BPA Data - Dev",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Clear Staging Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "appianPull",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Pullv Suppliers Data - Dev",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Pull BPA Data - Dev",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "appianPull_Suppliers_V2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Pull Traceability Data - Dev",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Pullv Suppliers Data - Dev",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "appianPull_traceability",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Clear Staging Tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Get Traceability Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[prc_AppianClearStaging]"
						},
						"linkedServiceName": {
							"referenceName": "appDev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Clear Main",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Pull Traceability Data - Dev",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[prc_AppianClearMain]"
						},
						"linkedServiceName": {
							"referenceName": "appDev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Move Staging To Main",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Clear Main",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[prc_AppianPopulateMain]"
						},
						"linkedServiceName": {
							"referenceName": "appDev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Appian PipeLine_Prod"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ARGENT_Exp_And_Pos_TRADE_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Oracle_Data_Trade_Pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-04-01T00:00:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								23
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ARGENT_Pricing_TRADE_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Pricing_Data_Trade_Pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-04-01T00:00:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								9
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ARGENT_SupplyChain_MainPipeline')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SQL_SupplyChain_Main_Pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2023-05-18T06:00:00",
						"timeZone": "GMT Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ARGENT_Trade_Afternoon_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Oracle_Data_Trade_Pipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2023-05-25T12:00:00",
						"timeZone": "GMT Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GL_TRIGGER')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SQL_Finance_MainPipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-04-01T00:00:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								3
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Get_Daily_Settlements",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-04-01T00:00:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								2
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Spread_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Update_Spread_DataWallet",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-04-01T00:00:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								22
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ultimo Planning Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SQL_UltimoPlanning",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-04-01T00:00:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								23
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_Dev_Release')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This Pipeline populates the Deve environment for Appian",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "UpdateAppianFiles",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-01-10T23:45:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								22
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/UpdateAppianFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Appian_Prod')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Update Appian Production",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-01-10T00:15:00",
						"timeZone": "GMT Standard Time",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								22
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Update Appian Production')]"
			]
		}
	]
}